<script lang='ts'>
  import { run } from 'svelte/legacy';

  import Heading from '../Heading.svelte';
  import Episodes from './Episodes.svelte';
  import Navigation from '../Navigation.svelte';
  import type { PageData } from './$types';
  import type { AdminEpisode, IndexingEpisode, IndexingStatus } from '../../../types';
  import { onMount } from 'svelte';
  import { collection, getFirestore, onSnapshot, query, where } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { COLLECTIONS } from '$lib/firebase';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let indexingEpisodes: IndexingEpisode[] = $state([]);

  onMount(() => {
    const unsubscribeIndexingStatuses = updateIndexingStatuses();
    const unsubscribeAdminEpisodes = updateAdminEpisodes();
    return () => {
      unsubscribeIndexingStatuses();
      unsubscribeAdminEpisodes();
    };
  });

  function updateIndexingStatuses(): () => void {
    const q = query(collection(getFirestore(app), COLLECTIONS.INDEXING_STATUS), where('show', '==', data.show?.show), where('timestamp', '>', Date.now()));
    return onSnapshot(q, (snapshot) => {
      const episodes: IndexingEpisode[] = [...indexingEpisodes];
      snapshot.forEach((doc) => {
        const indexingStatus = doc.data() as IndexingStatus;
        const index = episodes.findIndex((e) => e.season === indexingStatus.season && e.episode === indexingStatus.episode);
        if (index !== -1) {
          episodes[index].indexingStatus = indexingStatus;
          if (indexingStatus.status === 'COMPLETE')
            episodes[index].indexed = true;
        }
      });
      indexingEpisodes = episodes;
    });
  }

  function updateAdminEpisodes(): () => void {
    const q = query(collection(getFirestore(app), COLLECTIONS.SHOWS, data.show?.show as string, COLLECTIONS.EPISODES));
    return onSnapshot(q, (snapshot) => {
      const episodes: IndexingEpisode[] = [...indexingEpisodes];
      snapshot.forEach((doc) => {
        const adminEpisode = { ...doc.data(), id: doc.id } as AdminEpisode;
        const index = episodes.findIndex((e) => e.season === adminEpisode.season && e.episode === adminEpisode.episode);
        if (index !== -1) {
          episodes[index].adminEpisode = adminEpisode;
          episodes[index].subtitleCount = adminEpisode.subtitleCount ?? episodes[index].subtitleCount;
          episodes[index].scaled = !!(adminEpisode?.scaled480pVideo && adminEpisode?.scaled150pVideo);
        }
      });
      indexingEpisodes = episodes;
    });
  }

  run(() => {
    const mergingEpisodes: { [key: string]: IndexingEpisode } = {};

    const getIndexingEpisode = (selector: Pick<IndexingEpisode, 'show' | 'season' | 'episode' | 'title'>): IndexingEpisode => {
      const key = `${selector.show}-${selector.season}-${selector.episode}`;
      if (!mergingEpisodes[key]) {
        mergingEpisodes[key] = {
          ...selector,
          subtitleCount: 0,
          indexed: false,
          scaled: false
        };
      }
      return mergingEpisodes[key];
    };
    if (data.adminEpisodes)
      data.adminEpisodes.forEach((episode) => {
        const indexingEpisode = getIndexingEpisode({
          show: episode.show,
          season: episode.season,
          episode: episode.episode,
          title: episode.title
        });
        indexingEpisode.subtitleCount = episode.subtitleCount ?? indexingEpisode.subtitleCount;
        indexingEpisode.indexed = true;
        indexingEpisode.adminEpisode = episode;
        indexingEpisode.scaled = !!(episode.scaled480pVideo && episode.scaled150pVideo);
      });
    if (data.plexEpisodes)
      data.plexEpisodes.forEach((episode) => {
        const indexingEpisode = getIndexingEpisode({
          show: episode.show,
          season: episode.season,
          episode: episode.episode,
          title: episode.title
        });
        indexingEpisode.plexEpisode = episode;
      });
    indexingEpisodes = Object.values(mergingEpisodes);
  });
</script>
{#if data.show}
	<Heading show={data.show} episodes={indexingEpisodes} />
	<div class='border-t border-white/10 pt-11'>
		<div class='mb-5'>
			<Navigation active='episodes' show={data.show} />
		</div>
		<Episodes episodes={indexingEpisodes} />
	</div>
{/if}