<script lang='ts'>
  import type { Season as SeasonType, IndexingEpisode  } from '../../../types';
  import Season from './Season.svelte';


  interface Props {
    episodes: IndexingEpisode[];
  }

  let { episodes }: Props = $props();

  function groupEpisodesBySeason(episodes: IndexingEpisode[]): SeasonType[] {
    const seasonMap: Record<string, SeasonType> = {};
    for (const episode of episodes) {
      if (!seasonMap[episode.season]) {
        seasonMap[episode.season] = { season: episode.season, episodes: [] };
      }
      seasonMap[episode.season].episodes.push(episode);
    }
    return Object.values(seasonMap).sort((a, b) => parseInt(a.season.split(' ')[1]) - parseInt(b.season.split(' ')[1]));
  }

</script>
<div class='px-4 sm:px-6 lg:px-8'>

	{#each groupEpisodesBySeason(episodes) as season}
		<Season {season} />
	{/each}
</div>