<script lang='ts'>
  import { run } from 'svelte/legacy';


  import type { IndexingEpisode, PlexEpisode } from '../../../types';
  import { faAngleRight, faTrash } from '@fortawesome/pro-solid-svg-icons';
  import SvgCircle from '$lib/client/SvgCircle.svelte';
  import IndexButton from './IndexButton.svelte';
  import { getToken } from '$lib/client/auth';
  import { SERVER_URL } from '$lib/constants';
  import { datadogLogs } from '@datadog/browser-logs';
  import type { EpisodeId } from '$lib/types';
  import { Fa } from 'svelte-fa';

  interface Props {
    episode: IndexingEpisode;
  }

  let { episode = $bindable() }: Props = $props();
  let statusText: string = $state();
  let statusClass: string = $state();
  let indexing: boolean = $state();
  let scaled: boolean = $state();
  let orphaned: boolean = $state(false);


  run(() => {
    indexing = !!episode.indexingStatus && episode.indexingStatus.status !== 'COMPLETE';
    orphaned = (!!episode.adminEpisode && !episode.plexEpisode);
    scaled = episode.scaled;
    if (indexing) {
      statusText = 'Indexing';
      statusClass = 'variant-soft-primary border-primary-500';
    } else if (orphaned) {
      statusText = 'Orphaned';
      statusClass = 'variant-soft-warning border-warning-500';
    } else if (!episode.indexed) {
      statusText = 'Not Indexed';
      statusClass = 'variant-soft-surface border-surface-500';
    } else if (episode.adminEpisode?.sourceVideo !== episode.plexEpisode?.videoFile && episode.adminEpisode?.sourceVideo) {
      statusText = 'Video file mismatch';
      statusClass = 'variant-soft-danger border-danger-500';
    } else {
      statusText = 'Indexed';
      statusClass = 'variant-soft-success border-success-500';
    }
  });

  async function indexEpisode(plexEpisode: PlexEpisode | undefined) {
    if (plexEpisode === undefined) {
      return;
    }
    indexing = true;
    episode.indexingStatus = {
      status: 'STARTING',
      season: episode.season,
      episode: episode.episode,
      show: episode.show,
      message: 'Indexing started',
			taskQuantity: 0,
			totalTaskQuantity: 0,
			timestamp: new Date().getTime()
    };
    const token = await getToken();
    const response = await fetch(`${SERVER_URL}/v1/index/show`, {
      method: 'POST',
      body: JSON.stringify(plexEpisode),
      headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` }
    });
    if (!response) {
      datadogLogs.logger.error('Failed to index episode', { plexEpisode });
    }
  }

  async function deleteEpisode(episode: EpisodeId) {
    const token = await getToken();
    const response = await fetch(`${SERVER_URL}/v1/episode/${encodeURIComponent(episode.show)}-${episode.season}-${episode.episode}`, {
      method: 'DELETE',
      headers: { 'Authorization': `Bearer ${token}` }
    });
    if (!response) {
      datadogLogs.logger.error('Failed to delete episode', { episode });
    }
  }
</script>
<div class='md:flex md:flex-row items-center justify-between gap-x-6 py-3 px-6 my-2 hover:bg-surface-700 relative'>
	{#if episode.indexed && episode.adminEpisode?.id}
		<a href={`episodes/${encodeURIComponent(episode.adminEpisode?.id.replaceAll("%2E","."))}`} class='absolute inset-0 '>
		</a>
	{/if}

	<div class='min-w-0'>
		<div class='flex items-start gap-x-3'>
			<p class='md:text-sm font-semibold leading-6 text-surface-50 unstyled'>Episode {episode.episode}</p>
			<p
				class='badge text-sm md:text-xs whitesapce-nowrap {statusClass} unstyled border'>{statusText}</p>
		</div>
		<div
			class='mt-1 flex flex-wrap items-center gap-x-2 text-sm md:text-xs leading-5 text-surface-400 gap-y-1'>
			<p class='md:whitespace-nowrap unstyled'>{episode.title}</p>
			{#if episode.indexed}
				<SvgCircle />
				{#if indexing || !episode.subtitleCount}
					<p class='whitespace-nowrap unstyled'>??? Subtitles</p>
				{:else}
					<p class='whitespace-nowrap unstyled'>{episode.subtitleCount} Subtitles</p>
				{/if}
			{/if}
			{#if episode.indexed && !scaled}
				<SvgCircle />
				<p class='variant-soft-error unstyled rounded px-1 whitespace-nowrap inline-block'>Not Scaled</p>
			{/if}
			{#if episode.adminEpisode?.japaneseSubtitles}
				<SvgCircle />
				<p class='variant-soft-primary unstyled rounded px-1 whitespace-nowrap inline-block'>Japanese
					Subtitles</p>
			{/if}
			{#if episode.episodeContext}
				<SvgCircle />
				<p class='variant-soft-primary unstyled rounded px-1 whitespace-nowrap inline-block'>Context
					Generated</p>
				<SvgCircle />
				{#if episode.episodeContext.reviewed}
					<p class='variant-soft-success unstyled rounded px-1 whitespace-nowrap inline-block'>Reviewed</p>
				{:else}
					<p class='variant-soft-error unstyled rounded px-1 whitespace-nowrap inline-block'>Not Reviewed</p>
				{/if}
			{/if}
		</div>
	</div>
	<div class='flex items-center justify-end w-full md:w-auto gap-x-4 mt-2 md:mt-0 z-10'>
		{#if orphaned}
			<button class='btn variant-filled-warning hover:variant-filled-warning' onclick={()=>deleteEpisode(episode)}>
				Delete Orphan
				<Fa icon={faTrash} class='inline-block' />
			</button>
		{:else}
			<IndexButton indexed={episode.indexed} indexingStatus={episode.indexingStatus}
									 on:click={()=>indexEpisode(episode.plexEpisode)} />
		{/if}
		{#if episode.indexed && !indexing}
			<a href='episodes/{episode.adminEpisode?.id.replaceAll("%2E",".")}/subtitles' class='unstyled hidden md:inline'>
				<Fa class='my-auto text-4xl text-surface-200/60' icon={faAngleRight} />
			</a>
		{:else }
			<div class='mr-5'></div>
		{/if}
	</div>
</div>
