<script lang='ts'>
	import { createBubbler, stopPropagation } from 'svelte/legacy';

	const bubble = createBubbler();
  import { ProgressBar } from '@skeletonlabs/skeleton';
  import type { IndexingStatus } from '../../../types';

	interface Props {
		indexingStatus: IndexingStatus|undefined;
		indexed: boolean;
	}

	let { indexingStatus, indexed }: Props = $props();
</script>
{#if !indexingStatus}
	<button class='btn md:btn-sm variant-ghost z-10'
					onclick={stopPropagation(bubble('click'))}>{indexed ? 'Reindex' : 'Index'}</button>
{:else}
	<div class='btn btn-sm variant-ghost block'>
		<p>{indexingStatus.message}</p>
		{#if indexingStatus.taskQuantity}
			<ProgressBar label='Hashing Progress' value={indexingStatus.taskQuantity}
									 max={indexingStatus.totalTaskQuantity} />
		{/if}
	</div>
{/if}