<script lang='ts'>

  import type { Season } from '../../../types';
  import { onMount } from 'svelte';
  import EpisodeRow from './EpisodeRow.svelte';
  import { getSortKey } from '$lib/utilities';

  interface Props {
    season: Season;
  }

  let { season }: Props = $props();
  let expanded = $state(false);

  onMount(() => {
    expanded = !season.episodes.every(episode => episode.indexed);
  });
</script>

<div class='py-2 hover:bg-surface-500 rounded-md -mx-2 px-2 cursor-pointer relative'>
	<button class='absolute inset-0' onclick={()=>expanded=!expanded}>
	</button>
	<h4>{season.season}</h4>
</div>
{#if expanded}
	<div class='divide-y'>
		{#each season.episodes.sort((a,b) =>getSortKey(a).localeCompare(getSortKey(b))) as episode}
			<EpisodeRow {episode} />
		{/each}
	</div>
{/if}
