<script lang='ts'>
  import { run } from 'svelte/legacy';

  import { navigating, page } from '$app/stores';
  import type { Snapshot } from './$types';
  import { afterNavigate, onNavigate, pushState } from '$app/navigation';
  import type { AfterNavigate } from '@sveltejs/kit';

  import { AppShell, Drawer, getDrawerStore, initializeStores, Modal, storePopup, Toast } from '@skeletonlabs/skeleton';
  import { arrow, autoUpdate, computePosition, flip, offset, shift } from '@floating-ui/dom';
  import HeaderMenu from '../HeaderMenu.svelte';
  import Footer from '../Footer.svelte';
  import SidebarMenu from '../SidebarMenu.svelte';
  import LoadingBar from '../LoadingBar.svelte';
  import SubtitleDrawer from '$lib/client/SubtitleDrawer.svelte';
  import { browser } from '$app/environment';
  import { BOTTOM_DRAWER_CONFIG, SIDE_DRAWER_CONFIG } from '$lib/constants';
  import { isMobile } from '$lib/client/stores';
  interface Props {
    children?: import('svelte').Snippet;
  }

  let { children }: Props = $props();

  initializeStores();
  const drawStore = getDrawerStore();
  let pageElement: HTMLDivElement | null = null;
  let lastScrollPosition = 0;
  let loaded = $state(false);

  run(() => {
    //push the subtitleid to the url if present, remove it if absent
    if (browser && loaded) {
      if ($drawStore?.open && $drawStore?.meta?.subtitleId) {
        if (!window.location.search.includes($drawStore?.meta?.subtitleId)) {
          const url = new URL(window.location.href);
          url.searchParams.set('subtitleDrawer', $drawStore?.meta?.subtitleId);
          pushState(url, {});
        }
      } else if (window.location.search.includes('subtitleDrawer')) {
        const url = new URL(window.location.href);
        url.searchParams.delete('subtitleDrawer');
        pushState(url, {});
      }
    }
  });
  export const snapshot: Snapshot<State> = {
    capture: captureState,
    restore: restoreState
  };

  type State = { scrollPosition: number | undefined };

  function captureState(): State {
    return { scrollPosition: lastScrollPosition };
  }

  function restoreState(state: State) {
    setTimeout(() => {
      if (pageElement !== null) {
        pageElement.scrollTop = state.scrollPosition ?? 0;
      } else {
        console.error('page element not found');
      }
    }, 0);
  }

  function initializePageElement() {

    let newPage = document.getElementById('page') as HTMLDivElement || null;
    if (newPage !== pageElement) {
      pageElement = newPage;
      pageElement?.addEventListener('scroll', () => {
        if (pageElement !== null && pageElement.scrollTop !== 0) {
          lastScrollPosition = pageElement.scrollTop;
        }
      });
    }
  }

  afterNavigate((params: AfterNavigate) => {
    initializePageElement();
    if ($page.url.searchParams.has('subtitleDrawer'))
      drawStore.open({
        ...($isMobile ? BOTTOM_DRAWER_CONFIG : SIDE_DRAWER_CONFIG),
        meta: { subtitleId: $page.url.searchParams.get('subtitleDrawer') }
      });
    const isNewPage: boolean = params.type !== 'popstate';
    if (isNewPage && pageElement !== null) {
      pageElement.scrollTop = 0;
    }
    loaded = true;
  });

  onNavigate(() => {
    drawStore.close();
  });

  storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow });
</script>
<AppShell>

	{#snippet header()}
  
  		<HeaderMenu />
  		{#if $navigating}
  			<LoadingBar />
  		{/if}
  	
  {/snippet}
	{#snippet sidebarLeft()}
  
  		<div class='hidden md:block h-full'>
  			<SidebarMenu />
  		</div>
  	
  {/snippet}
	{#snippet pageFooter()}
  
  		<Footer />
  	
  {/snippet}
	<div class='md:py-5 py-2 min-h-[60vh] md:min-h-0'>
		{@render children?.()}
	</div>
</AppShell>
<Toast padding='p-2' buttonDismiss='btn-icon btn-icon-sm variant-filled p-1' />
<Modal />
<Drawer>
	{#if $drawStore.meta.subtitleId}
		<SubtitleDrawer subtitleId={$drawStore.meta.subtitleId} />
	{/if}
</Drawer>