<script lang="ts">

  import { onMount } from "svelte";
  interface Props {
    children?: import('svelte').Snippet;
  }

  let { children }: Props = $props();

  const BoardToken = "03b74104-76f6-879a-218b-165ab033f174";

  onMount(() => {
    Canny("render", {
      boardToken: BoardToken,
      basePath: "/feedback/issues", // See step 2
      ssoToken: null, // See step 3
      theme: "dark" // options: light [default], dark, auto
    });
  });
</script>
<svelte:head>
  <title>Issues</title>
</svelte:head>
    <div class="mb-3">
  <h1>Issues</h1>
    </div>
  <div data-canny></div>
{@render children?.()}