<script lang='ts'>

  import type { HeadData, Subtitle } from '$lib/types';
  import { applyHeight, delay } from '$lib/utilities';
  import { add } from '$lib/client/ContentCache';
  import { getContext, onMount } from 'svelte';
  import { COLLECTIONS } from '$lib/firebase';
  import { addDoc, collection, getCountFromServer, getFirestore, query, where } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { isAuthenticated, user } from '$lib/client/auth';
  import { persisted } from 'svelte-persisted-store';
  import type { Writable } from 'svelte/store';
  import { fade } from 'svelte/transition';
  import { datadogLogs } from '@datadog/browser-logs';
  import { getRandomShowSubtitles } from '$lib/client/content';
  import type { PageData } from './$types';

  const head:Writable<HeadData> = getContext('head')
  onMount(() => {
    $head.title = 'Guess This Anime';
    $head.description = 'Guess the anime from the image';
    if ($subtitle) {
      choices = getRandomAnime($subtitle.show);
    }
    getSubtitle()
      .then(s => {
        if (!$subtitle) {
          $subtitle = s;
          choices = getRandomAnime($subtitle.show);
          nextSubtitle = getSubtitle();
        } else {
          nextSubtitle = Promise.resolve().then(() => s);
        }
      })
    ;
    getScore().then(s => score = s);

  });

  let choices: string[] = $state([]);
  let subtitle: Writable<Subtitle | undefined> = persisted('guess-this-anime-subtitle', undefined, { storage: 'local' });
  let guesses: Writable<string[]> = persisted('guess-this-anime-guesses', [], { storage: 'local' });
  let nextSubtitle: Promise<Subtitle>;
  const longestStreak = persisted('longestStreak', 0, { storage: 'local' });
  let streak = $state(0);
  let score = $state({ total: 0, correct: 0 });
  let lock = $state(false);
  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();

  async function getSubtitle(): Promise<Subtitle> {
    const show = data.anime[Math.floor(Math.random() * data.anime.length)].show;
    try {
      const subtitles = await getRandomShowSubtitles(show);
      if (subtitles.length === 0) {
        datadogLogs.logger.error('Failed to get random subtitle for show', { show });
        return getSubtitle();
      }
      const subtitle = subtitles[0];
      await add(getImageUrl(subtitle));
      return subtitle;
    } catch (e) {
      datadogLogs.logger.error('Failed to get random subtitle for show', { show }, e);
      return getSubtitle();
    }
  }

  function getImageUrl(subtitle: Subtitle): string {
    const url = applyHeight(new URL(subtitle.pngUrl), -1);
    url.searchParams.set('includeSubtitles', 'false');
    return url.toString();
  }

  function getRandomAnime(actual: string, count = 8) {
    const randomAnime = [actual];
    while (randomAnime.length < count) {
      const randomElement = data.anime[Math.floor(Math.random() * data.anime.length)].show;
      if (!randomAnime.includes(randomElement)) {
        randomAnime.push(randomElement);
      }

    }
    return randomAnime.sort(() => Math.random() - 0.5);
  }


  async function guess(guess: string, s: Subtitle) {
    if (lock) return;
    $guesses = [...$guesses, guess];
    const correct = s.show === $guesses[0];
    streak = correct ? streak + 1 : 0;
    if (streak > $longestStreak) {
      $longestStreak = streak;
    }
    if (guess === s.show) {
      lock = true;
      if (isAuthenticated()) {
        const collectionRef = collection(getFirestore(app), COLLECTIONS.USERS, $user!.uid, COLLECTIONS.GUESSES);
        await addDoc(collectionRef, {
          subtitle: s,
          guess: $guesses[0],
          guesses: $guesses,
          correct,
          choices,
          timestamp: new Date()
        });
      }
      await delay(500);
      $subtitle = await nextSubtitle;
      $guesses = [];
      nextSubtitle = getSubtitle();
      choices = getRandomAnime($subtitle.show);
      if (isAuthenticated() && score.total === 0)
        score = await getScore();
      else
        score = { total: score.total + 1, correct: score.correct + (correct ? 1 : 0) };
      lock = false;
    }
  }

  function getButtonClass(choice: string, g: string[]) {
    if (g.includes(choice))
      return $subtitle!.show === choice ? 'variant-ghost-success' : 'variant-ghost-error';
    return 'variant-ghost';
  }

  async function getScore(): Promise<{ total: number, correct: number }> {
    if (!isAuthenticated()) {
      return { total: 0, correct: 0 };
    }
    const collectionRef = collection(getFirestore(app), COLLECTIONS.USERS, $user!.uid, COLLECTIONS.GUESSES);
    const [totalSnapshot, correctSnapshot] = await Promise.all([
      getCountFromServer(collectionRef),
      getCountFromServer(query(collectionRef, where('correct', '==', true)))
    ]);
    return { total: totalSnapshot.data().count, correct: correctSnapshot.data().count };
  }


</script>
{#if $subtitle}
	<h1 class='text-2xl text-center'>Guess the anime</h1>
	{#key $subtitle}
		<div class='lg:flex lg:justify-between mb-2' in:fade={{duration:200}}>
			<div class='mb-2 lg:mb-0'>
				<img src={getImageUrl($subtitle)} alt='this is where the frame is supposed to be' class='w-full'>
			</div>
			<div class='grid grid-cols-2 lg:w-[400px] gap-2 px-2 flex-none'>
				{#each choices as choice}
					<button onclick={() => guess(choice, $subtitle )} disabled={$guesses.includes(choice) || lock}
									class='btn text-sm  {getButtonClass(choice,$guesses)}'><span
						class='text-wrap line-clamp-3 lg:line-clamp-6 overflow-ellipsis'>{choice}</span></button>
				{/each}
			</div>
		</div>
	{/key}
	<div class='flex justify-around my-1'>
		<p>Streak: {streak}</p>
		<p>Longest Streak: {$longestStreak}</p>
	</div>
	<div class='flex justify-around my-1'>
		{#if score.total > 0}
			<p>{(score.correct / score.total * 100).toFixed(2)}% correct ({score.total} total)</p>
		{/if}
	</div>

{:else }
	<p>Loading...</p>
{/if}
