<script lang='ts'>
  import { onMount } from 'svelte';
  import { getProfile, user } from '$lib/client/auth';
  import { doc, getFirestore, updateDoc } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';

  let name: string = $state('');
  onMount(()=>{
    return getProfile().subscribe(profile=>{
      name = profile.name||'';
		})
	})

	async function updateName(){
    await updateDoc(doc(getFirestore(app), 'users', $user!.uid), {name});
	}
</script>
<input bind:value={name} onblur={updateName} placeholder='Name' class='input'>