<script lang="ts">
  import Navigation from "../Navigation.svelte";
  import {  writable } from 'svelte/store';
  import {Fa} from 'svelte-fa';
  import {
    faStarfighterTwinIonEngineAdvanced
  } from "@fortawesome/pro-solid-svg-icons";
  import { SERVER_URL } from "$lib/constants";
  import type { AdminEpisode } from '../../../../../types';
  import { onMount } from 'svelte';
  import type { PageData } from './$types';
  import type { Show } from '$lib/types';

  type SavedEvent = { domain: string, id: string, eventUtc: number, eventJson: string };

  enum EpisodeEventType {
    UPDATE_SUBTITLE_COUNT = "UPDATE_SUBTITLE_COUNT", CREATE = "CREATE", MIGRATE = "MIGRATE",
    SCALE = "SCALE", UPDATE_JAPANESE_SUBTITLES = "UPDATE_JAPANESE_SUBTITLES", UPDATE_TAGS = "UPDATE_TAGS"
  }

  type EventDifference = { key: string, original: undefined | string | number, updated: undefined | string | number };
  type EpisodeEvent = AdminEpisode & {
    _type: EpisodeEventType,
    eventUtc: number,
    differences: Array<EventDifference>
  };

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let show = data.show as Show;
  let episode = data.adminEpisode as AdminEpisode;
  let episodes = data.adminEpisodes as AdminEpisode[];
  const eventStore = writable<EpisodeEvent[]>([]);

  onMount(()=>{
    getEvents(data.adminEpisode as AdminEpisode).then(e=>eventStore.set(e)).catch(e => console.error(e));
	})

  async function getEvents(episode: AdminEpisode): Promise<Array<EpisodeEvent>> {
    const response = await fetch(`${SERVER_URL}/v1/event/episode/${episode.show}-${episode.season}-${episode.episode}`,{credentials: "include"});
    const events: Array<SavedEvent> = await response.json();
    const episodeEvents: Array<EpisodeEvent> = events.map(e => {
      return { ...JSON.parse(e.eventJson), eventUtc: e.eventUtc };
    });
    let nextEvent: undefined | EpisodeEvent = undefined;
    const filteredEvents = episodeEvents.filter(e => {
      const isSameType = nextEvent?._type === e._type;
      if (nextEvent)
        nextEvent.differences = resolveDifferences(e, nextEvent);
      e.differences = [];
      nextEvent = e;
      return !(isSameType && e._type === EpisodeEventType.UPDATE_SUBTITLE_COUNT);
    });
    return filteredEvents;
  }

  const BLACKLIST_KEYS = new Set(["_type", "eventUtc", "differences"]);

  function resolveDifferences(original: EpisodeEvent, updated: EpisodeEvent): Array<EventDifference> {
    const keys = Object.keys(updated);
    let keyFilter:(key:string)=>boolean;
    if (updated._type === EpisodeEventType.SCALE)
      keyFilter = key => key.startsWith("scaled");
    else if (updated._type === EpisodeEventType.UPDATE_SUBTITLE_COUNT)
      keyFilter = key => key === "subtitleCount";
    else if(updated._type === EpisodeEventType.UPDATE_JAPANESE_SUBTITLES)
      keyFilter = key => key === "japaneseSubtitles";
    else if(updated._type === EpisodeEventType.UPDATE_TAGS)
      keyFilter = key => key === "tags";
    else
      keyFilter = key => !BLACKLIST_KEYS.has(key);
    return keys
      .filter(keyFilter)
      .filter(key => original[key] !== updated[key])
      .map(key => {
        return { key, original: original[key], updated: updated[key] };
      });
  }

  function mapEventTitle(event: EpisodeEvent) {
    switch (event._type) {
      case EpisodeEventType.CREATE:
      case EpisodeEventType.MIGRATE:
        return "Index Episode";
      case EpisodeEventType.UPDATE_SUBTITLE_COUNT:
        return `Subtitle Count ${event.subtitleCount}`;
      case EpisodeEventType.SCALE:
        return "Scale Episode";
      case EpisodeEventType.UPDATE_JAPANESE_SUBTITLES:
        return "Update Japanese subtitles";
      case EpisodeEventType.UPDATE_TAGS:
        return "Update Tags";
    }
  }
</script>
<style>
    .feed-icon {
        @apply h-8 w-8 rounded-full flex items-center justify-center ring-8 ring-surface-500;
    }
</style>
<Navigation active="events" {show} {episode} {episodes}/>
<div class="my-5 mx-2">
  <div class="flow-root">
    <ul role="list" class="-mb-8 space-y-5">
      {#each $eventStore as event,i}
        <li>
          <div class="relative flex gap-x-4">
            <div
              class="absolute left-0 top-0 flex w-12 justify-center {(i!==$eventStore.length-1)?'-bottom-12':'h-12'}">
              <div class="w-px bg-surface-200"></div>
            </div>
            <div class="relative flex h-12 w-12 flex-none items-center justify-center bg-surface-900">
              <div class=" feed-icon bg-surface-500 ">
                <Fa icon={faStarfighterTwinIonEngineAdvanced} />
              </div>
            </div>
            <div class="flex-auto ">
              <div class="flex justify-between gap-x-4">
                <div class="flex min-w-0 flex-1 justify-start items-start space-x-4 pt-1.5">
                  <div class="flex flex-col items-start justify-center min-w-[200px]">
                    <p class="unstyled text-surface-200 font-semibold">{mapEventTitle(event)}</p>
                    <p class="unstyled text-sm text-surface-300">
                      <span>{new Date(event.eventUtc).toLocaleString()}</span>
                    </p>
                  </div>
                  <div>
                    {#each event.differences as difference}
                      <div class="space-y-1 my-3 first:mt-0">
                        <p class="px-2 variant-soft-success font-mono">+ {difference.key}: {difference.updated}</p>
                        <p class="px-2 variant-soft-error font-mono">- {difference.key}: {difference.original}</p>
                      </div>
                    {/each}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      {/each}
    </ul>
  </div>
</div>