<script lang='ts'>
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';
  import { getContext, onMount } from 'svelte';

  const links = [
    {
      href: '/game/guess',
      title: 'Guess This Anime',
      description: 'Guess which anime a single frame is from. Try and get your streak as high as possible!'
    },
    { href: '/game/memory', title: 'Memory', description: 'Select 4 anime and try to match frames from the same anime' },
    { href: '/game/sliding',title: 'Sliding Puzzle', description: 'Move the chunks of the iamge around to get to the original image'}
  ];
  const head:Writable<HeadData> = getContext('head')
	onMount(()=>{
    		$head.title = 'Games';
        $head.description = 'Play some games to test your anime knowledge';
	})
</script>

<div class='m-2 lg:mx-auto flex flex-col gap-2'>
	{#each links as link}

		<div class='btn variant-ghost relative block'>
			<a href={link.href} class='inset-0 absolute z-[1] opacity-0'>
				{link.title}
			</a>
			<p class='font-bold text-lg'>{link.title}</p>
			<p class='text-sm text-wrap'>{link.description}</p>
		</div>
	{/each}
</div>