<script lang="ts">

  import Heading from "./Heading.svelte";
  import type { PageData } from './$types'

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
</script>

{#if data.show}
  <Heading  show={data.show} episodes={[]}/>
  <div class="border-t border-white/10 pt-11">
    <div class="w-full border-surface-500 border-b flex justify-start">
      <a href="{data.show.show}/episodes" class="flex-none text-center px-4 py-2 rounded-t border-b-2 border-surface-50 unstyled">Episodes</a>
      <a href="{data.show.show}/actor-roles" class="flex-none text-center px-4 py-2 rounded hover:variant-soft unstyled">Actor Roles</a>
    </div>
  </div>
{/if}