<script lang='ts'>
	import { run } from 'svelte/legacy';


  import { Fa } from 'svelte-fa';
  import { faArrowUpRightFromSquare } from '@fortawesome/pro-solid-svg-icons';
  import StatusDot from '$lib/client/StatusDot.svelte';
  import { SERVER_URL } from '$lib/constants';
  import type { Show } from '$lib/types';
  import type { IndexingEpisode } from '../../types';
  import { getToken } from '$lib/client/auth';

	interface Props {
		show: Show;
		episodes: IndexingEpisode[];
	}

	let { show, episodes }: Props = $props();

  let episodeCount: number = $state();
  let indexedCount: number = $state();
  let scaledCount: number = $state();
  let episodesIndexedStatus: string = $state();
  let episodesScaledStatus: string = $state();


  async function toggleAnime() {
    const token = await getToken();
    const response = await fetch(`${SERVER_URL}/v1/show/${encodeURIComponent(show.show)}/is-anime`, {
      method: 'PUT',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
				'Authorization': `Bearer ${token}`
      },
      body: JSON.stringify({
        isAnime: !show.anime
      })
    });
    await response.json();
  }


  function getEpisodesStatus(indexedCount: number | string, episodeCount: number) {
    if (indexedCount === episodeCount) {
      return 'success';
    } else if (indexedCount === 0 || !indexedCount || indexedCount === '?') {
      return 'error';
    } else {
      return 'warning';
    }
  }

  function getSubtitleCount(episodes: IndexingEpisode[]) {
    const count = episodes.reduce((acc, cur) => {
      if (!cur.subtitleCount)
        return acc;
      return acc + cur.subtitleCount;
    }, 0);
    //return formatted count
    return count.toLocaleString();
  }
  run(() => {
    episodeCount = episodes.length;
    indexedCount = episodes.filter(ep => ep.indexed).length;
    scaledCount = episodes.filter(ep => ep.scaled).length;
    episodesIndexedStatus = getEpisodesStatus(indexedCount, episodeCount);
    episodesScaledStatus = getEpisodesStatus(scaledCount, indexedCount);
  });
</script>

<!-- Heading -->
<div
	class='flex flex-col items-start justify-between gap-x-8 gap-y-4 px-4 py-4 sm:flex-row sm:items-center sm:px-6 lg:px-8'>
	<div>
		<h1 class='text-white font-semibold leading-7 unstyled text-[2em]'>{show.show}</h1>
		<p class='mt-2 text-xs leading-6 unstyled text-surface-400'>{show.summary}</p>
	</div>
</div>

<!-- Stats -->
<div class='grid grid-cols-1 bg-surface-700/10 sm:grid-cols-2 lg:grid-cols-4'>
	<div class='border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8'>
		<p class='text-sm font-medium leading-6 unstyled text-surface-400'>Number of episodes indexed</p>
		<div class='my-2 flex items-center gap-x-2'>
			<StatusDot status={episodesIndexedStatus} />
			<span class='text-4xl font-semibold tracking-tight text-white'>{indexedCount}</span>
			<span class='text-sm text-surface-400'>/</span>
			<span class='text-4xl font-semibold tracking-tight text-white'>{episodeCount}</span>
		</div>
	</div>
	<div class='border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8'>
		<p class='text-sm font-medium leading-6 unstyled text-surface-400'>Number of episodes scaled</p>
		<div class='my-2 flex items-center gap-x-2'>
			<StatusDot status={episodesScaledStatus} />
			<span class='text-4xl font-semibold tracking-tight text-white'>{scaledCount}</span>
			<span class='text-sm text-surface-400'>/</span>
			<span class='text-4xl font-semibold tracking-tight text-white'>{indexedCount}</span>
		</div>
	</div>
	<div class='border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8'>
		<p class='text-sm font-medium leading-6 unstyled text-surface-400'>Popularity</p>
		<p class='my-2 flex items-baseline justify-between gap-x-2'>
			<span class='text-4xl font-semibold tracking-tight text-white'>Decommissioned</span>
		</p>
	</div>
	<div class='border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8'>
		<p class='text-sm font-medium leading-6 unstyled text-surface-400'>Number of clips created</p>
		<p class='my-2 flex items-baseline gap-x-2'>
			<span class='text-4xl font-semibold tracking-tight text-white'>?</span>
		</p>
	</div>
	<div class='border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8'>
		<p class='text-sm font-medium leading-6 unstyled text-surface-400'>Is Anime?</p>
		<p class='my-2 flex items-baseline justify-between gap-x-2'>
			<span class='text-4xl font-semibold tracking-tight text-white'>{show.anime ? 'Yes' : 'No'}</span>
			<button class='btn variant-filled btn-sm' onclick={toggleAnime}>Toggle</button>
		</p>
	</div>
	<div class='border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8'>
		<p class='text-sm font-medium leading-6 unstyled text-surface-400'>Kitsu anime Id</p>
		<p class='my-2 flex items-baseline justify-between gap-x-2'>
			{#if show.anime}
				{#if show.kitsuAnimeId}
					<span class='text-4xl font-semibold tracking-tight text-white'>{show.kitsuAnimeId}</span>
					<span class='text-sm text-surface-400 '><a href='https://kitsu.io/anime/{show.kitsuAnimeId}'
																										 target='_blank' class='unstyled'>Kitsu page <Fa
						icon={faArrowUpRightFromSquare} class='inline' /></a></span>
				{:else}
					<span class='text-4xl font-semibold tracking-tight text-white'>ERROR</span>
				{/if}
			{:else}
				<span class='text-4xl font-semibold tracking-tight text-white'>N/A</span>
			{/if}
		</p>
	</div>
	<div class='border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8'>
		<p class='text-sm font-medium leading-6 unstyled text-surface-400'>Actor Roles</p>
		<p class='my-2 flex items-baseline gap-x-2'>
			<span class='text-4xl font-semibold tracking-tight text-white'>No Actors</span>
		</p>
	</div>
	<div class='border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8'>
		<p class='text-sm font-medium leading-6 unstyled text-surface-400'>Subtitles indexed</p>
		<p class='my-2 flex items-baseline gap-x-2'>
			<span class='text-4xl font-semibold tracking-tight text-white'>{getSubtitleCount(episodes)}</span>
		</p>
	</div>
</div>