<script lang="ts">


	import type { Show } from '$lib/types';

  type Route = {
    name: string;
    path: string;
    id: string;
  }
  let routes: Array<Route> = $derived([
    { name: "Details", path: `/admin/shows/${encodeURIComponent(show.show)}/details`, id: "details" },
    { name: "Episodes", path: `/admin/shows/${encodeURIComponent(show.show)}/episodes`, id: "episodes" }
  ]);

  interface Props {
    show: Show;
    active: string;
  }

  let { show, active }: Props = $props();

  
</script>
<div class="w-full border-surface-500 border-b flex justify-start">
  {#each routes as route}
    {#if route.id === active}
      <a href={route.path}
         class="flex-none text-center px-4 py-2 rounded-t border-b-2 border-surface-50 unstyled">{route.name}</a>
    {:else}
      <a href={route.path}
         class="flex-none text-center px-4 py-2 rounded hover:variant-soft unstyled">{route.name}</a>
    {/if}
  {/each}
</div>
