<script lang='ts'>

  import type { LayoutData } from './$types';
  import Heading from './Heading.svelte';

  import Breadcrumb from '$lib/client/Breadcrumb.svelte';
  import type { HeadData, Subtitle } from '$lib/types';
  import { getContext, onMount } from 'svelte';
  import type { Writable } from 'svelte/store';

  interface Props {
    data: LayoutData;
    children?: import('svelte').Snippet;
  }

  let { data, children }: Props = $props();
  let episode = data.adminEpisode;
  let subtitles = data.subtitles as Subtitle[];
  const head:Writable<HeadData> = getContext('head')

  onMount(() => {
    if (episode)
      $head = { title: `${episode.show} - ${episode.season} episode ${episode.episode}` };
  });

  function getSeasonNumber(season: string): string {
    if (season.toLowerCase().startsWith('season'))
      return season.substring(6);
    return season;
  }

  function getBreadcrumbs(showId: string, show: string, season: string, episode: string) {
    return [
      { name: 'Admin', href: '/admin' },
      { name: 'Shows', href: '/admin/shows' },
      { name: show, href: `/admin/shows/${showId}/episodes` },
      { name: `${season} episode ${episode}` }
    ];
  }
</script>
{#if episode}
	<Breadcrumb breadcrumbs={getBreadcrumbs(episode.show,episode.show,episode.season,episode.episode)} />
	<Heading {episode} {subtitles} />
	{@render children?.()}
{/if}