<script lang='ts'>
  import Navigation from './Navigation.svelte';
  import type { PageData } from './$types';
  import type { AdminEpisode } from '../../../../types';
  import type { Show, Subtitle } from '$lib/types';
  import ParentTags from './ParentTags.svelte';
  import Tags from './Tags.svelte';
  import IndexedSubtitles from './IndexedSubtitles.svelte';
  import MiscDetails from './MiscDetails.svelte';
  import Actions from './Actions.svelte';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let episodes = data.adminEpisodes as AdminEpisode[];
  let episode = data.adminEpisode as AdminEpisode;
  let show = data.show as Show;
  let subtitles = data.subtitles as Subtitle[];
</script>

<Navigation {episode} {episodes} {show} active='' />
<div class='flex flex-col gap-4 mt-4'>
	<div class='lg:flex gap-3'>
		<ParentTags {episode} />
		<Tags {episode} />
		<MiscDetails {episode} />
		<Actions {episode} />
	</div>
	<IndexedSubtitles {subtitles} />
</div>
