<script lang='ts'>
  import type { AdminEpisode } from '../../../../types';
  import { getToastStore } from '@skeletonlabs/skeleton';
  import { episodeAction } from '$lib/client/EpisodeService';

  interface Props {
    episode: AdminEpisode;
  }

  let { episode }: Props = $props();
  const toastStore = getToastStore();

  async function performAction(type: string) {
    const actionTitle = type.charAt(0).toUpperCase() + type.slice(1);
    try {
      const response = await episodeAction(type, episode);
      if (response.ok)
        toastStore.trigger({ message: `${actionTitle} started`, background: 'variant-filled-success' });
      else
        toastStore.trigger({ message: `${actionTitle} failed`, background: 'variant-filled-danger' });
    } catch (e) {
			toastStore.trigger({ message: `${actionTitle} failed`, background: 'variant-filled-danger' });
		}

  }
</script>

<div class='border-surface-500 border rounded p-2 space-y-2'>
	<button class='btn variant-ghost w-full' onclick={()=>performAction("reindex")}>Reindex</button>
	<button class='btn variant-ghost w-full' onclick={()=>performAction("rescale")}>Rescale</button>
</div>
