<script lang="ts">


  import { formatBytes } from "$lib/formatUtilities";
  import StatusDot from "$lib/client/StatusDot.svelte";
  import type { AdminEpisode } from '../../../../types';
  import type { Subtitle } from '$lib/types';

  interface Props {
    episode: AdminEpisode;
    subtitles: Subtitle[];
  }

  let { episode, subtitles }: Props = $props();

  let subtitlesWithNames = $derived((subtitles.filter(sub => sub.name).length/subtitles.length*100).toFixed(1));

</script>
{#if episode}
  <!-- Heading -->
  <div
    class="flex flex-col items-start justify-between gap-x-8 gap-y-4 px-4 py-4 sm:flex-row sm:items-center sm:px-6 lg:px-8">
    <div>
      <h1 class="text-white font-semibold leading-7 unstyled text-[2em]">{episode.show}</h1>
      <p class="mt-2 text-xs leading-6 unstyled text-surface-400">{episode.season} episode {episode.episode}
        - {episode.title}</p>
    </div>
  </div>

  <!-- Stats -->
  <div class="grid grid-cols-1 bg-surface-700/10 sm:grid-cols-2 lg:grid-cols-4">
    <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
      <p class="text-sm font-medium leading-6 unstyled text-surface-400">Subtitle Count</p>
      <div class="my-2 flex items-center gap-x-2">
        <span class="text-4xl font-semibold tracking-tight text-white">{episode.subtitleCount}</span>
      </div>
    </div>
    <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
      <p class="text-sm font-medium leading-6 unstyled text-surface-400">Percent of subtitles with Names</p>
      <p class="my-2 flex items-baseline gap-x-2">
        <span class="text-4xl font-semibold tracking-tight text-white">{subtitlesWithNames}%</span>
      </p>
    </div>
    <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
      <p class="text-sm font-medium leading-6 unstyled text-surface-400">Popularity</p>
      <p class="my-2 flex items-baseline gap-x-2">
        <span class="text-sm text-surface-400">Ranked</span>
        <span class="text-4xl font-semibold tracking-tight text-white">#?</span>
      </p>
    </div>
    <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
      <p class="text-sm font-medium leading-6 unstyled text-surface-400">Number of clips created</p>
      <p class="my-2 flex items-baseline gap-x-2">
        <span class="text-4xl font-semibold tracking-tight text-white">?</span>
      </p>
    </div>
    <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
      <p class="text-sm font-medium leading-6 unstyled text-surface-400">Japanese Subtitles</p>
      <p class="my-2 flex items-baseline gap-x-2">
        <span class="text-4xl font-semibold tracking-tight text-white">{episode.japaneseSubtitles ? 'Yes' : 'No'}</span>
      </p>
    </div>
    <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
      <p class="text-sm font-medium leading-6 unstyled text-surface-400">Source size</p>
      <p class="my-2 flex items-baseline justify-between gap-x-2">
        <span class="text-4xl font-semibold tracking-tight text-white">{formatBytes(episode.sourceVideoBytes)}</span>
      </p>
    </div>
    <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
      <p class="text-sm font-medium leading-6 unstyled text-surface-400">Scaled 480p</p>
      <div class="my-2 flex items-baseline justify-between gap-x-2">
        <div class="flex items-center gap-x-3">
          <StatusDot status={episode.scaled480pVideo ? 'success' : 'error'} />
          <span class="text-4xl font-semibold tracking-tight text-white">{episode.scaled480pVideo ? 'Yes' : 'No'}</span>
        </div>
        <p
          class="unstyled text-sm text-surface-400 mt-auto">{episode.scaled480pVideo ? formatBytes(episode.scaled480pVideoBytes) : 'N/A'}</p>
      </div>
    </div>
    <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
      <p class="text-sm font-medium leading-6 unstyled text-surface-400">Scaled 150p</p>
      <div class="my-2 flex items-baseline justify-between gap-x-2">
        <div class="flex items-center gap-x-3">
        <StatusDot status={episode.scaled150pVideo ? 'success' : 'error'} />
        <span class="text-4xl font-semibold tracking-tight text-white">{episode.scaled150pVideo ? 'Yes' : 'No'}</span>
        </div>
        <p
          class="unstyled text-sm text-surface-400 mt-auto">{episode.scaled150pVideo ? formatBytes(episode.scaled150pVideoBytes) : 'N/A'}</p>
      </div>
    </div>
  </div>

{/if}