<script lang='ts'>
  import type { Subtitle } from '$lib/types';
  import {
    type CellEditingStoppedEvent,
    createGrid,
    type FilterModel,
    type GridApi,
    type GridOptions,
    type IRowNode,
    type ITooltipComp,
    type ITooltipParams,
    type SelectionChangedEvent
  } from 'ag-grid-community';
  import { onMount } from 'svelte';
  import 'ag-grid-community/styles/ag-grid.css';
  import 'ag-grid-community/styles/ag-theme-quartz.css';
  import { isSmallScreen } from '$lib/client/stores';
  import { applyExtension, applyHeight } from '$lib/utilities.js';
  import { getToastStore, popup, type PopupSettings } from '@skeletonlabs/skeleton';
  import { addSubtitle } from '$lib/client/subtitleUtilities';
  import { persisted } from 'svelte-persisted-store';

  interface Props {
    subtitles: Subtitle[];
  }

  let { subtitles }: Props = $props();
  let gridElement: HTMLDivElement = $state();
  const toastStore = getToastStore();
  const knownLyrics = persisted('knownLyrics', [] as string[]);

  function formatMs(ms: number): string {
    const hours = Math.floor(ms / 3600000);
    const minutes = Math.floor((ms % 3600000) / 60000).toString().padStart(2, '0');
    const seconds = Math.floor((ms % 60000) / 1000).toString().padStart(2, '0');
    const milliseconds = Math.floor(ms % 1000).toString().padStart(3, '0');
    if (hours > 0) {
      return `${hours}:${minutes}:${seconds}.${milliseconds}`;
    }
    return `${minutes}:${seconds}.${milliseconds}`;

  }

  class CustomTooltip implements ITooltipComp {
    eGui: HTMLDivElement;

    init(params: ITooltipParams & { color: string }) {
      const eGui = (this.eGui = document.createElement('div'));
      eGui.innerHTML = `
      <div class='bg-surface-800 p-2 rounded-md'>
          <img src='${params.value}' alt='Image'/>
          </div>
        `;
    }

    getGui() {
      return this.eGui;
    }
  }


  const desktopGridOptions: GridOptions<Subtitle> = {
    autoSizeStrategy: {
      type: 'fitCellContents'
    },
    getRowId: (data) => data.data.id,
    rowSelection: 'multiple',
    rowMultiSelectWithClick: true,
    onCellEditingStopped(event: CellEditingStoppedEvent<Subtitle>) {
      if (event.data) {
        updateSubtitle(event.node, event.data);
      }
    },
    tooltipShowDelay: 0,
    columnDefs: [
      { field: 'subtitleNumber', headerName: '#', checkboxSelection: true },
      {
        headerName: 'Subtitle',
        children: [
          {
            field: 'text',
            headerName: 'Text',
            filter: 'agGridTextFilter',
            editable: true,
            maxWidth: 500,
            tooltipComponent: CustomTooltip,
            tooltipValueGetter: (params) => {
              const url = applyHeight(applyExtension(new URL(params.data!.pngUrl), '.webp'), 150);
              url.searchParams.set('animated', 'true');
              return url.toString();
            }
          },
          { field: 'name', headerName: 'Name', filter: 'agGridTextFilter', editable: true },
          { field: 'kanji', headerName: 'Japanese', filter: 'agGridTextFilter', editable: true, maxWidth: 300 }
        ]
      },
      {
        headerName: 'Metadata',
        children: [
          { field: 'type', headerName: 'Type', editable: true, filter: 'agGridTextFilter' },
          { field: 'startTime', headerName: 'Start Time', valueFormatter: (params) => formatMs(params.value) },
          { field: 'endTime', headerName: 'End Time', valueFormatter: (params) => formatMs(params.value) },
          { field: 'style', headerName: 'Style', filter: 'agGridTextFilter' },
          { field: 'shouldIndex', headerName: 'Indexed', editable: true, filter: true }
        ]
      },
      {
        field: 'id',
        headerName: '',
        cellRenderer: (params: { value: string }) => {
          return `<a href='/subtitle/${encodeURIComponent(params.value)}' target='_blank'>Link</a>`;
        }
      }
    ]
  };

  const mobileGridOptions: GridOptions<Subtitle> = {
    autoSizeStrategy: {
      type: 'fitGridWidth'
    },
    columnDefs: [
      { field: 'text', headerName: 'Text', filter: 'agGridTextFilter' }
    ],
    isFullWidthRow: r => !!r.rowNode.isSelected(),
    onSelectionChanged(event: SelectionChangedEvent<Subtitle>) {
      const toReRender: IRowNode<Subtitle>[] = [];
      event.api.getRenderedNodes().forEach(node => {
        if (node.isSelected() || node.isFullWidthCell() || (node.rowHeight || 0) > 100)
          toReRender.push(node);
        node.setRowHeight(node.isSelected() ? 180 : null);
      });
      event.api.redrawRows({ rowNodes: toReRender });
      event.api.onRowHeightChanged();
    },
    fullWidthCellRenderer: (params) => {
      return `
      	<div class='flex flex-col gap-1 m-2 whitespace-normal isolate'>
      		<p><span class='font-bold whitespace-normal line-clamp-2'>Text: </span>${params.data.text}</p>
      		<p><span class='font-bold'>Japanese: </span><span class='japanese-text'>${params.data.kanji || 'no-japanese'}</span></p>
      		<p><span class='font-bold'>Name: </span>${params.data.name || 'No Name'}</p>
      		<p><span class='font-bold'>Start Time: </span>${formatMs(params.data.startTime)}</p>
      		<p><span class='font-bold'>End Time: </span>${formatMs(params.data.endTime)}</p>
					<a href='/subtitle/${encodeURIComponent(params.data.id)}' class='z-10'>Link</a>
      	</div>
      `;
    },
    rowSelection: 'single'
  };
  let gridApi: GridApi<Subtitle> = $state();
  onMount(() => {
    const gridOptions = $isSmallScreen ? mobileGridOptions : desktopGridOptions;
    gridApi = createGrid(gridElement, { ...gridOptions, rowData: subtitles });
    const hasJapaneseText = subtitles.some(s => s.kanji && s.kanji.trim() !== '');
    if (!hasJapaneseText)
      gridApi.applyColumnState({ state: [{ colId: 'kanji', hide: true }] });
  });

  async function updateSubtitle(row: IRowNode<Subtitle>, data: Subtitle, flashColumns: string[] = [], toastSuccess: boolean = true) {
    try {
      const updatedSubtitle = await addSubtitle(data);
      const indexedChanged = row.data!.shouldIndex !== updatedSubtitle.shouldIndex;
      row.updateData(updatedSubtitle);
      gridApi.flashCells({
        rowNodes: [row],
        columns: indexedChanged ? [...flashColumns, 'shouldIndex'] : flashColumns
      });
      if (toastSuccess) {
        toastStore.trigger({
          message: `Subtitle #${data.subtitleNumber} updated`,
          background: 'variant-filled-success'
        });
      }
      return updatedSubtitle;
    } catch (e) {
      toastStore.trigger({
        message: `Failed to update subtitle #${row.data?.subtitleNumber}. ${e.message || e}`,
        background: 'variant-filled-error'
      });
    }

  }

  async function setSelectedType(type: 'DIALOGUE' | 'LYRICS' | 'SFX' | 'SIGN') {
    await updateSelected({ type });
  }

  async function updateSelected(update: Partial<Subtitle>) {
    const selectedNodes = gridApi.getSelectedNodes();
    let count = 0;
    const updates: Subtitle[] = [];
    for (const node of selectedNodes) {
      const data: Subtitle = { ...(node.data as Subtitle), ...update };
      const u = await updateSubtitle(node, data, Object.keys(update), false);
      node.setSelected(false);
      if (u)
        updates.push(u);
      count++;
    }
    gridApi.applyTransaction({ update: updates });
    toastStore.trigger({
      message: `${count} subtitles updated to ${JSON.stringify(update)}`,
      background: 'variant-filled-success'
    });
  }

  async function trimSfxSelected() {
    const selectedNodes = gridApi.getSelectedNodes();
    let count = 0;
    const updates: Subtitle[] = [];
    for (const node of selectedNodes) {
      const data: Subtitle = { ...(node.data as Subtitle) };
      data.text = data.text.replace(/\s?-?\s?\[[\w\s,-]+]$/g, '');
      const update = await updateSubtitle(node, data, ['text'], false);
      if (update)
        updates.push(update);
      node.setSelected(false);
      count++;
    }
    gridApi.applyTransaction({ update: updates });
    toastStore.trigger({
      message: `${count} subtitles updated to remove sfx`,
      background: 'variant-filled-success'
    });
  }

  async function autoFixLyrics() {
    gridApi.forEachNode((n) => {
      const data = n.data;
      if (data) {
        const isLyricsStyle = data.style && data.style.toLowerCase().includes('lyrics');
        const isKnownLyrics = data.text && $knownLyrics.includes(data.text);
        const isJapaneseLyrics = data.kanji && (data.kanji.toLowerCase().includes('♬~') || data.kanji.startsWith('♬'));
        const toUpdate = (isLyricsStyle || isKnownLyrics || isJapaneseLyrics) && data.type.toLowerCase().includes('dialogue');
        n.setSelected(!!toUpdate);
      }
    });
    await updateSelected({ type: 'LYRICS' });
  }

  function addToKnownLyrics() {
    gridApi.getSelectedNodes().forEach(n => {
      const data = n.data;
      if (data && data.text) {
        knownLyrics.update((k) => [...k, data.text]);
      }
      n.setSelected(false);
    });
  }

  const popupCombobox: PopupSettings = {
    event: 'click',
    target: 'setTypeCombobox',
    placement: 'bottom'
  };

  const problemFilterModel: FilterModel = {
    'text': {
      operator: 'OR',
      conditions: [
        { filterType: 'text', type: 'contains', filter: '[' },
        { filterType: 'text', type: 'startsWith', filter: '-' }
      ]
    },
    'type': { filterType: 'text', type: 'equals', filter: 'DIALOGUE' }
  };
</script>
<style lang='postcss'>
    .ag-theme-quartz-dark {
        --ag-grid-size: 5px;

        --ag-header-background-color: rgb(var(--color-surface-800));

        --ag-background-color: rgb(var(--color-surface-700));
        --ag-row-hover-color: rgb(var(--color-surface-600));

        --ag-active-color: rgb(var(--color-surface-300));

        --ag-menu-background-color: rgb(var(--color-surface-800));
    }
</style>
<div class='flex gap-2'>
	<button class='btn variant-ghost' use:popup={popupCombobox}>Set Type</button>
	<button class='btn variant-ghost' onclick={()=>gridApi.setFilterModel(problemFilterModel)}>Set problem filter
	</button>
	<button class='btn variant-ghost' onclick={()=>updateSelected({name:''})}>Clear names</button>
	<button class='btn variant-ghost' onclick={()=>trimSfxSelected()}>Trim SFX</button>
	<button class='btn variant-ghost' onclick={()=>autoFixLyrics()}>Auto Fix Lyrics</button>
	<button class='btn variant-ghost' onclick={()=>addToKnownLyrics()}>Add Known Lyrics</button>
</div>
<div data-popup='setTypeCombobox' class='card w-48 shadow-xl py-2  z-10'>
	<div class='flex flex-col'>

		<button class='btn' onclick={()=>setSelectedType('DIALOGUE')}>Dialogue</button>
		<button class='btn' onclick={()=>setSelectedType('LYRICS')}>Lyrics</button>
		<button class='btn' onclick={()=>setSelectedType('SFX')}>SFX</button>
		<button class='btn' onclick={()=>setSelectedType('SIGN')}>Sign</button>
	</div>
</div>
<div class='w-full h-[500px] ag-theme-quartz-dark' bind:this={gridElement}>

</div>
