<script lang="ts">
import type { AdminEpisode } from '../../../../types';

	interface Props {
		episode: AdminEpisode;
	}

	let { episode }: Props = $props();
</script>

<div class='border-surface-500 border rounded p-2'>
	<p><span class='font-bold'>Studio: </span><span>{episode.studio}</span></p>
	<p><span class='font-bold'>Release Date: </span><span>{episode.originallyAvailableAt}</span></p>
</div>
