<script lang='ts'>
	import { run } from 'svelte/legacy';



	import type { Show } from '$lib/types';
  import type { AdminEpisode } from '../../../../types';
  import { getSortKey } from '$lib/utilities';

	type Route = {
		name: string;
		path: string;
		id: string;
	}
	let routes: Array<Route> = $derived([
    {name:"Overview",path:`/admin/shows/${show.show}/episodes/${episode.id}`,id:""},
		{ name: 'Files', path: `/admin/shows/${show.show}/episodes/${episode.id}/files`, id: 'files' },
		{ name: 'Events', path: `/admin/shows/${show.show}/episodes/${episode.id}/events`, id: 'events' },
		{ name: 'Description', path: `/admin/shows/${show.show}/episodes/${episode.id}/description`, id: 'description' },
		{ name: 'Review', path: `/admin/shows/${show.show}/episodes/${episode.id}/review`, id: 'review' }
	]);
	let previousEpisode:AdminEpisode|undefined = $state();
	let nextEpisode:AdminEpisode|undefined = $state();

	interface Props {
		show: Show;
		episode: AdminEpisode;
		episodes: AdminEpisode[];
		active?: string;
	}

	let {
		show,
		episode,
		episodes,
		active = 'subtitles'
	}: Props = $props();

	
	run(() => {
		const sortedEpisodes = episodes.sort((a, b)=>getSortKey(a).localeCompare(getSortKey(b)));
		const index = sortedEpisodes.findIndex(e=>e.id === episode.id);
		previousEpisode = index > 0 ? sortedEpisodes[index - 1] : undefined;
		nextEpisode = index < sortedEpisodes.length - 1 ? sortedEpisodes[index + 1] : undefined;
	});
</script>
<div class='flex'>
	{#if previousEpisode}
			<a href={`/admin/shows/${encodeURIComponent(show.show)}/episodes/${encodeURIComponent(previousEpisode.id)}/${active}`}
				 class='flex-none btn variant-ghost' data-sveltekit-reload>Previous</a>
		{/if}
	<div class='flex-grow'></div>
	{#if nextEpisode}
			<a href={`/admin/shows/${encodeURIComponent(show.show)}/episodes/${encodeURIComponent(nextEpisode.id)}/${active}`}
				 class='flex-none btn variant-ghost' data-sveltekit-reload>Next</a>
		{/if}
</div>
<div class='w-full border-surface-500 border-b flex justify-start'>
	{#each routes as route}
		{#if route.id === active}
			<a href={route.path}
				 class='flex-none text-center px-4 py-2 rounded-t border-b-2 border-surface-50 unstyled'>{route.name}</a>
		{:else}
			<a href={route.path}
				 class='flex-none text-center px-4 py-2 rounded hover:variant-soft unstyled'>{route.name}</a>
		{/if}
	{/each}
</div>
