<script lang="ts">
	import type { AdminEpisode } from '../../../../types';

	interface Props {
		episode: AdminEpisode;
	}

	let { episode }: Props = $props();
</script>

<div class='border-surface-500 border rounded p-2'>
	<h2 class='text-2xl font-bold'>Tags from parent</h2>
	<small>Edit the show to modify these tags</small>
	<ul>
		{#each (episode.parentTags||[]) as tag}
			<li>{tag}</li>
		{/each}
	</ul>
</div>