<script lang="ts">
	import { SERVER_URL } from '$lib/constants';
	import { datadogLogs } from '@datadog/browser-logs';
	import { Fa } from 'svelte-fa';
	import { faTrash } from '@fortawesome/pro-solid-svg-icons';
  import type { AdminEpisode } from '../../../../types';
  import { getToken } from '$lib/client/auth';

	let newTag = $state('');
	interface Props {
		episode: AdminEpisode;
	}

	let { episode }: Props = $props();

	async function addTag(){
		const {show,season,episode: episodeNumber} = episode;
		const response = await fetch(`${SERVER_URL}/v1/episode/${encodeURIComponent(show)}-${season}-${episodeNumber}/add-tag`, {
			method: 'POST',
			headers: await getHeaders(),
			body:newTag
		});
		if (!response || !response.ok){
			datadogLogs.logger.error('Failed to add tag', {response,details:{show,season,episode,tag:newTag}});
		} else {
			newTag = '';
		}
	}

	async function removeTag(tag:string){
		const {show,season,episode:episodeNumber} = episode;
		const response = await fetch(`${SERVER_URL}/v1/episode/${encodeURIComponent(show)}-${season}-${episodeNumber}/remove-tag`, {
			method: 'POST',
			headers: await getHeaders(),
			body:tag
		});
		if (!response || !response.ok){
			datadogLogs.logger.error('Failed to remove tag', {response,details:{show,season,episode,tag}});
		}
	}

  async function getHeaders(){
		const token = await getToken();
		return {
			'Content-Type': 'text/plain',
			'Authorization': `Bearer ${token}`
		};
	}
</script>

<div class='border-surface-500 border rounded p-2'>
	<h2 class='text-2xl font-bold'>Tags</h2>
	<ul>
		{#each (episode.tags||[]) as tag}
			<li>{tag} <button class='btn btn-sm variant-ghost' onclick={()=>removeTag(tag)}><Fa icon={faTrash}/></button></li>
		{/each}
	</ul>
	<form onsubmit={addTag} class='flex flex-col gap-y-2 mt-1'>
		<input type='text' class='input' bind:value={newTag} />
		<button type='submit' class='btn variant-ghost'>Add</button>
	</form>
</div>
