<script lang='ts'>
  import { run } from 'svelte/legacy';


  import { collection, deleteDoc, doc, getDoc, getFirestore, updateDoc } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { COLLECTIONS } from '$lib/firebase';
  import { derived, type Readable, type Writable } from 'svelte/store';
  import { page } from '$app/stores';
  import { user } from '$lib/client/auth';
  import type { Episode, HeadData, OverlayElement, SavedSubtitle } from '$lib/types';
  import { DEFAULT_CONFIGURATION, type SubtitleCardConfiguration, SubtitleData } from '$lib/client/SubtitleCard/types';
  import { isSmallScreen } from '$lib/client/stores';
  import { downloadImage, drawOnCanvas, SavedSubtitleDataExtractor } from '../utils';
  import { getEpisode } from '$lib/client/EpisodeService';
  import ViewportAwareMedia from '$lib/client/SubtitleCard/ViewportAwareMedia.svelte';
  import { getToastStore } from '@skeletonlabs/skeleton';
  import { goto } from '$app/navigation';
  import { applyHeight, getRandomString } from '$lib/utilities';
  import { setDoc } from 'firebase/firestore';
  import OverlaySvg from '../OverlaySvg.svelte';
  import { getStorage, ref, uploadString } from 'firebase/storage';
  import { datadogLogs } from '@datadog/browser-logs';
  import { getContext } from 'svelte';

  const head:Writable<HeadData> = getContext('head')
  const subtitle: Readable<null | SavedSubtitle> = derived([page, user], ([p, u], s) => {
    if (!u || !p.params.id)
      s(null);
    else {
      const docRef = doc(getFirestore(app), COLLECTIONS.USERS, u.uid, COLLECTIONS.SAVED, p.params.id);
      getDoc(docRef).then(doc => {
        if (doc.exists()){
          s({ ...(doc.data() as SavedSubtitle), id: doc.id });
          title = (doc.data() as SavedSubtitle).title||'';
          $head.title=title;
        }
        else
          s(null);
      });
    }
  });

  const episode: Readable<null | Episode> = derived(subtitle, (s, set) => {
    if (s) {
      getEpisode(s.subtitle).then(e => set(e || null));
    } else {
      set(null);
    }
  });

  const toastStore = getToastStore();
  let overlayElement: OverlayElement | null = $state(null);
  let overlayElements: OverlayElement[] = $state([]);
  let title = $state('');
  let publicId: string | null = null;
  let dirty = $state(false);

  run(() => {
    if ($subtitle?.overlayElements) {
      overlayElements = $subtitle.overlayElements;
    }
  });



  run(() => {
    if (overlayElement) {
      overlayElements = [overlayElement, ...overlayElements.filter(e => e.id !== overlayElement!.id)];
      dirty = true;
    }
  });


  async function save() {
    if ($user && $subtitle) {
      dirty = false;
      try {
        const s = { ...$subtitle, overlayElements, title };
        if (!s.imageKey && overlayElements.length > 0)
          s.imageKey = 'user/' + $user.uid + '/public/' + $subtitle.id + '.png';
        else if (overlayElements.length === 0)
          s.imageKey = '';
        try {
          const docRef = doc(getFirestore(app), COLLECTIONS.USERS, $user.uid, COLLECTIONS.SAVED, $page.params.id);
          await setDoc(docRef, s);
        } catch (e) {
          toastStore.trigger({ message: e as string, background: 'variant-filled-error' });
          return;
        }
        if (s.imageKey) {
          const storageRef = ref(getStorage(app), s.imageKey);
          const imageString = await drawOnCanvas(applyHeight($subtitle.subtitle.pngUrl, -1).toString(), svgElement!);
          await uploadString(storageRef, imageString, 'data_url');
        }
        toastStore.trigger({ message: 'Clip saved', background: 'variant-filled-success' });
      } catch (e) {
        toastStore.trigger({ message: e as string, background: 'variant-filled-error' });
        dirty = true;
        datadogLogs.logger.error('Error saving clip', { error: e, savedSubtitle: $subtitle });
      }
    } else {
      toastStore.trigger({ message: 'You must be logged in to save clips', background: 'variant-filled-error' });
    }
  }

  function getSubtitleData(subtitle: SavedSubtitle) {
    return new SubtitleData(subtitle, SavedSubtitleDataExtractor) as SubtitleData<unknown>;
  }

  let aspectRatio = $state(16 / 9);
  run(() => {
    if ($episode?.width && $episode?.height) {
      aspectRatio = $episode.width / $episode.height;
    }
  });

  const cardConfiguration: SubtitleCardConfiguration = {
    ...DEFAULT_CONFIGURATION,
    mediaType: 'video',
    sourceSize: !($isSmallScreen),
		containerClasses: 'w-full'
  };

  async function unsave() {
    if ($user) {
      try {
        const docRef = doc(getFirestore(app), COLLECTIONS.USERS, $user.uid, COLLECTIONS.SAVED, $page.params.id);
        await deleteDoc(docRef);
      } catch (e) {
        toastStore.trigger({ message: e as string, background: 'variant-filled-error' });
        return;
      }
      toastStore.trigger({ message: 'Clip removed from saved', background: 'variant-filled-success' });
      await goto('/saved');
    } else {
      toastStore.trigger({ message: 'You must be logged in to save clips', background: 'variant-filled-error' });
    }
  }

  function addElement(type: 'text') {
    if (type === 'text') {
      const fontSize = Math.round(($episode?.height || 1080) * .15);
      overlayElement = {
        type,
        text: '🧐',
        x: 100,
        y: fontSize,
        id: getRandomString(),
        fill: '#ffffff',
        stroke: '#000000',
        fontSize
      };
    }
  }

  function removeElement(element: OverlayElement) {
    overlayElements = overlayElements.filter(e => e.id !== element.id);
    if (overlayElement?.id === element.id)
      overlayElement = null;
    dirty = true;
  }

  async function copyShareLink() {
    const s: SavedSubtitle = $subtitle!;
    try {
      let generated = false;
      if (!publicId) {
        publicId = s.publicKey || getRandomString();
        generated = !s.publicKey;
      }
      const url = window.location.origin + '/saved/p/' + publicId;
      await navigator.clipboard.writeText(url);
      if (generated)
        await setDoc(doc(collection(getFirestore(app), COLLECTIONS.PUBLIC_SAVED), publicId), {
          owner: $user!.uid,
          savedId: s.id,
          createdAt: new Date()
        });
      if (!s.publicKey) {
        await updateDoc(doc(getFirestore(app), COLLECTIONS.USERS, $user!.uid, COLLECTIONS.SAVED, s.id), { publicKey: publicId });
      }
      toastStore.trigger({ message: 'Link copied to clipboard', background: 'variant-filled-success' });
    } catch (e) {
      toastStore.trigger({ message: e as string, background: 'variant-filled-error' });
    }
  }

  let svgElement: SVGElement = $state();
</script>
<div class='flex flex-col lg:flex-row gap-4'>
	{#if $subtitle}
		<div class='grow max-w-[1280px]'>
			<input class='input text-2xl font-bold mb-2' bind:value={title} placeholder='Title (optional)'
						 onchange={()=>dirty=true}>
			<div class='relative isolate' style='aspect-ratio: {aspectRatio}'>
				<OverlaySvg episode={$episode} {overlayElements} bind:svgElement z='z-[99]' />
				<ViewportAwareMedia subtitleData={getSubtitleData($subtitle)}
														configuration={{...cardConfiguration,aspectRatio,mediaContainerAspectRatio: aspectRatio}} />
			</div>
		</div>
		<div class='grow max-w-[500px]'>
			<div class='grid-cols-2 grid gap-1.5'>
				<button class='btn variant-filled-error' onclick={unsave}>Remove from saved</button>
				<button onclick={()=>addElement('text')} class='btn variant-filled'> Add Text</button>
				<button onclick={()=>downloadImage($subtitle,svgElement,toastStore)} class='btn variant-filled'>Download
					Image
				</button>
				<button onclick={copyShareLink} class='btn variant-filled'>Copy Share Link</button>
				<button onclick={save} class='btn variant-filled col-span-2' disabled={!dirty}>Save</button>
			</div>
			{#if overlayElement}
				<div class='flex flex-col gap-2 my-5'>
					<div class='flex items-center gap-3'>
						<p class='text-2xl font-bold'>Edit {overlayElement.type}</p>
						<button class='btn variant-ghost-error hover:variant-filled-error'
										onclick={()=>removeElement(overlayElement)}>Delete
						</button>
					</div>
					<div class='flex gap-3'>
						<div>
							<p>X</p>
							<input class='input' type='number' bind:value={overlayElement.x} />
						</div>
						<div>
							<p>Y</p>
							<input class='input' type='number' bind:value={overlayElement.y} />
						</div>
					</div>
					{#if overlayElement.type === 'text'}
						<div>
							<p>Text</p>
							<input class='input' type='text' bind:value={overlayElement.text} />
						</div>
						<div>
							<p>Fill</p>
							<div class='grid grid-cols-[auto_1fr] gap-2'>
								<input class='input' type='color' bind:value={overlayElement.fill} />
								<input class='input' type='text' bind:value={overlayElement.fill} readonly tabindex='-1' />
							</div>
						</div>
						<div>
							<p>Stroke</p>
							<div class='grid grid-cols-[auto_1fr] gap-2'>
								<input class='input' type='color' bind:value={overlayElement.stroke} />
								<input class='input' type='text' bind:value={overlayElement.stroke} readonly tabindex='-1' />
							</div>
						</div>
						<div>
							<p>Font Size</p>
							<input class='input' type='number' bind:value={overlayElement.fontSize} />
						</div>
					{/if}
				</div>

			{/if}
			{#if overlayElements.length > 0}
				<div class='my-2 flex flex-col gap-2'>
					<p class='text-2xl font-bold'>Select Element</p>
					<div class='flex flex-col'>
						{#each overlayElements as element}
							{#if element.type === 'text'}
								<button onclick={()=>overlayElement=element}
												class='btn {overlayElement?.id===element.id?"variant-filled":"variant-ghost"}'>
									Text: {element.text}</button>
							{/if}
						{/each}
					</div>
				</div>
			{/if}
		</div>
	{/if}
</div>
