<script lang="ts">
  import { getContext, onMount } from 'svelte';
  import { signOut } from '$lib/client/auth';
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';

  const head:Writable<HeadData> = getContext('head')
  onMount(()=>{
    signOut().then();
    $head.title = 'Logged out';
	})
</script>