<script lang='ts'>
  import { run } from 'svelte/legacy';


  import type { Episode, Show, Subtitle } from '$lib/types';
  import SubtitleFrame from './SubtitleFrame.svelte';
  import { debounce } from '$lib/utilities.js';
  import { faPlay } from '@fortawesome/pro-solid-svg-icons';
  import { Fa } from 'svelte-fa';
  import { SERVER_URL } from '$lib/constants';
  import Breadcrumb from '$lib/client/Breadcrumb.svelte';
  import type { PageData, Snapshot } from './$types';
  import { isAdmin } from '$lib/client/auth';
  import { page } from '$app/stores';
  import EpisodeContext from './EpisodeContext.svelte';
  import { getUrl } from './frameUtilities';
  import { add } from '$lib/client/ContentCache';
  import { browser } from '$app/environment';
  import {searchInput} from '$lib/client/stores';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let show: Show = $state();
  let episode: Episode = $state();
  let subtitles: Subtitle[] = $state();
  let head = $state(0);
  let tail = $state(60);
  let loadedSubtitles: Subtitle[] = $state([]);
  const loadingQueue: Subtitle[] = [];
  let isLoading = $state(false);
  let gridElement: HTMLDivElement = $state();
  let sampleFrameElement: HTMLDivElement = $state();
  const debounceShiftHead = debounce(shiftHead, 100);
  const debounceShiftTail = debounce(shiftTail, 100);

  export const snapshot:Snapshot<{head:number,tail:number}> = {
    capture: () => ({head,tail}),
		restore: (s) => {
      if(s.head && s.tail) {
        head = s.head;
        tail = s.tail;
      }
		}

	}



  function filterSubtitles(input: string): Subtitle[] {
    try {

      const sortFunction = (s1: Subtitle, s2: Subtitle) => s1.startTime - s2.startTime;
      if (!input || input.length === 0) return subtitles.sort(sortFunction);
      const searchString = input.toLowerCase();
      return subtitles.filter(subtitle => subtitle.text.toLowerCase().includes(searchString)).sort(sortFunction);
    } finally {
      head = 0;
      tail = 60;
    }
  }

  function getRandomSubtitle(): Subtitle {
    return subtitles[Math.floor(Math.random() * subtitles.length)];
  }

  function formatDescription(description: string | undefined) {
    if (!description) return '';
    return description.replaceAll('\n', '').substring(0, 200);
  }

  let filteredSubtitles = $state(subtitles);
  let title: string = $state();

  async function runLoadingQueue() {
    isLoading = true;
    try {
      while (loadingQueue.length > 0) {
        const subtitle = loadingQueue.shift();
        if (!subtitle) continue;
        const url = getUrl(subtitle);
        await add(url.toString());
        loadedSubtitles = [...loadedSubtitles, subtitle];


      }
    } finally {
      isLoading = false;
    }
  }

  function getShiftSize() {
    const elementsPerRow = Math.floor(gridElement.clientWidth / sampleFrameElement.clientWidth);
    return elementsPerRow * 2;
  }

  function shiftHead(e: CustomEvent<{
    multiplier: number
  }>) {
    head = Math.floor(Math.max(0, head + getShiftSize() * e.detail.multiplier));
  }

  function shiftTail(e: CustomEvent<{
    multiplier: number
  }>) {
    tail = Math.floor(Math.min(subtitles.length, tail + getShiftSize() * e.detail.multiplier));
    if (tail < head)
      tail = head + getShiftSize();
  }

  function formatDuration(duration: number) {
    const minutes = Math.floor(duration / 60_000);
    const seconds = Math.floor((duration - minutes * 60_000) / 1000);
    return `${minutes}m ${seconds}s`;
  }


  run(() => {
    show = data.show;
    episode = data.episode;
    subtitles = data.subtitles;
  });
  run(() => {
    subtitles; //this is here so that a change in data.subtitles triggers a re-render
    filteredSubtitles = filterSubtitles($searchInput);
  });
  run(() => {
    if (show.show.toLowerCase() === 'movies')
      title = episode.title;
    else
      title = show.show;
  });
  run(() => {
    const visibleSubtitles = filteredSubtitles.slice(head, tail);
    const unloadedSubtitles = visibleSubtitles.filter(subtitle => !loadedSubtitles.includes(subtitle));
    loadingQueue.splice(0, loadingQueue.length, ...unloadedSubtitles);
    if (!isLoading && browser)
      runLoadingQueue();
  });
</script>
<style lang='postcss'>
    h1 {
        @apply text-4xl;
    }

    h3 {
        @apply md:text-lg text-surface-400;
    }
</style>
<svelte:head>
	<title>{data.show.show} - {data.episode.season} Episode {data.episode.episode}</title>
	<meta property='description' content={formatDescription(data.episode.summary)} />
	<meta property='og:title' content={title} />
	<meta property='og:description' content={formatDescription(data.episode.summary)} />
	<meta property='og:image' content={getRandomSubtitle().pngUrl} />
	<meta property='og:url' content={$page.url.toString()} />

</svelte:head>
<div class='mx-1 md:mx-8'>
	<div class='my-2'>
		<Breadcrumb
			breadcrumbs={[{href:'/shows',name:'Shows'},{name: show.show,href: '/shows/'+encodeURIComponent(show.show)},{name: 'Episodes',href: '/shows/'+encodeURIComponent(show.show)+'/episodes'},{name: episode.title,href: `/shows/${encodeURIComponent(show.show)}/episodes/${encodeURIComponent(episode.id)}`}]} />
	</div>
	<div class='space-y-1'>
		<h1>{show.show}</h1>
		<h3>{episode.season} Episode {episode.episode}</h3>
		<h3>{episode.summary}</h3>
		<h3>{episode.subtitleCount} Subtitles</h3>
		{#if episode.studio}
			<h3>Studio: {episode.studio}</h3>
		{/if}
		{#if episode.originallyAvailableAt}
			<h3>Air Date: {new Date(episode.originallyAvailableAt).toDateString()}</h3>
		{/if}
		<div class='space-x-2'>
			{#if episode.openingStart && episode.openingEnd}
				<a class='btn variant-ghost'
					 href='{SERVER_URL}/v1/content/op/{episode.show}-{episode.season}-{episode.episode}.mp4'
					 target='_blank'>
					<Fa icon={faPlay} class='inline-block mr-2' />
					Opening</a>
			{/if}
			{#if episode.endingStart && episode.endingEnd}
				<a class='btn variant-ghost'
					 href='{SERVER_URL}/v1/content/ed/{episode.show}-{episode.season}-{episode.episode}.mp4'
					 target='_blank'>
					<Fa icon={faPlay} class='inline-block mr-2' />
					Ending</a>
			{/if}
		</div>
		{#if $isAdmin}
			<h2 class='text-lg font-bold'>Technical Details</h2>
			<h3>Width: {episode.width} / Height: {episode.height}</h3>
			<h3>
				<span class='pr-2'>

				{#if episode.openingStart && episode.openingEnd}
					<span class='font-bold'> Opening: </span> {formatDuration(episode.openingStart)}
					- {formatDuration(episode.openingEnd)}
				{/if}
				</span>
				<span>

				{#if episode.endingStart && episode.endingEnd}
					<span class='font-bold'> Ending: </span> {formatDuration(episode.endingStart)}
					- {formatDuration(episode.endingEnd)}
				{/if}
				</span>
			</h3>
		{/if}
	</div>
	<div class='my-3'>
		<EpisodeContext nextEpisode={data.nextEpisode} previousEpisode={data.previousEpisode} show={show} />
	</div>
	<div class='grid grid-cols-2 md:flex md:flex-wrap justify-center gap-1 md:gap-3 ' bind:this={gridElement}>
		{#if filteredSubtitles.length === 0}
			<div class='text-surface-400'>No subtitles found</div>
		{/if}
		{#each filteredSubtitles as subtitle,i (subtitle.id)}
			<SubtitleFrame {subtitle} episode={episode}
										 isTop={i===head} isBottom={i===tail-1}
										 usePlaceholder={i<head || i>tail || !loadedSubtitles.includes(subtitle)}
										 on:shiftHead={debounceShiftHead}
										 on:shiftTail={debounceShiftTail} />
		{/each}
		<div class='opacity-0' bind:this={sampleFrameElement}>
			<SubtitleFrame subtitle={filteredSubtitles[0]} episode={episode} usePlaceholder={true} />
		</div>
	</div>
	<div class='my-3'>
		<EpisodeContext nextEpisode={data.nextEpisode} previousEpisode={data.previousEpisode} show={show} />
	</div>
</div>
