<script lang='ts'>
    import { Fa } from 'svelte-fa';
    import { faChevronLeft, faChevronRight } from '@fortawesome/pro-solid-svg-icons';
    import type { Episode, Show } from '$lib/types';

    interface Props {
        previousEpisode: Episode | null;
        nextEpisode: Episode | null;
        show: Show;
    }

    let { previousEpisode, nextEpisode, show }: Props = $props();

</script>
<style lang='postcss'>
    .context-button {
        @apply hover:underline btn variant-glass-primary relative flex gap-x-1 md:gap-x-1.5 px-3 md:px-5;
    }
</style>
<div class='flex justify-between gap-x-2'>
    <div>
        {#if previousEpisode}
            <div class='context-button'>
                <Fa icon={faChevronLeft} class='text-xl md:text-2xl'/>
                <a href='/shows/{encodeURIComponent(show.show)}/{encodeURIComponent(previousEpisode.id)}' class='absolute inset-0'><span class='sr-only'>Previous Episode</span></a>
                <div>
                    <h4 class='text-sm md:text-base text-left'>Previous Episode</h4>
                    <p class='text-xs md:text-sm text-surface-400'>{previousEpisode.season} Episode {previousEpisode.episode}</p>
                </div>
            </div>
        {/if}
    </div>
    <div>
        {#if nextEpisode}
            <div class='context-button'>
                <a href='/shows/{encodeURIComponent(show.show)}/{encodeURIComponent(nextEpisode.id)}' class='absolute inset-0'><span class='sr-only'>Next Episode</span></a>
                <div>
                    <h4 class='text-right text-sm md:text-base'>Next Episode</h4>
                    <p class='text-xs md:text-sm text-surface-400'>{nextEpisode.season} Episode {nextEpisode.episode}</p>
                </div>
                <Fa icon={faChevronRight} class='text-xl md:text-2xl'/>
            </div>
        {/if}
    </div>
</div>
