<script lang='ts'>
	import { run } from 'svelte/legacy';

	import type { Subtitle,Episode } from '$lib/types';
	import { applyHeight } from '$lib/utilities';
	import { createEventDispatcher, onDestroy } from 'svelte';
	import { browser } from '$app/environment';
	import { client as unleashClient } from '$lib/unleash';
  import { getUrl } from './frameUtilities';


	interface Props {
		subtitle: Subtitle;
		episode: Episode;
		isTop?: boolean;
		isBottom?: boolean;
		usePlaceholder?: boolean;
	}

	let {
		subtitle,
		episode,
		isTop = false,
		isBottom = false,
		usePlaceholder = false
	}: Props = $props();
	const eventDispatcher = createEventDispatcher();

	let unobserve: (() => void) | undefined = $state();
	let isWatched = $state(false);
  let hovered = $state(false);

	onDestroy(() => {
		if (unobserve) unobserve();
	});


	const padding = 600;

	function captureViewportChange(): () => void {
		const page:HTMLElement = document.getElementById('page') as HTMLElement;
		const listener = (e: Event) => {
      evaluateViewportPosition(page);
		};
    setTimeout(()=>evaluateViewportPosition(page), 101);
		page.addEventListener('scroll', listener);
		return () => page.removeEventListener('scroll', listener);
	}

  function evaluateViewportPosition(page:HTMLElement){
    const rect = element.getBoundingClientRect();
    const pageRect = page.getBoundingClientRect();
    const y = rect.y - pageRect.y;
    if (isTop) {
      const multiplier = Math.max(1, (Math.abs(y)-padding) / 300);
      if (y < -padding)
        eventDispatcher('shiftHead', { multiplier: multiplier });
      else if (y > -rect.height)
        eventDispatcher('shiftHead', { multiplier: -multiplier });
    }
    if (isBottom) {
      const multiplier = Math.max(1, Math.abs((y-page.clientHeight-padding) / 300));
      if (y < page.clientHeight - rect.height + padding)
        eventDispatcher('shiftTail', { multiplier: multiplier });
      else if (y > page.clientHeight + padding + rect.height)
        eventDispatcher('shiftTail', { multiplier: -1*multiplier });
    }
	}



	let element: HTMLElement = $state();
	run(() => {
		isWatched = isTop || isBottom;
		if (isWatched && !unobserve && browser && element) {
			unobserve = captureViewportChange();
		}
		if (!isWatched && unobserve) {

			unobserve();
			unobserve = undefined;
		}
	});
</script>
<style lang='postcss'>
    .frame {
        @apply rounded w-full md:w-auto md:h-[150px] bg-surface-700 ;
    }
</style>
<div bind:this={element} onmouseenter={()=>hovered=true} onmouseleave={()=>hovered=false} role='img'>
	{#if usePlaceholder && !hovered}
		<div class='frame' style='aspect-ratio: {episode.width||16}/{episode.height||9}'></div>
	{:else}
		<div class='relative'>
			<a class='absolute inset-0' href='/subtitle/{subtitle.id}'><span
				class='sr-only'>{subtitle.text}</span></a>
			<img alt={subtitle.text} src={getUrl(subtitle,hovered).toString()}
					 class='frame'
					 style='aspect-ratio: {episode.width||16}/{episode.height||9}' />
		</div>
	{/if}
</div>
