
<div class="mx-auto rounded-lg bg-surface-700 p-3" style="max-width: 54rem">
  <h1>Uh oh </h1>
  <h3>It looks like something went wrong with your request</h3>
  <p>This is unusual and shouldn't be happening. Please try your request again later or <a href="/feedback/issues">Submit an issue</a>
  or reach out to us on <a href="https://discord.gg/y2eAM9QvH5">Discord</a></p>
</div>
