<script lang='ts'>
  import '../app.postcss';
  import { datadogRum } from '@datadog/browser-rum';
  import { browser } from '$app/environment';
  import '$lib/unleash';
  import { datadogLogs } from '@datadog/browser-logs';
  import { initializeNavigationState } from './navigationState';
  import { page } from '$app/stores';
  import { account } from '$lib/client/appwrite';
  import { isAdmin } from '$lib/client/auth';
  import { setContext } from 'svelte';
  import { type Writable, writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';
  interface Props {
    children?: import('svelte').Snippet;
  }

  let { children }: Props = $props();


  initializeNavigationState(page, account, isAdmin);
  const head: Writable<HeadData> = writable({
    title: 'AniClips',
    description: 'AniClips is a platform for sharing and discussing anime clips.'
  });
  setContext('head', head);

  if (browser) {
    const botPattern = '(googlebot\/|bot|Googlebot-Mobile|Googlebot-Image|Google favicon|Mediapartners-Google|bingbot|slurp|java|wget|curl|Commons-HttpClient|Python-urllib|libwww|httpunit|nutch|phpcrawl|msnbot|jyxobot|FAST-WebCrawler|FAST Enterprise Crawler|biglotron|teoma|convera|seekbot|gigablast|exabot|ngbot|ia_archiver|GingerCrawler|webmon |httrack|webcrawler|grub.org|UsineNouvelleCrawler|antibot|netresearchserver|speedy|fluffy|bibnum.bnf|findlink|msrbot|panscient|yacybot|AISearchBot|IOI|ips-agent|tagoobot|MJ12bot|dotbot|woriobot|yanga|buzzbot|mlbot|yandexbot|purebot|Linguee Bot|Voyager|CyberPatrol|voilabot|baiduspider|citeseerxbot|spbot|twengabot|postrank|turnitinbot|scribdbot|page2rss|sitebot|linkdex|Adidxbot|blekkobot|ezooms|dotbot|Mail.RU_Bot|discobot|heritrix|findthatfile|europarchive.org|NerdByNature.Bot|sistrix crawler|ahrefsbot|Aboundex|domaincrawler|wbsearchbot|summify|ccbot|edisterbot|seznambot|ec2linkfinder|gslfbot|aihitbot|intelium_bot|facebookexternalhit|yeti|RetrevoPageAnalyzer|lb-spider|sogou|lssbot|careerbot|wotbox|wocbot|ichiro|DuckDuckBot|lssrocketcrawler|drupact|webcompanycrawler|acoonbot|openindexspider|gnam gnam spider|web-archive-net.com.bot|backlinkcrawler|coccoc|integromedb|content crawler spider|toplistbot|seokicks-robot|it2media-domain-crawler|ip-web-crawler.com|siteexplorer.info|elisabot|proximic|changedetection|blexbot|arabot|WeSEE:Search|niki-bot|CrystalSemanticsBot|rogerbot|360Spider|psbot|InterfaxScanBot|Lipperhey SEO Service|CC Metadata Scaper|g00g1e.net|GrapeshotCrawler|urlappendbot|brainobot|fr-crawler|binlar|SimpleCrawler|Livelapbot|Twitterbot|cXensebot|smtbot|bnf.fr_bot|A6-Indexer|ADmantX|Facebot|Twitterbot|OrangeBot|memorybot|AdvBot|MegaIndex|SemanticScholarBot|ltx71|nerdybot|xovibot|BUbiNG|Qwantify|archive.org_bot|Applebot|TweetmemeBot|crawler4j|findxbot|SemrushBot|yoozBot|lipperhey|y!j-asr|Domain Re-Animator Bot|AddThis)';
    const regex = new RegExp(botPattern, 'i');
    const conditionalSampleRate = regex.test(navigator.userAgent) ? 0 : 100;


    const clientToken = 'pub9103da7e7dff97b20643b0fa2ab09ec7';
    datadogRum.init({
      applicationId: '5ad07406-dd27-4867-a1ea-dc693a0ea772',
      clientToken,
      site: 'datadoghq.com',
      service: 'highsub',

      // Specify a version number to identify the deployed version of your application in Datadog
      // version: '1.0.0',
      sessionSampleRate: conditionalSampleRate,
      sessionReplaySampleRate: 100,
      trackUserInteractions: true,
      trackResources: true,
      trackLongTasks: true,
      defaultPrivacyLevel: 'allow',
      enableExperimentalFeatures: ['clickmap'],
      allowedTracingUrls: ['https://highsub.alexk8s.com', 'https://highsub-sandbox.alexk8s.com']
    });

    datadogRum.startSessionReplayRecording();
    datadogLogs.init({
      clientToken,
      site: 'datadoghq.com',
      forwardErrorsToLogs: true,
      sessionSampleRate: conditionalSampleRate,
      service: 'highsub-app',
      forwardConsoleLogs: 'all'
    });
  }

  let title = $derived($head.title || 'AniClips');
  let description = $derived($head.description || 'AniClips is a platform for sharing and discussing anime clips.');


</script>
<svelte:head>
	<title>{title}</title>
	<meta property='og:title' content={title} />

	<meta property='og:description' content={description} />
	<meta property='description' content={description} />
	{#if $head.url}
		<meta property='og:url' content={$head.url} />
	{/if}
	{#if $head.imageUrl}
		<meta property='og:image' content={$head.imageUrl} />
		<meta property='oh:image:secure_url' content={$head.imageUrl} />
		<meta property='oh:image:type' content='image/png' />
	{/if}
	{#if $head.videoUrl}
		<meta property='og:video' content={$head.videoUrl} />
		<meta property='og:video:secure' content={$head.videoUrl} />
		<meta property='og:video:secure_url' content={$head.videoUrl} />
		<meta property='og:video:width' content='640' />
		<meta property='og:video:height' content='480' />
		<meta property='og:type' content='video.other' />
	{/if}
	<meta property='og:site_name' content='Aniclips' />
	<meta property='twitter:card' content='summary_large_image' />
</svelte:head>
{@render children?.()}