<script lang="ts">
import { faArrowUpRightFromSquare } from "@fortawesome/pro-solid-svg-icons";
import {Fa} from 'svelte-fa';
</script>
<style lang="postcss">
  a {
      @apply text-surface-400 text-sm;
  }

  a:hover{
      @apply underline underline-offset-2;
  }

  .section-title {
      @apply font-bold text-surface-300 mb-0.5;
  }
  .footer-sections {
      @apply mx-3 md:flex md:justify-around;
  }

  .footer-sections div {
      @apply pb-2 border-b mb-2 last:border-b-0 md:pb-0 md:border-b-0 md:pb-0;
  }
</style>
<div class="bg-surface-600 ">
  <div class="container mx-auto py-3">

  <div class="footer-sections">
    <div>
      <p class="section-title">Sitemap</p>
      <ul>
        <li><a href="/shows" class="unstyled">Shows</a></li>
        <li><a href="/search" class="unstyled">Search</a></li>
        <li><a href="/collections" class="unstyled">Collections</a></li>
        <li><a href="/memes" class="unstyled">Memes</a></li>
        <li><a href='/article' class='unstyled'>Articles</a></li>
        <li><a href='/quiz' class='unstyled'>Quiz</a></li>
				<li><a href='/#FAQ'>FAQ</a></li>
      </ul>
    </div>
    <div>
      <p class="section-title">Feedback</p>
      <ul>
        <li><a href="/feedback/issues" class="unstyled">Issues</a></li>
        <li><a href="/feedback/request" class="unstyled">Feature Requests</a></li>
      </ul>
    </div>
    <div>
      <p class="section-title">Need Help?</p>
      <ul>
        <li><a href="https://discord.gg/y2eAM9QvH5" target="_blank" class="unstyled">Discord <Fa icon={faArrowUpRightFromSquare} class="ml-2 inline-block"/></a></li>
        <li><a href="/connected" class="unstyled">Get Connected</a></li>
      </ul>
    </div>
    <div>
      <p class="section-title">Source</p>
      <ul>
        <li><a href="https://gitlab.com/alexthomas/highsub-app" class="unstyled">Frontend</a></li>
        <li><a href="https://gitlab.com/alexthomas/highsub" class="unstyled">Backend</a></li>
        <li><a href='https://gitlab.com/alexthomas/anime-articles' class='unstyled'>Articles</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
