<script lang='ts'>
  import { preventDefault, stopPropagation } from 'svelte/legacy';

  import { page } from '$app/stores';
  import SearchInput from './(app)/search/SearchInput.svelte';
  import { Fa } from 'svelte-fa';
  import { faBars, faBarsStaggered } from '@fortawesome/pro-solid-svg-icons';
  import { derived, type Readable } from 'svelte/store';
  import { AppBar } from '@skeletonlabs/skeleton';
  import { isSmallScreen } from '$lib/client/stores';
  import SidebarMenu from './SidebarMenu.svelte';
  import type { SearchType } from './(app)/search/searchInputUtilities';

  let showMenu = $state(false);
  type pType = 'shows' | 'episode' | 'other';
  const pageType: Readable<pType> = derived(page, p => {
    if (p.url.pathname === '/shows') {
      return 'shows';
    } else if (p.url.pathname.match(/\/shows\/[^\/]+\/(?!episodes$)[^\/]+/)) {
      return 'episode';
    } else {
      return 'other';
    }
  });
  const headerTitle = derived(page, p => p.url.host.indexOf('highsub') === -1 ? 'ANICLIPS' : 'HIGHSUB');
  const showName = derived(page, p => {
		return new URLSearchParams(p.url.search).get('show');
  });
  const searchType: Readable<SearchType> = derived([pageType, showName], ([t, n]) => {
    if (t === 'shows') {
      return 'shows';
    } else if (t === 'episode') {
      return 'episode';
    } else if (n) {
      return 'showClips';
    } else {
      return 'clips';
    }
  });

  function hideMenu() {
    setTimeout(() => showMenu = false, 100);
  }

</script>

<AppBar padding='py-1 sm:p-4 ' background='bg-surface-900' gap='gap-1'>
	{#snippet lead()}
  
  		<div class='pl-1 pr-2 relative flex gap-2 items-center '>
  			<a href='/' class='inset-0 absolute'><span class='sr-only'>Home</span></a>
  			<img src='/aniclips-website-favicon-white.png' alt='icon' class='h-[25px] aspect-square min-w-fit'>
  			<b class='hidden sm:inline-block'>{$headerTitle}</b>
  		</div>
  	
  {/snippet}
	{#snippet trail()}
  
  		<div class='md:hidden'>
  			<button onclick={stopPropagation(preventDefault(()=>showMenu=!showMenu))} class:btn-outline-primary={showMenu}
  							class='btn btn-outline-surface btn-icon-sm'>
  				<Fa icon={showMenu?faBarsStaggered:faBars} />
  			</button>
  		</div>
  	
  {/snippet}
	<div class='md:max-w-2xl mx-auto'>
		<SearchInput searchType={$searchType} size={$isSmallScreen?'sm':undefined} show={$showName} />
	</div>
</AppBar>
{#if showMenu}
	<div class='max-h-[calc(100vh_-_200px)] overflow-y-auto absolute bg-surface-900 z-50 w-full'>
		<SidebarMenu on:click={hideMenu} on:keypress={hideMenu} />
	</div>
{/if}
