<script lang="ts">

	import { onMount } from 'svelte';

	let progress = $state(0);
	const total= 200;

	onMount(()=>{
		const interval = setInterval(updateProgress, 30);
		return () => clearInterval(interval);
	})

	function updateProgress(){
		progress += 1;
		progress %= total;
	}
</script>
<div class='bg-primary-500 h-1 -m-1' style='width: {progress/total*100}%;'></div>