<script lang="ts">
  import { createBubbler } from 'svelte/legacy';

  const bubble = createBubbler();
  import {Fa} from 'svelte-fa';
  import {
    faCatSpace,
    faChevronRight,
  } from "@fortawesome/pro-solid-svg-icons";
  import { menuSections } from "./navigationState";





</script>

<style lang="postcss">
    .menu-header, .menu-pill {
        @apply  py-1 rounded-md hover:bg-surface-600;
    }

    .menu-header {
        @apply md:text-xl font-bold  flex justify-between items-center mr-4;
    }

    .menu-pill {
        @apply grid grid-cols-[1.75rem_1fr] md:leading-7 items-center justify-around md:text-base text-sm px-2;
    }

    .menu-pill span, .menu-pill p {
        @apply ml-7 text-ellipsis whitespace-nowrap overflow-hidden;
    }


</style>

<div class="divide-y space-y-5 p-3 md:max-w-[200px] xl:max-w-[250px] 3xl:max-w-[350px] h-full border-surface-400 z-50 bg-surface-900 ">
  {#each $menuSections as section}
    <div class="pt-3 first:pt-0 border-surface-500">

      {#if section.title && section.href}
        <a class="menu-header " href={section.href}>
          {section.title}
          <Fa icon={faChevronRight} />
        </a>
      {:else if section.title}
        <div class="menu-header">
          {section.title}
        </div>
      {/if}
      {#each section.items as item}
        <a class="menu-pill" href={item.href} target="{item.target||''}" onclick={bubble('click')} onkeypress={bubble('keypress')}>
          {#if item.image}
            <img src={item.image} alt={item.title} class="aspect-square rounded-full object-fill" />
          {:else}
            <Fa icon={item.icon||faCatSpace} />
          {/if}
          <p>{item.title}</p>
        </a>
      {/each}
    </div>
  {/each}
</div>