<script lang='ts'>
	import { run } from 'svelte/legacy';


	import type { Article as ArticleType, Content } from '../types';
	import Article from '../Article.svelte';
	import type { Snapshot } from './$types';
	import { downloadJson, getRandomString } from '$lib/utilities';
	import { ARTICLE_FORMAT, getChat, parseArticle } from '$lib/aiUtilitiles';
	import type { Message } from 'ai';

	const SYSTEM_PROMPT = `You write articles about anime.
Discuss aspects of the flow of narrative elements, character development, how the show stands out from other anime.
	Include placeholders where example clips or images would be inserted. The article should take about 20 minutes to read. Paragraphs should be 4-8 sentences long. Write it in a casual tone and as though you are a fan.
	${ARTICLE_FORMAT}
	`;
	const initialMessages: Message[] = [{ id: '0', role: 'system', content: SYSTEM_PROMPT }];
	const { input, handleSubmit, messages, isLoading, append, reload, setMessages } = getChat(initialMessages);

	let show: string | undefined = $state(undefined);
	let thesis: string | undefined = $state(undefined);
	let points: string[] = $state([]);
	let pointsInput: string = $state('');
	let article: ArticleType | undefined = $state(undefined);
	let previousMessageEvaluation: string | undefined = $state(undefined);
	let publishInDays: number = $state(0);

	type SnapshotData = { show?: string, thesis?: string, pointsInput?: string, publishInDays?: number };
	export const snapshot: Snapshot<SnapshotData> = {
		capture() {
			return { show, thesis, pointsInput, publishInDays };
		},
		restore(s: SnapshotData) {
			show = s.show;
			thesis = s.thesis;
			pointsInput = s.pointsInput || '';
			publishInDays = s.publishInDays || 0;
		}
	};

	run(() => {
		if (pointsInput) {
			points = pointsInput.split('\n').map(p => p.trim()).filter(p => p);
		}
	});
	run(() => {
		if (show && thesis) {
			$input = `Write an article about ${show}. ${thesis}\n` + points.map(p => `- ${p}`).join('\n');
		} else {
			$input = '';
		}
	});

	run(() => {
		const assistantMessages = $messages.filter(m => m.role === 'assistant' && !m.tool_calls);
		const content = assistantMessages.map(m => m.content).join('\n');
		if (assistantMessages.length === 0) {
			previousMessageEvaluation = undefined;
			article = undefined;
		} else if (content.trim() && content !== previousMessageEvaluation) {
			article = parseArticle($messages,publishInDays,{show:show!,thesis:thesis!,points});
			previousMessageEvaluation = content;
		}
	});

	run(() => {
		if (article) {
			article.content = article.content.map((content) => {
				if (content.subtitleId && content.type !== 'image') {
					return { ...content, type: 'image' } as Content;
				}
				return content;
			});
		}
	});


	function downloadArticleJson() {
		const filename = `${article.id}.json`;
		downloadJson(article, filename);
	}

	function continueOutput() {
		append({ id: getRandomString(), role: 'user', content: 'continue' });
	}

</script>
<style>
    input:not(:global(.unstyled)), textarea {
        @apply input text-surface-700;
    }
</style>
<div class='flex gap-x-3'>

	<div class='flex-1'>
		<form class='space-y-2'>
			<div>
				<label for='show'>Show</label>
				<input type='text' id='show' bind:value={show} />
			</div>
			<div>
				<label for='thesis'>Thesis</label>
				<input type='text' id='thesis' bind:value={thesis} />
			</div>
			<div>
				<label for='points'>Points</label>
				<textarea id='points' class='h-[150px]' bind:value={pointsInput}></textarea>
			</div>
			<div class='flex gap-x-1'>
				<p>Publish in</p>
				<input type='number' class='unstyled w-[3rem] p-0 text-black' bind:value={publishInDays} />
				<p>days</p>
			</div>
		</form>
		{#if show && thesis}
			<p class='inline-block whitespace-pre-wrap p-2 bg-surface-700 rounded my-2'>{$input}</p>
			<div class='my-1'>
				<button class='btn variant-filled-primary' onclick={handleSubmit}>Generate</button>
			</div>
		{/if}
		{#if article}
			<div class='my-1'>
				<button class='btn variant-filled-primary' onclick={downloadArticleJson}>Download JSON</button>
			</div>
		{/if}
	</div>
	<div class='flex-1'>
		{#if article}
			<Article {article} editable={!$isLoading} />
			{#if !$isLoading}
				<div class='my-2 flex gap-x-2'>
					<button class='btn variant-filled-primary' onclick={continueOutput}>Continue</button>
					<button class='btn variant-filled-primary' onclick={()=>reload()}>Regenerate</button>
					<button class='btn variant-filled-primary' onclick={()=>setMessages([$messages[0]])}>Clear</button>
				</div>
			{/if}
		{/if}
	</div>
</div>