<script lang='ts'>
  import { run } from 'svelte/legacy';



  import { getContext, onMount } from 'svelte';
  import { getCatalogKey } from '$lib/firebase';
  import { doc, getDoc, getFirestore } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import type { HeadData, Subtitle } from '$lib/types';
  import { getRandomShowSubtitles } from '$lib/client/content';
  import SlidingPuzzle from './SlidingPuzzle.svelte';
  import { applyHeight } from '$lib/utilities';
  import { add } from '$lib/client/ContentCache';
  import type { Writable } from 'svelte/store';
  import type { PageData } from './$types';

  let selectedShow: string = $state();
  let subtitle: Subtitle | undefined = $state();
  let nextSubtitle: Subtitle | undefined;
  const head:Writable<HeadData> = getContext('head')
  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();

  onMount(() => {
    $head.title = 'Sliding Puzzle';
    $head.description = 'Play a sliding puzzle game with images from your favorite shows';
  });

  async function loadNextSubtitle() {
    if (nextSubtitle) {
      subtitle = nextSubtitle;
      const subtitles = await getRandomShowSubtitles(selectedShow);
      nextSubtitle = subtitles[0];
    } else {
      const subtitles = await getRandomShowSubtitles(selectedShow, 2);
      subtitle = subtitles[0];
      nextSubtitle = subtitles[1];
    }
    const nextSubtitleUrl = applyHeight(nextSubtitle.pngUrl, -1);
    nextSubtitleUrl.searchParams.set('includeSubtitles', 'false');
    await add(nextSubtitleUrl.toString());
  }


  run(() => {
    if (selectedShow && !subtitle) {
      loadNextSubtitle();
    }
  });
</script>
<div class='mx-2'>


	{#if !selectedShow}
		<p class='text-3xl font-bold'>Select a show</p>
		<div class='flex flex-col gap-3'>
			{#each data.anime.map(s=>s.show).sort((a, b) => a.localeCompare(b)) as show}
				<button class='btn variant-ghost whitespace-normal' onclick={()=>selectedShow=show}>{show}</button>
			{/each}
		</div>
	{/if}
	{#if subtitle}
		<SlidingPuzzle {subtitle} on:next={()=>subtitle=undefined} />
	{/if}
</div>