<script lang='ts'>
  import { run } from 'svelte/legacy';


  import type { ModalComponent, ModalSettings } from '@skeletonlabs/skeleton';
  import { getModalStore } from '@skeletonlabs/skeleton';
  import CreateNew from '$lib/client/collection/CreateNew.svelte';
  import { getContext, onMount } from 'svelte';
  import Collection from './Collection.svelte';
  import { type Writable, writable } from 'svelte/store';
  import type { Collection as CollectionType } from '$lib/client/collection/Collection';
  import { user } from '$lib/client/auth';
  import { collection, getDocs, getFirestore } from '@firebase/firestore';
  import { COLLECTIONS } from '$lib/firebase';
  import { app } from '$lib/client/firebase';
  import type { HeadData } from '$lib/types';

  const modalStore = getModalStore();


  function newCollectionModal() {
    const modalComponent: ModalComponent = {
      ref: CreateNew
    };
    const modalSettings: ModalSettings = {
      type: 'component',
      component: modalComponent
    };
    modalStore.trigger(modalSettings);
  }

  const ownedCollections = writable<CollectionType[]>([]);
  const publicCollections = writable<CollectionType[]>([]);
  let nameQuery = $state('');
  let publicLoadedOnce = $state(false);
  const head: Writable<HeadData> = getContext('head');
  onMount(() => {
    //todo: subscribe to collections updates
    $head.title = 'Collections';
  });

  async function updateCollections(nameQuery: string, accountId: string | undefined) {
    const querySnapshot = await getDocs(collection(getFirestore(app), COLLECTIONS.COLLECTIONS));
    //todo: filter collection
    const collections = querySnapshot.docs.map(doc => doc.data() as CollectionType);
    if (accountId) {
      ownedCollections.set(collections.filter(collection => collection.createdBy === accountId));
      publicCollections.set(collections.filter(collection => collection.createdBy !== accountId));
    } else {
      publicCollections.set(collections);
    }
    publicLoadedOnce = true;
  }


  run(() => {
    updateCollections(nameQuery, $user?.uid);
  });
</script>
<div class='container mx-auto'>
	{#if $user}
		<div class='flex justify-end'>
			<button class='variant-filled-primary btn' onclick={newCollectionModal}>Create new collection</button>
		</div>
	{/if}
	{#if $ownedCollections}
		<h2>Your Collections</h2>
		<div class='grid grid-cols-1 sm:grid-cols-3 xl:grid-cols-5 gap-2'>
			{#each $ownedCollections as collection (collection.id)}
				<Collection {collection} mutable={true} />
			{/each}
		</div>
	{/if}
	<div class='my-10'>
		{#if publicLoadedOnce}
			<h2>Public Collections</h2>
			<div>
				<input type='search' class='input' bind:value={nameQuery} placeholder='Collection Search'>
			</div>
		{/if}
		{#if $publicCollections}
			<div class='grid grid-cols-1 sm:grid-cols-3 xl:grid-cols-5 gap-2 my-2'>
				{#each $publicCollections as collection (collection.id)}
					<Collection {collection} />
				{/each}
			</div>
		{/if}
	</div>
</div>
