<!-- @migration-task Error while migrating Svelte code: Event attribute must be a JavaScript expression, not a string -->
<script lang="ts">
  import {Fa} from 'svelte-fa';
  import { faTrash } from "@fortawesome/pro-solid-svg-icons";
  import type { Collection } from "$lib/client/collection/Collection";
  import { getToastStore } from "@skeletonlabs/skeleton";
  import { doc, getFirestore, deleteDoc } from '@firebase/firestore';
  import { COLLECTIONS } from '$lib/firebase';
  import { app } from '$lib/client/firebase';

  const toastStore = getToastStore();
  export let collection: Collection;
  export let mutable = false;

  async function deleteCollection() {
    try {
			const docRef = doc(getFirestore(app),COLLECTIONS.COLLECTIONS,collection.id);
      await deleteDoc(docRef);
      toastStore.trigger({ message: `Collection ${collection.name} deleted`, background: "bg-success-500" });
    } catch (e) {
      toastStore.trigger({ message: `Error deleting collection: ${e.message}`, background: "bg-error-500" });
    }

  }
</script>

<div class="card p-2 hover:bg-surface-600 relative flex flex-col justify-between">
  <a class="absolute inset-0  z-10" href="/collections/{collection.id}">
    <span class="sr-only">Link to {collection.name}</span>
  </a>
  <video muted autoplay playsinline loop
         class="w-full rounded-sm bg-surface-500">
    <source type="video/mp4"
            src="{collection.coverVideoUrl}">
  </video>
  <div class="flex justify-between mt-2 px-2 items-center">
    <h4>{collection.name}</h4>
    {#if mutable}
      <button class="btn btn-icon z-40 hover:variant-ghost-error hover:text-error-500" on:click={deleteCollection}>
        <Fa icon={faTrash} />
      </button>
    {/if}
  </div>

</div>