<script lang='ts'>
	import type { PageData } from './$types';
    import { page } from '$app/stores';
	import QuizQuestion from '../QuizQuestion.svelte';


	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();
    const question = data.quiz.questions.find(q=>q.id===$page.params.questionId);
</script>
<svelte:head><title>{question.question}</title></svelte:head>
<div class='m-2'>
<QuizQuestion quizQuestion={question} quiz={data.quiz}/>
	<a class='my-3 p-2 bg-surface-600 border border-surface-400 rounded block' href='/quiz/{encodeURIComponent(data.quiz.id)}'>
	<p class='text-xl font-bold'>Back to quiz</p>
	<p class='text-sm'>{data.quiz.title}</p>
	</a>
</div>