<script lang='ts'>
  import { getContext, onMount } from 'svelte';
  import { page } from '$app/stores';
  import ConnectedSquaresCanvas from './ConnectedSquaresCanvas.svelte';
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';

  let parameters: { baseColor?: string, tickInterval?: number, scale?: number } = $state({});
  let loaded = $state(false);
  let screenLock: { release: () => void } | null = null;
  const head: Writable<HeadData> = getContext('head');

  onMount(() => {
    $head.title = 'Get Connected';
    const searchParams = $page.url.searchParams;
    if (searchParams.has('baseColor')) {
      parameters.baseColor = searchParams.get('baseColor') || undefined;
      if (parameters.baseColor && !parameters.baseColor.startsWith('#')) {
        parameters.baseColor = '#' + parameters.baseColor;
      }
    }
    if (searchParams.has('tickInterval') && searchParams.get('tickInterval') != null) {
      parameters.tickInterval = parseInt(searchParams.get('tickInterval'));
    }
    if (searchParams.has('scale') && searchParams.get('scale') != null) {
      parameters.scale = parseFloat(searchParams.get('scale'));
    }
    parameters = { ...parameters };
    loaded = true;
    acquireScreenLock();
    return () => releaseScreenLock();
  });

  async function acquireScreenLock() {
    if (screenLock == null) {
      screenLock = await navigator?.wakeLock?.request('screen');
    }
  }

  async function releaseScreenLock() {
    if (screenLock != null) {
      await screenLock?.release();
      screenLock = null;
    }
  }
</script>
{#if loaded}
	{#key parameters}
		<div class='h-[calc(100vh_-_64px_-_1.25rem)]'>
			<!--        <ConnectedSquares {...parameters} />-->
			<ConnectedSquaresCanvas {...parameters} />
		</div>
	{/key}
{/if}