<script lang="ts">
  import { onMount } from "svelte";
  import { isSmallScreen } from "$lib/client/stores";
  import { pSBC } from "./colorUtils";
  import type { Line, Square } from "./ConnectionGrid";
  import { ConnectionGrid } from "./ConnectionGrid";

  const
    SQUARE_SIZE = $isSmallScreen ? 15 : 25,
    SQUARE_MARGIN = $isSmallScreen ? 10 : 20,
    RADIUS = $isSmallScreen ? 2 : 4,
    LINE_WIDTH = $isSmallScreen ? 2 : 4;

  const PALLETS = [
    ["#cdb4db", "#ffc8dd", "#ffafcc", "#bde0fe", "#a2d2ff"],
    ["#8ecae6","#219ebc","#023047",'#ffb703',"#fb8500"],
    ["#2b2d42",'#8d99ae','#edf2f4','#ef233c','#d90429'],
    ['#f72585','#7209b7','#3a0ca3','#4361ee','#4cc9f0'],
    ['#540d6e','#ee4266','#ffd23f','#3bceac','#0ead69']
  ];


  let squares: Square[] = $state([]);
  let lines: Line[] = $state([]);
  let gridHeight = 0, gridWidth = 0;
  let grid: ConnectionGrid;
  let lastUpdateTime = 0;

  interface Props {
    baseColor: string;
    backgroundColor?: string;
    tickInterval?: number;
  }

  let { baseColor, backgroundColor = "#191a1e", tickInterval = 400 }: Props = $props();


  function initialize() {
    instance = {};
    const squareSpace = SQUARE_SIZE + SQUARE_MARGIN;
    gridHeight = Math.floor(svgElement.clientHeight / squareSpace);
    gridWidth = Math.floor(svgElement.clientWidth / squareSpace);
    if (grid)
      grid.removeHandler(handleGridUpdate);
    squares = [];
    lines = [];
    if (baseColor)
      grid = new ConnectionGrid(gridWidth, gridHeight, [baseColor]);
    else
      grid = new ConnectionGrid(gridWidth,gridHeight,PALLETS[Math.floor(Math.random()*PALLETS.length)])
    grid.addHandler(handleGridUpdate);
    grid.tick();
  }

  function handleGridUpdate(s: Square[], l: Line[], isDone: boolean) {
    if (isDone)
      initialize();
    else if (new Date().getTime() - lastUpdateTime > 60) {
      lastUpdateTime = new Date().getTime();
      squares = s;
      lines = l;
    }
  }


  function scalePoint({ x, y }: { x: number, y: number }): { x: number, y: number } {
    return {
      x: x * (SQUARE_SIZE + SQUARE_MARGIN),
      y: y * (SQUARE_SIZE + SQUARE_MARGIN)
    };
  }

  function scaleLine({ x1, y1, x2, y2 }: Line): Line {
    return {
      x1: x1 * (SQUARE_SIZE + SQUARE_MARGIN) + SQUARE_SIZE / 2,
      y1: y1 * (SQUARE_SIZE + SQUARE_MARGIN) + SQUARE_SIZE / 2,
      x2: x2 * (SQUARE_SIZE + SQUARE_MARGIN) + SQUARE_SIZE / 2,
      y2: y2 * (SQUARE_SIZE + SQUARE_MARGIN) + SQUARE_SIZE / 2
    };
  }

  function getStyle(square: Square): { fill: string, stroke: string, strokeWidth: number, rx: number } {
    const color = pSBC(-.2 * (square.depth % 5), square.color, backgroundColor);
    return {
      fill: square.isFilled ? color : backgroundColor,
      stroke: color,
      strokeWidth: LINE_WIDTH,
      rx: RADIUS
    };
  }

  let instance = $state({});

  onMount(() => {

    initialize();
    const interval = setInterval(() => grid.tick(), tickInterval);
    return () => clearInterval(interval);
  });

  let svgElement: SVGElement = $state();
</script>
<style lang="postcss">
    .progress-bar {
        @apply h-4 rounded-xl top-0;
    }
</style>
<div class="flex flex-col h-full p-2 gap-y-2">
  <!--  <div class="relative  progress-bar">-->
  <!--    <div class="progress-bar bg-gray-700 absolute w-full"></div>-->
  <!--    <div class="progress-bar bg-blue-700 absolute" style="width: {squares.length/(gridWidth*gridHeight)*100}%"></div>-->
  <!--    <div class="progress-bar bg-emerald-700 absolute"-->
  <!--         style="width: {squares.filter(s=>s.isFilled).length/(gridWidth*gridHeight)*100}%"></div>-->
  <!--  </div>-->
  <svg class="w-full flex-grow" bind:this={svgElement}>
    {#key instance}
      {#each lines as l}
        <line {...scaleLine(l)} stroke={l.color} stroke-width={LINE_WIDTH} />
      {/each}
      {#each squares as s}
        {@const point = scalePoint(s)}
        <rect {...point} width={SQUARE_SIZE} height={SQUARE_SIZE}
              {...getStyle(s)} />
      {/each}
    {/key}
  </svg>
</div>
