<script lang='ts'>
	import type { PageData } from './$types';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();
</script>
<h2 class='text-2xl font-bold'>Take a Quiz for:</h2>
<div class='flex flex-col gap-y-2 my-4'>
{#each data.shows as show}
	<a class='btn variant-ghost' href='/quiz/{encodeURIComponent(data.quizPerShow[show].episodeId)}'>{show}</a>
{/each}
</div>
