<script lang='ts'>
  import { run } from 'svelte/legacy';

  import { getModalStore, getToastStore } from '@skeletonlabs/skeleton';
  import ClipFoot from '$lib/client/SubtitlePage/ClipFoot.svelte';
  import Popular from './Popular.svelte';
  import Related from '$lib/client/SubtitlePage/Related.svelte';
  import { getContext, onMount } from 'svelte';
  import { subtitleStore } from '$lib/client/collection/Collection';
  import Context from './Context.svelte';
  import ClipTitle from './ClipTitle.svelte';
  import type { Episode, HeadData, Show, Subtitle, SubtitleContext } from '$lib/types';
  import { client as unleashClient } from '$lib/unleash';
  import { isSmallScreen } from '$lib/client/stores';
  import { getEpisode } from '$lib/client/EpisodeService';
  import { browser } from '$app/environment';
  import {
    ContextSubtitleDataExtractor,
    DEFAULT_CONFIGURATION,
    type SubtitleCardConfiguration,
    SubtitleData
  } from '$lib/client/SubtitleCard/types';
  import ViewportAwareMedia from '$lib/client/SubtitleCard/ViewportAwareMedia.svelte';
  import { openShareModal } from '$lib/client/subtitleUtilities';
  import { doc, getFirestore } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { COLLECTIONS } from '$lib/firebase';
  import { user } from '$lib/client/auth';
  import { setDoc } from 'firebase/firestore';
  import { datadogLogs } from '@datadog/browser-logs';
  import type { Writable } from 'svelte/store';

  const modalStore = getModalStore();
  const toastStore = getToastStore();
  const head: Writable<HeadData> = getContext('head');

  interface Props {
    data: {
      subtitle: Subtitle,
      next: number,
      previous: number,
      previousSubtitles: Subtitle[],
      nextSubtitles: Subtitle[],
      context: {
        previousSubtitlesPromise: Promise<[]>,
        nextSubtitlesPromise: Promise<[]>,
      },
      episode: Episode,
      show: Show
    };
  }

  let { data }: Props = $props();
  let nextCount: number = $state(), previousCount: number = $state(), subtitles: Subtitle[] = $state([]),
    previousSubtitles: Subtitle[] = $state([]), nextSubtitles: Subtitle[] = $state([]),
    subtitle: Subtitle = $state(), showContext = $state(false);

  onMount(() => {
    resetContext();
  });


  function resetContext() {
    showContext = false;
    nextCount = data?.next;
    previousCount = data?.previous;
  }


  async function save() {
    if ($user) {
      const dataSubtitle = {
        ...subtitle,
        next: nextCount,
        previous: previousCount
      };
      const docRef = doc(getFirestore(app), COLLECTIONS.USERS, $user.uid, COLLECTIONS.SAVED, subtitle.id);
      try {
        await setDoc(docRef, dataSubtitle);
        toastStore.trigger({ message: 'Clip Saved', background: 'bg-success-500' });
      } catch (e) {
        toastStore.trigger({ message: 'Error Saving Clip', background: 'bg-error-500' });
        datadogLogs.logger.error('Error Saving Clip', { error: e, subtitle: dataSubtitle });
      }
    } else {
      toastStore.trigger({ message: 'You must be logged in to save clips', background: 'bg-error-500' });
    }
  }

  function showShareModal() {
    const props = { subtitle: data.subtitle, subtitles, nextCount, previousCount };
    openShareModal(modalStore, props);
  }

  function getSubtitles(previousSubtitles: Subtitle[], previousCount: number, nextSubtitles: Subtitle[], nextCount: number, subtitle: Subtitle) {
    return [...previousSubtitles.slice(previousSubtitles.length - previousCount), subtitle, ...nextSubtitles.slice(0, nextCount)];
  }

  let aspectRatio = $state(16 / 9);

  function getCombinedClip(subtitle: Subtitle, subtitles: Subtitle[]): SubtitleData<unknown> {
    const startTime = subtitles.map(s => s.startTime).reduce((a, b) => Math.min(a, b));
    const endTime = subtitles.map(s => s.endTime).reduce((a, b) => Math.max(a, b));
    const plusMs = endTime - subtitle.endTime;
    const minusMs = subtitle.startTime - startTime;
    const context: SubtitleContext = {
      previousCount,
      nextCount,
      plusMs,
      minusMs,
      subtitles
    };
    return new SubtitleData({ subtitle, context }, ContextSubtitleDataExtractor) as SubtitleData<unknown>;
  }

  function getContainerClass(aspectRatio: number) {
    return aspectRatio > 16 / 9 ? 'h-full' : 'w-full';
  }

  const cardConfiguration: SubtitleCardConfiguration = {
    ...DEFAULT_CONFIGURATION,
    mediaType: 'video',
    countHit: true,
    sourceSize: !($isSmallScreen)
  };


  run(() => {
    subtitle = data?.subtitle;
    resetContext(); //reset the context when the subtitle changes
    if (data.context) {
      data.context.previousSubtitlesPromise.then((c) => {
        previousSubtitles = c;
      });
      data.context.nextSubtitlesPromise.then((c) => {
        nextSubtitles = c;
      });
    }
  });
  run(() => {
    if (subtitle) {
      subtitleStore.set(subtitle);
      subtitles = [...previousSubtitles.slice(previousSubtitles.length - previousCount), subtitle, ...nextSubtitles.slice(0, nextCount)];
    }
  });
  run(() => {
    if (data.headData)
      $head = data.headData;
  });
  run(() => {
    if (subtitle && browser)
      getEpisode(subtitle).then((episode) => {
        if (episode?.width && episode?.height) {
          aspectRatio = episode.width / episode.height;
        }
      });
  });

</script>
<style lang='postcss'>
    .content-container {
        @apply sticky top-[-1px] z-[1] max-h-[70vh];
        @apply md:mt-0 md:relative md:top-auto md:mx-auto;
    }
</style>
<svelte:head>
	{#if data.subtitle}
		<title>{data.subtitle.text} - {data.subtitle.show}</title>
	{/if}
</svelte:head>
{#key subtitle}
	<div class='container flex justify-start flex-col lg:flex-row gap-y-2 -my-2 md:my-0 md:px-4 '>

		<div class='flex-1 '>
			{#if data && data.subtitle && subtitles.length > 0}
				<div
					class='content-container'
					style='aspect-ratio: {aspectRatio}'
				>
					{#if subtitle && subtitles}
						{#key subtitles}
							<ViewportAwareMedia subtitleData={getCombinedClip(subtitle, subtitles)}
																	configuration={{...cardConfiguration,aspectRatio,containerClasses: getContainerClass(aspectRatio),mediaContainerAspectRatio: aspectRatio}} />
						{/key}
					{/if}
				</div>
				<ClipTitle clip={subtitle} on:share={showShareModal} on:save={save} on:showContext={()=>showContext=true}
									 {subtitles} />
				{#if showContext}
					{#key [previousSubtitles, nextSubtitles]}
						<Context {subtitle} bind:previous={previousCount} bind:next={nextCount}
										 {previousSubtitles} {nextSubtitles} />
					{/key}
				{/if}
				<ClipFoot clip={subtitle} episode={data.episode} show={data.show} {subtitles} />
				<Related subtitle={data.subtitle} />
			{:else}
				<div class='placeholder max-h-[480px] md:h-[480px] aspect-video'
						 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></div>
				<div class=' mt-2 mx-3 lg:mx-0'>
					<div class='flex gap-x-2'>

						<div class='flex flex-wrap  w-full'>
							<div class='flex-grow space-y-2'>
								<div class='grid grid-cols-4 gap-x-1.5 max-w-xs'>
									<small class='placeholder h-[15px]'
												 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></small>
									<small class='placeholder h-[15px]'
												 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></small>
									<small class='placeholder h-[15px]'
												 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></small>
									<small class='placeholder h-[15px]'
												 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></small>
								</div>
								<h2 class='placeholder unstyled text-4xl h-[40px]'
										class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}><span></span></h2>
							</div>
						</div>
						<div class='space-x-2 flex'>
							<div class='placeholder w-[80px] h-[32px]'
									 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></div>
							<div class='placeholder w-[80px] h-[32px]'
									 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></div>
							<div class='placeholder w-[80px] h-[32px]'
									 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></div>
						</div>
					</div>
					<div class='placeholder h-[176px] mt-2'
							 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}>

					</div>
				</div>
			{/if}
			{#if $isSmallScreen}
				<Popular />
			{/if}
		</div>
		{#if !$isSmallScreen}
			<div class='grow-0 shrink'>
				<Popular />
			</div>
		{/if}
	</div>
{/key}
