<script lang='ts'>
  import { Fa } from 'svelte-fa';
  import { faList, faQuestion, faSave, faShare } from '@fortawesome/pro-solid-svg-icons';
  import CollectionsPopup from '$lib/client/collection/CollectionsPopup.svelte';
  import { createEventDispatcher } from 'svelte';
  import { getModalStore, getToastStore, type ModalSettings, popup, type PopupSettings } from '@skeletonlabs/skeleton';
  import CollectionsModal from '$lib/client/collection/CollectionsModal.svelte';
  import type { SavedSubtitle, Subtitle, SubtitleContext } from '$lib/types';
  import { user } from '$lib/client/auth';
  import { addDoc, collection, doc, getDoc, getFirestore } from '@firebase/firestore';
  import { COLLECTIONS } from '$lib/firebase';
  import { app } from '$lib/client/firebase';
  import { datadogLogs } from '@datadog/browser-logs';
  import { derived } from 'svelte/store';
  import { page } from '$app/stores';
  import { goto } from '$app/navigation';

  const modalStore = getModalStore();
  const toastStore = getToastStore();

  interface Props {
    subtitles: Subtitle[];
    clip: Subtitle;
  }

  let { subtitles, clip }: Props = $props();
  let saving = $state(false);
  const dispatcher = createEventDispatcher();
  const popupSettings: PopupSettings = {
    target: 'collections-menu',
    placement: 'bottom-end',
    event: 'click',
    closeQuery: '.collection-add-item'
  };
  const isSaved = derived([page, user], ([p, u], s) => {
    if (!u || !p.url.searchParams.has('savedId'))
      s(false);
    else {
      const docRef = doc(getFirestore(app), COLLECTIONS.USERS, u.uid, COLLECTIONS.SAVED, p.url.searchParams.get('savedId')!);
      getDoc(docRef).then(doc => {
        s(doc.exists());
      });
    }
  });


  function showCollectionsModal() {
    const modalSettings: ModalSettings = {
      component: { ref: CollectionsModal },
      type: 'component'
    };
    modalStore.trigger(modalSettings);
  }

  async function save() {
    saving = true;
    let context: SubtitleContext | undefined = null as unknown as undefined;
    if (subtitles.length > 1) {
      context = {
        previousCount: subtitles.filter(s => s.subtitleNumber < clip.subtitleNumber).length,
        nextCount: subtitles.filter(s => s.subtitleNumber > clip.subtitleNumber).length,
        minusMs: clip.startTime - subtitles.map(s => s.startTime).reduce((a, b) => Math.min(a, b)),
        plusMs: subtitles.map(s => s.endTime).reduce((a, b) => Math.max(a, b)) - clip.endTime,
        subtitles
      };
    }
    const savedSubtitle: Omit<SavedSubtitle, 'id'> = {
      subtitle: clip,
      context,
      savedAt: new Date().toISOString()
    };
    try {
      const result = await addDoc(collection(getFirestore(app), COLLECTIONS.USERS, $user!.uid, COLLECTIONS.SAVED), savedSubtitle);
      const url = new URL($page.url);
      url.searchParams.set('savedId', result.id);
      await goto(url.toString());
      toastStore.trigger({ message: 'Clip Saved', background: 'variant-filled-success' });
      saving = false;
    } catch (e) {
      toastStore.trigger({ message: 'Error Saving Clip', background: 'variant-filled-success' });
      datadogLogs.logger.error('Error Saving Clip', { error: e, subtitle: savedSubtitle });
      saving = false;
    }
  }
</script>

<div class='mt-2 mx-3 lg:mx-0 relative'>
	<CollectionsPopup />
	<div class='flex flex-wrap lg:flex-nowrap gap-y-2'>
		<div class='flex-grow'>
			<small class='text-surface-400 space-x-1.5 text-xs md:text-sm'>
				{#each [...(subtitles[0].tags || []), ...(subtitles[0].parentTags || [])] as tag}
					<a class='unstyled hover:text-surface-200 hover:underline'
						 href="/search?q={encodeURIComponent('#'+tag)}">#{tag}</a>
				{/each}
			</small>
			<h2 class='overflow-ellipsis line-clamp-1 font-bold md:text-2xl'>{subtitles.map(s => s.text).join(" ")}</h2>
		</div>
		<div
			class='flex-shrink hover:text-surface-300 flex flex-wrap gap-y-2 gap-4 ml-6 lg:mb-auto lg:min-w-[210px] justify-end'>
			{#if $user}
				{#if $isSaved}
					<a href='/saved/{$page.url.searchParams.get("savedId")}'
						 class='hover:text-white flex items-center gap-2 btn btn-sm variant-soft !bg-surface-500'>Edit Saved</a>
					{:else if saving}
					<button class='btn btn-sm variant-soft !bg-surface-500' disabled>
						Saving
					</button>
				{:else}
					<button onclick={()=>save()}
									class='hover:text-white flex items-center gap-2 btn btn-sm variant-soft !bg-surface-500'>
						<Fa icon={faSave} />
						<span class='hidden lg:block'>Save</span>
					</button>
				{/if}
				<button use:popup={popupSettings}
								class='hover:text-white hidden md:flex items-center gap-2 btn btn-sm variant-soft !bg-surface-500'>
					<Fa icon={faList} />
					<span class='hidden lg:block'>Add</span>
				</button>
				<button onclick={showCollectionsModal}
								class='hover:text-white md:hidden flex items-center gap-2 btn btn-sm variant-soft !bg-surface-500'>
					<Fa icon={faList} />
				</button>
			{/if}
			<button onclick={()=>dispatcher("share")}
							class='hover:text-white flex items-center gap-2 btn btn-sm variant-soft !bg-surface-500'>
				<Fa icon={faShare} />
				<span class='hidden lg:block'>Share</span>
			</button>
			<button onclick={()=>dispatcher("showContext")}
							class='hover:text-white flex items-center gap-2 btn btn-sm variant-soft !bg-surface-500'>
				<Fa icon={faQuestion} />
				<span class='hidden lg:block'>Context</span>
			</button>
		</div>
	</div>
</div>
