<script lang='ts'>
	import { run, createBubbler } from 'svelte/legacy';

	const bubble = createBubbler();
	import type { Subtitle } from '$lib/types';
	import {Fa, FaLayers} from 'svelte-fa';
	import { faCircle, faLink, type IconDefinition } from '@fortawesome/pro-solid-svg-icons';
	import { faCircle as faCircleHollow } from '@fortawesome/pro-regular-svg-icons';

	interface Props {
		rootSubtitle: Subtitle;
		contextSubtitle: Subtitle;
		sign?: string;
		highlighted?: boolean | undefined;
		highlightedLine?: boolean | undefined;
		last?: boolean;
		icon: IconDefinition | undefined;
	}

	let {
		rootSubtitle,
		contextSubtitle,
		sign = '',
		highlighted = false,
		highlightedLine = false,
		last = false,
		icon
	}: Props = $props();
	let textColor: string = $state();
	let dotColor: string = $state();
	let lineColor: string = $state();
	let isRoot = $state(false);


	run(() => {
		if (rootSubtitle.id === contextSubtitle.id) {
			textColor = 'text-surface-100';
			dotColor = 'bg-surface-100';
		} else if (highlighted) {
			textColor = 'text-surface-300';
			dotColor = 'bg-surface-300';
		} else {
			textColor = 'text-surface-400';
			dotColor = 'bg-surface-400';
		}
		if (highlightedLine) {
			lineColor = 'bg-surface-300';
		} else {
			lineColor = 'bg-surface-400';
		}
	});
	run(() => {
		isRoot = rootSubtitle.id === contextSubtitle.id;
	});

	function getOffset(): string {
		if (isRoot) {
			return '';
		}
		if (rootSubtitle.startTime > contextSubtitle.startTime) {
			return ((rootSubtitle.startTime - contextSubtitle.startTime) / 1000).toFixed(1) + 's';
		}
		return ((contextSubtitle.endTime - rootSubtitle.endTime) / 1000).toFixed(1) + 's';
	}
</script>
<style lang='postcss'>
    p, button {
        @apply text-sm align-middle py-1 cursor-pointer inline-block ;
    }

</style>
<p class='unstyled p-2 text-right {textColor}'>{sign}</p>
{#if isRoot}
	<button class='text-right pr-2 unstyled {textColor} h-full {highlighted?"":"opacity-0"} transition-opacity' onmouseover={bubble('mouseover')} onmouseout={bubble('mouseout')} onblur={bubble('blur')} onfocus={bubble('focus')}
					onclick={bubble('click')}>Reset</button>
	{:else}
	<button class='text-right pr-2 unstyled {textColor} h-full' onmouseover={bubble('mouseover')} onmouseout={bubble('mouseout')} onblur={bubble('blur')} onfocus={bubble('focus')}
					onclick={bubble('click')}>{getOffset()}</button>
	{/if}
<div class='relative py-2 cursor-pointer h-full' onmouseover={bubble('mouseover')} onmouseout={bubble('mouseout')} onclick={bubble('click')} onblur={bubble('blur')} onfocus={bubble('focus')} role='button' tabindex='-1'
		 onkeypress={bubble('keypress')}>
	{#if !last}
		<div class='w-0.5 h-[110%] absolute {lineColor}  top-[40%] left-[calc(50%_-_0.0625rem)]'>
		</div>
	{/if}
	<div class='h-full flex flex-col justify-center bg-none  z-[1] '>
		<FaLayers size='lg' class='bg-surface-800 -py-2' >
			{#if icon}
				<Fa icon={faCircleHollow} scale={1}   />
				<Fa icon={icon} class='text-white' scale={.55} />
			{:else}
				<Fa icon={faCircle} class='{textColor} ' scale={.7}/>
			{/if}
		</FaLayers>
	</div>
</div>
<button class='{textColor} unstyled h-full' onmouseover={bubble('mouseover')} onmouseout={bubble('mouseout')} onclick={bubble('click')} onfocus={bubble('focus')} onblur={bubble('blur')}
				class:pl-2={contextSubtitle.name}>{contextSubtitle.name || ''}</button>
<button class='{textColor} unstyled pl-2 text-left h-full' onmouseover={bubble('mouseover')} onmouseout={bubble('mouseout')} onclick={bubble('click')} onfocus={bubble('focus')}
				onblur={bubble('blur')}>{contextSubtitle.text}
	{#if !isRoot}
		<a href='/subtitle/{contextSubtitle.id}' class='unstyled'>
			<Fa class='inline-block' icon={faLink} />
		</a>
	{/if}
</button>

