<script lang="ts">

  import type { Subtitle } from "$lib/types";
  import ContextItem from "./ContextItem.svelte";
  import {  faArrowDownFromLine, faArrowUpFromLine, faLocationCrosshairs } from '@fortawesome/pro-regular-svg-icons';
  import { onMount } from 'svelte';
  import { page } from '$app/stores';

  interface Props {
    subtitle: Subtitle;
    previousSubtitles?: Subtitle[];
    nextSubtitles?: Subtitle[];
    previous: number;
    next: number;
  }

  let {
    subtitle,
    previousSubtitles = [],
    nextSubtitles = [],
    previous = $bindable(),
    next = $bindable()
  }: Props = $props();


  let nextMouseoverIndex:number = $state();
  let previousMouseoverIndex:number = $state();
  let rootHovered = $state(false);

  onMount(()=>{
      next = $page.data.next || 0;
      previous = $page.data.previous || 0;
  })

  function reset(){
    previous=0;
    next=0;
    previousMouseoverIndex=0;
    nextMouseoverIndex=0;
  }

</script>
<div class="detail-container my-2">
  <h3 class="mx-2">Context</h3>
<div class="grid grid-cols-[repeat(4,max-content)_1fr] items-center ">

  {#each previousSubtitles as p,i}
    {@const highlighted = previousSubtitles.length-i<=previousMouseoverIndex}
    {@const icon = ((previousSubtitles.length-i)===previousMouseoverIndex)?faArrowDownFromLine:undefined}
    {@const cdata = {rootSubtitle: subtitle, contextSubtitle: p,sign:"-", highlighted,highlightedLine:highlighted, icon}}
    <ContextItem {...cdata} on:click={()=>previous=previousSubtitles.length-i}
                 on:mouseover={()=>previousMouseoverIndex=previousSubtitles.length-i} on:mouseout={()=>previousMouseoverIndex=previous} />
  {/each}
  <ContextItem rootSubtitle={subtitle} contextSubtitle={subtitle} on:click={reset} icon={faLocationCrosshairs} highlighted={rootHovered}
          on:mouseover={()=>rootHovered=true} on:mouseout={()=>rootHovered=false}/>
  {#each nextSubtitles as n,i}
    {@const last = i === nextSubtitles.length - 1}
    {@const highlighted = nextMouseoverIndex>i}
    {@const cdata = {rootSubtitle: subtitle, contextSubtitle: n,sign:"+", last, highlighted,highlightedLine:nextMouseoverIndex-1>i, icon:(i===nextMouseoverIndex-1)?faArrowUpFromLine:undefined}}
    <ContextItem {...cdata} on:click={()=>next=i+1}
                 on:mouseover={()=>nextMouseoverIndex = i+1} on:mouseout={()=>nextMouseoverIndex = next}
    />
  {/each}
</div>
</div>
