<script lang='ts'>
  import { onMount } from 'svelte';
  import { SERVER_URL } from '$lib/constants';
  import { client as unleashClient } from '$lib/unleash';
  import SubtitleCard from '$lib/client/SubtitleCard/SubtitleCard.svelte';
  import {
    DEFAULT_CONFIGURATION,
    type SubtitleCardConfiguration,
    SubtitleData,
    SubtitleDataExtractor
  } from '$lib/client/SubtitleCard/types';
  import type { Subtitle } from '$lib/types';
  import { getAuthHeader } from '$lib/client/auth.js';

  let popularClipsPromise: Promise<SubtitleData<unknown>[]> = $state(new Promise(r => r([])));
  const cardConfiguration: SubtitleCardConfiguration = {
    ...DEFAULT_CONFIGURATION,
    cardClasses: 'w-full block'
  };
  onMount(() => {
    popularClipsPromise = getAuthHeader().then(headers => fetch(`${SERVER_URL}/v1/landing/popular?count=10`, { headers }))
      .then(r => r.json() as Promise<Subtitle[]>)
      .then(p => {
        if (!p || p.length === 0)
          return Promise.reject('No popular clips');
        return p.map(clip => new SubtitleData(clip, SubtitleDataExtractor) as SubtitleData<unknown>);
      });
  });
</script>
<style lang='postcss'>
    .error {
        @apply border-0 border-l-4 border-l-error-500 rounded-md py-2 px-3;
        --tw-ring-opacity: 0;
    }

    .clip-list {
        @apply divide-y divide-surface-400/70;
    }
</style>
<div class='lg:ml-4 lg:max-w-sm'>
	<h4 class='text-xl font-bold mb-2'>Popular Clips</h4>
	{#await popularClipsPromise}
		<div class='clip-list'>
			{#each new Array(10) as i}
				<div class='m-2' id='subtitle-popular-placeholder-{i}'>
					<div
						class='rounded my-3  h-[180px] w-[384px] placeholder'
						class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}>
					</div>
					<p class='placeholder w-40 mt-2' class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></p>
					<p class='text-sm placeholder w-40 mt-2'
						 class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></p>
				</div>
			{/each}
		</div>
	{:then popularClips}
		<div class='clip-list'>
			{#each popularClips as clip}
				<SubtitleCard subtitleData={clip} configuration={cardConfiguration} />
			{/each}
		</div>
	{:catch error}
		<div class='variant-ghost-error error w-[320px]'>
			<h5>Uh oh, it looks like there was an error loading the popular clips</h5>
			<p>{error.error || error}</p>
		</div>
	{/await}
</div>