<script lang='ts'>

  import { getFirestore, doc, getDoc } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { episodeAction, type PlexOpening, uploadOpenings } from '$lib/client/EpisodeService';
  import { FileButton, ProgressBar } from '@skeletonlabs/skeleton';
  import type { Episode } from '$lib/types';
  import { encodeId, getCatalogKey } from '$lib/firebase';
  import { fade } from 'svelte/transition';

  let statusMessage = $state('');
  let batchCompleted = $state(0);
  let batchTotal = $state(0);
  let batchRunning = $state(false);

  async function batchEpisodeAction(type: string) {
    batchRunning = true;
    try {
      const episodes = await getEpisodes();
      batchTotal = episodes.length;
      batchCompleted = 0;
      for (const episode of episodes) {
        statusMessage = `Processing ${episode.show} ${episode.season}E${episode.episode}`;
        await episodeAction(type, episode);
        batchCompleted++;
      }
    } finally {
      batchRunning = false;
    }
  }

  async function getEpisodes(): Promise<Pick<Episode, 'show' | 'season' | 'episode'>[]> {
    const shows = await getDoc(doc(getFirestore(app), getCatalogKey('shows')));
    const keys = shows.data() as { shows: { show: string }[] };
    const episodes: Pick<Episode, 'show' | 'season' | 'episode'>[] = [];
    batchTotal = keys.shows.length;
    batchCompleted = 0;
    for (const show of keys.shows) {
      statusMessage = `Fetching episodes for ${show.show}`;
      const episodesDoc = await getDoc(doc(getFirestore(app), getCatalogKey('episodes', encodeId(show.show))));
      const e = episodesDoc.data() as { episodes: { show: string, season: string, episode: string }[] };
      episodes.push(...e.episodes);
      batchCompleted++;
    }
    return episodes;
  }

  function onOpeningsFilesSelected(): void {
		if(files.length==1){
      			const reader = new FileReader();
			reader.onload = async function(e){
				const text = e.target?.result as string;
				const episodes = JSON.parse(text) as PlexOpening[];
				batchTotal = episodes.length;
				batchCompleted = 0;
				batchRunning = true;
        for (let i = 0; i < episodes.length; i+=100) {
					const batch = episodes.slice(i, i+100);
          statusMessage = `Uploading ${batch.length} episodes`;
					await uploadOpenings(batch);
          batchCompleted+=batch.length;
        }
				batchRunning = false;
			}
			reader.readAsText(files[0]);

		}
  }
  let files:FileList = $state();
</script>
<div class='flex gap-x-2'>
	{#if batchRunning}
		<button class='btn variant-ghost' disabled>Reindex All Episodes</button>
		<FileButton class='btn variant-ghost' name='openings' disabled>Upload openings</FileButton>
	{:else}
		<button class='btn variant-ghost' onclick={()=>batchEpisodeAction("reindex")}>Reindex All Episodes</button>
		<FileButton on:change={onOpeningsFilesSelected} bind:files name='openings' accept='application/json' button='btn variant-ghost'>Upload openings</FileButton>
	{/if}
</div>
{#if batchRunning}
	<div in:fade={{duration:500}}>
		<ProgressBar value={batchCompleted} max={batchTotal} />
		<p>{batchCompleted}/{batchTotal}  {statusMessage}</p>
	</div>
{/if}