<script lang='ts'>

	import type { PageData } from './$types';
	import TOC from './TOC.svelte';
	import Article from '../Article.svelte';
	import ArticleLink from './ArticleLink.svelte';
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';
  import { getContext, onMount } from 'svelte';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();
  const head:Writable<HeadData> = getContext('head')
	let article = $derived(data.article);
  onMount(()=>{
    $head.title = article.title;
	})
</script>
<div class='container mx-auto px-2 lg:px-6 xl:px-8 2xl:px-12  '>
	<Article {article} />
	<div class='my-8 lg:w-[80%]'>
		<h2 class='text-3xl font-bold mb-3'>Other Articles</h2>
		<div class='space-y-2 lg:space-y-0 lg:flex gap-x-3'>
			{#each data.otherArticles as articleListing}
				<div class='flex-grow'>
					<ArticleLink {articleListing} />
				</div>
			{/each}
		</div>
	</div>
</div>
<div class='hidden lg:inline-block absolute top-[160px] right-0 mr-10 w-[12%] overflow-x-hidden'>
	<TOC {article} />
</div>
