<script lang='ts'>
	import type { ArticleListing } from '../types';

	interface Props {
		articleListing: ArticleListing;
	}

	let { articleListing }: Props = $props();
</script>
<div class='border-surface-400 border rounded p-2 space-y-1 hover:bg-surface-800'>
	<a class='' href='/article/{articleListing.repoId}'>
		<h4 class='font-bold text-xl line-clamp-1'>{articleListing.title}</h4>
		<p class='text-sm text-surface-400'>Published on {new Date(articleListing.publishedUtc).toLocaleDateString()}</p>
		<p class='flex gap-1 flex-wrap'>
			{#each articleListing.tags as tag}
				<span class='text-sm bg-surface-600 rounded-full px-2 flex-grow-0'>{tag}</span>
			{/each}
		</p>
	</a>
</div>