<script lang="ts">
	import type { Article } from '../types';

	interface Props {
		article: Article;
	}

	let { article }: Props = $props();
	let headers = $derived(article ? article.content.filter(c => c.type === 'header') : []);
</script>
<div class='space-y-1.5'>
{#each headers as header}
	<div class='text-surface-400 text-sm  hover:text-surface-50 flex gap-x-1'>
		<p class='shrink-0'>--</p>
	<a class=' ' href='#{header.text}'> {header.text}</a>
	</div>
{/each}
</div>
