<script lang='ts'>

  import { navigating } from '$app/stores';
  import Search from './Search.svelte';
  import type { Snapshot } from './$types';
  import { afterNavigate, onNavigate } from '$app/navigation';
  import { getContext, onMount } from 'svelte';
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';

  let searchId: string = $state('');
  let restoredState: boolean = $state(false);
  const head: Writable<HeadData> = getContext('head');
  onMount(() => {
    setTimeout(() => restoredState = true, 100);
    $head.title = 'Search';
  });

  export const snapshot: Snapshot<string> = {
    capture: () => {
      return searchId;
    },
    restore: (s: string) => {
      restoredState = true;
      searchId = s;
    }
  };

  onNavigate(() => {
    //clear the state, a new search triggers a navigation
    searchId = '';
    restoredState = false;
  });
  afterNavigate(() => {
    //trigger the restored state again, a new mount is not called when a new search happens
    setTimeout(() => restoredState = true, 100);
  });


</script>
<div class=' h-full  '>
	{#if !$navigating && restoredState}
		<Search on:search={e=>searchId=e.detail.searchId} {searchId} />
	{/if}
</div>
