<script lang='ts'>
	import { preventDefault, stopPropagation } from 'svelte/legacy';

  import { safeSearchStore, type SafeSearchType } from './stores';
  import { goto } from '$app/navigation';
  import { onMount } from 'svelte';
  import { loadStateFromUrl } from './searchUtilities';
  import { page } from '$app/stores';

  let showAdvanced = $state(false);

  onMount(()=>{
		showAdvanced = $page.url.searchParams.has("showHelp");
	})

  function handleSSChange(value: SafeSearchType) {
    const url = new URL($page.url);
    url.searchParams.set('safeSearch', value);
    goto(url.toString(), { replaceState: true });
  }
</script>
<style lang='postcss'>
    .help-title {
        @apply text-lg font-bold;
    }

    .help-description {
        @apply text-sm text-surface-200 mb-1;
    }

    .help-query {
        @apply font-mono bg-surface-400/30 px-2 py-0.5 text-sm leading-6;
    }

    .help-keyword {
        @apply font-bold text-surface-50 text-sm;
    }
</style>
<div>
	{#if showAdvanced}
		<div class='p-3 bg-surface-700 my-1 rounded'>
			<div class='grid md:grid-cols-2 gap-x-5 gap-y-5'>
				<div>
					<p class='unstyled help-title'>Required words</p>
					<p class='unstyled help-description'>You can wrap words you want to appear in results with quotation marks.
						For example if you had the search <span class='help-query'>Hi, "my name" is</span> the words <span
							class='help-keyword'>my</span>
						and <span class='help-keyword'>name</span> would be in the subtitle of every search result</p>
				</div>
				<div>
					<p class='help-title unstyled'>Tags</p>
					<p class='help-description unstyled'>You can search against a tag by including a hashtag followed by the tag
						in the search.
						The search
						<span class='help-query'>go all out #anime #shounen</span> would return results from <span
							class='help-keyword'>Shounen</span>
						<span class='help-keyword'>anime</span></p>
				</div>
				<div>
					<p class='help-title unstyled'>Name</p>
					<p class='unstyled help-description'> You can search for the name of the character who is speaking by
						including 'name:'
						and then the name of the character. For example the search <span
							class='help-query'>name:Anya Mr.Dog</span> would return
						results where <span class='help-keyword'>Anya</span> said <span class='help-keyword'>Mr.Dog</span>. The
						name
						filter can appear anywhere in the search</p>
					<div class='variant-ghost-warning rounded-md p-2 my-1 text-sm'>
						<p class='unstyled'>Not all subtitles are properly labeled with who said them or they may use a specific
							name.
							Results may be unpredictable. Use at your own risk</p>
					</div>
				</div>
				<div>
					<p class='help-title unstyled'>Japanese</p>
					<p class='help-description unstyled'>You can search against the Japanese subtitles when available. This is
						similar
						to the required words search where all japanese filters must be matched in the results. To search against
						the romaji simply put 'roamji:' and then whatever word you want to search for, like <span
							class='help-query'>
                romaji:kashikomari</span>. To search against Japanese use either the kanji or japanese filters, like
						<span class='help-query'>kanji:かしこまりました</span> or <span
							class='help-query'>japanese:かしこまりました</span>.
						Japanese filters can appear anywhere in the search</p>
				</div>
			</div>
		</div>
		<button class='unstyled text-sm md:text-base text-primary-500 underline mt-2'
						onclick={stopPropagation(preventDefault(()=>showAdvanced=false))}>Hide Search Help
		</button>
	{/if}

	<div class='flex gap-x-2 items-center'>
		{#if !showAdvanced}
			<button class='unstyled text-sm md:text-base text-primary-500 underline my-2'
							onclick={stopPropagation(preventDefault(()=>showAdvanced=true))}>Search Help
			</button>
		{/if}
		<div class='flex gap-x-1 flex-shrink-0 items-center'>
			<label class='whitespace-pre'>Safe Search </label>
			<select class='font-bold bg-transparent border-hidden' bind:value={$safeSearchStore}
							onchange={(e)=>handleSSChange(e.target?.value)}>
				<option value='ON'>On</option>
				<option value='OFF'>Off</option>
				<option value='ANIME'>Anime Only</option>
				<option value='NO_ANIME'>No Anime</option>
			</select>
		</div>
	</div>
</div>