<script lang='ts'>
  import { clipboard, getModalStore, getToastStore } from '@skeletonlabs/skeleton';
  import { Fa } from 'svelte-fa';
  import {
    faClipboard,
    faFileDownload,
    faFileImage,
    faFileVideo,
    faGif,
    faLink, faMemo,
    faScissors
  } from '@fortawesome/pro-solid-svg-icons';
  import { page } from '$app/stores';
  import { getCombinedImageUrl, stitch } from '$lib/client/combinationUtilities.js';
  import type { Subtitle } from '$lib/types';
  import { faHtml5 } from '@fortawesome/free-brands-svg-icons';

  const modalStore = getModalStore();
  const toastStore = getToastStore();


  export let subtitle: Subtitle;
  export let subtitles: Subtitle[] = [];
  export let nextCount = 0;
  export let previousCount = 0;

  function handleClick(type) {
    if ($modalStore[0].response)
      $modalStore[0].response([type]);
    modalStore.close();
  }

  function handleCopyLink(url, type) {
    navigator.clipboard.writeText(url).then(() => {
      toastStore.trigger({ background: 'variant-filled-success', message: 'Link copied to clipboard' });
      handleClick(type);
    });
  }


  let combinedLink;
  let combinationType;

  async function loadCombinedLink(url, type) {
    combinedLink = url;
    combinationType = type;

    if ($modalStore[0]?.response)
      $modalStore[0].response(['combined_' + type]);
  }

  function getSourceSize(urlString: string): string {
    const url = new URL(urlString);
    url.searchParams.set('height', '-1');
    url.searchParams.set('includeSubtitles', 'false');
    return url.toString();
  }

  const SHELL_ASCII_CHARACTERS = encodeURIComponent('!"#$%&()*+-./:;<=>?@[\\]^_`{|}~ ');
  const GIT_BASH_ASCII_CHARACTERS = encodeURIComponent(" .@0o8-_=");
  function getShellCommand(subtitle: Subtitle) {
    const isWindows = navigator.userAgent.includes('Windows');
    return `curl -s ${subtitle.shellUrl}?characterSet=${isWindows?GIT_BASH_ASCII_CHARACTERS:SHELL_ASCII_CHARACTERS} | bash`;
  }

</script>

<style lang='postcss'>
    .link {
        @apply p-1 md:p-2 border rounded-md flex flex-col justify-center items-center space-y-1 border-surface-400 hover:bg-surface-600 cursor-pointer ;
    }

    .link > p {
        @apply text-sm md:text-base;
    }

    .divider {
        @apply my-4 border border-surface-400;
    }

    .link.disabled {
        @apply cursor-not-allowed hover:bg-surface-800;

        button {
            @apply bg-surface-300/50 cursor-not-allowed;
        }
    }
</style>
<div class='bg-surface-700 p-5 rounded-md space-y-3 max-w-full'>

	<h2 class='text-3xl font-bold'>Share Clip</h2>
	<div class='flex justify-center gap-x-4'>
		<button class='link'
						on:click|preventDefault={()=>handleCopyLink(`${$page.url.origin}/subtitle/${subtitle.id}?next=${nextCount}&previous=${previousCount}`,"clip_link")}>
			<div class='btn-icon btn-icon-sm variant-filled-primary'>
				<Fa icon={faLink} size='lg' />
			</div>
			<p class=''><span class='hidden md:inline'>Copy </span>Clip Link</p>
		</button>
		<button class='link' on:click|preventDefault={()=>handleCopyLink(subtitle.videoUrl,"video_link")}>
			<div class='btn-icon variant-filled-primary'>
				<Fa icon={faFileVideo} size='lg' />
			</div>
			<p class=''><span class='hidden md:inline'>Copy </span>Video Link</p>
		</button>
		<button class='link' on:click|preventDefault={()=>handleCopyLink(subtitle.pngUrl,"png_link")}>
			<div class='btn-icon variant-filled-primary'>
				<Fa icon={faFileImage} size='lg' />
			</div>
			<p><span class='hidden md:inline'>Copy </span>Image Link</p>
		</button>
	</div>
	<div class='flex justify-center gap-x-2'>
		<a href={getSourceSize(subtitle.pngUrl)} download={subtitle.id+".png"} class='link'>
			<button class='btn-icon variant-filled-primary'>
				<Fa icon={faFileDownload} size='lg' />
			</button>
			<p>Download Image</p>
		</a>
		<a class='link' href='https://highsub.alexk8s.com/v1/content/subtitle/{subtitle.id}.html' target='_blank'><span
			class='btn-icon variant-filled-primary'><Fa icon={faHtml5} /></span>HTML</a>
	</div>
	<div class='bg-black font-mono text-sm flex gap-x-2 p-2 text-white w-[600px] flex-nowrap'>
		<p>$</p>
		<p class='flex-1 overflow-x-hidden flex-nowrap text-nowrap'>{getShellCommand(subtitle)}</p>
		<button use:clipboard={getShellCommand(subtitle)} class='inline-flex items-center gap-x-2'
						on:click={()=>{toastStore.trigger({message:'Command Copied',background:'variant-filled-success'});modalStore.close();}}>
			Copy
			<Fa icon={faClipboard} />
		</button>
	</div>
	{#if subtitles.length <= 1}

		<a href={getSourceSize(subtitle.pngUrl)} download={subtitle.id+".png"} target='_blank'
			 class='my-4 block aspect-video '>
			<img src={subtitle.pngUrl} alt='Subtitle Image' class=' md:max-w-xl rounded-xl mx-auto'>
		</a>
	{/if}

	{#if subtitles.length > 1}
		<div class='divider'></div>
		<h2>Combine clips
			<Fa icon={faScissors} class='inline-block' />
		</h2>
		<div class='flex justify-center gap-x-4'>
			<div class='link'
					 on:click|preventDefault={()=>loadCombinedLink(stitch(subtitle.gifUrl,subtitle,subtitles),'gif')}>
				<button class='btn-icon variant-filled-primary'>
					<Fa icon={faGif} size='lg' />
				</button>
				<p>Combine as Gif</p>
			</div>
			<div class='link'
					 on:click|preventDefault={()=>loadCombinedLink(stitch(subtitle.videoUrl,subtitle,subtitles),'video')}>
				<button class='btn-icon variant-filled-primary'>
					<Fa icon={faFileVideo} size='lg' />
				</button>
				<p>Combine as Video</p>
			</div>
			<div class='link'
					 on:click|preventDefault={()=>loadCombinedLink(getCombinedImageUrl(subtitle,subtitles),'image')}>
				<button class='btn-icon variant-filled-primary'>
					<Fa icon={faFileImage} size='lg' />
				</button>
				<p>Combine as Image</p>
			</div>

		</div>
	{/if}
	{#if combinedLink}
		<div class='flex bg-surface-700'>
			<p
				 class='select-all flex-1 border-r-0 rounded-r-none input overflow-x-hidden whitespace-nowrap'>{combinedLink}</p>
			<button class='btn variant-filled-primary rounded-l-none border-l-0' use:clipboard={combinedLink}
							on:click={()=>{toastStore.trigger({message:"Copied link",background:'variant-filled-success'});modalStore.close();}}>Copy
				<Fa icon={faClipboard} class='mx-2' />
			</button>
		</div>
		<div class='flex justify-center'>
			{#if combinationType === 'image' || combinationType === 'gif'}
				<img src='{combinedLink}'
						 class='w-full md:w-auto rounded-sm md:min-h-[200px] bg-surface-500' />
			{:else if combinationType === 'video'}
				<video autoplay playsinline loop muted
							 class='w-full md:w-auto md:h-[300px] rounded-sm bg-surface-500'>
					<source type='video/mp4'
									src='{combinedLink}'>
				</video>
			{/if}
		</div>
	{/if}
	<div>
		<p class='whitespace-pre font-mono p-2 bg-surface-500 text-sm overflow-x-scroll w-[600px]'>{JSON.stringify({
			subtitleId: subtitle.id,
			previous: previousCount,
			next: nextCount
		}, null, 4)}</p>
	</div>
</div>
