<script lang="ts">

	import { getSubtitle } from '$lib/client/subtitleUtilities';
	import SubtitleCard from '$lib/client/SubtitleCard/SubtitleCard.svelte';
  import {
    DEFAULT_CONFIGURATION, SubtitleData, SubtitleDataExtractor
  } from '$lib/client/SubtitleCard/types';
  import type { Subtitle } from '$lib/types';
	import { onMount } from 'svelte';
	import { SERVER_URL } from '$lib/constants';
	import SubtitleCardSkeleton from '$lib/client/SubtitleCard/SubtitleCardSkeleton.svelte';

	const sampleSubtitles = [
		'Outlaw%20Star-Season%201-5-88', // 3:4
		'Jujutsu%20Kaisen-Specials-0-980', // 21:9
		'Campfire%20Cooking%20in%20Another%20World%20with%20My%20Absurd%20Skill-Season%201-11-262' // 16:9
	]
	let subtitles:Subtitle[] = $state([]);

	onMount(()=>{
		loadSubtitles()
	})

	async function loadSubtitles(){
		const subs = await Promise.all(sampleSubtitles.map(getSubtitle));
		for (let sub of subs) {
			subtitles = [...subtitles, sub];
		}
		const randomSubtitles = await fetch(`${SERVER_URL}/v2/subtitle/random?count=50`).then(res=>res.json())
		for (let sub of randomSubtitles) {
			subtitles = [...subtitles, sub];
		}
	}

  function getSubtitleData(subtitle:Subtitle):SubtitleData<unknown>{
		return new SubtitleData(subtitle,SubtitleDataExtractor) as SubtitleData<unknown>;
	}



</script>
<div class='grid xl:grid-cols-4 lg:grid-cols-3 2xl:grid-cols-5 gap-3'>
	<SubtitleCardSkeleton/>
{#each subtitles as subtitle}
	<SubtitleCard subtitleData={getSubtitleData(subtitle)} configuration={DEFAULT_CONFIGURATION}/>
{/each}
</div>
