<script lang='ts'>
  import { addDoc, collection, getDocs, getFirestore, limit, orderBy, query, where } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { COLLECTIONS } from '$lib/firebase';
  import { goto } from '$app/navigation';
  import { Fa } from 'svelte-fa';
  import { faCircleNotch } from '@fortawesome/pro-solid-svg-icons';
  import { isAdmin, user } from '$lib/client/auth';
  import type { EditorPick } from './types';
  import { onMount } from 'svelte';

  let loading = $state(false);
  let hasMore = $state(false);
  let editorPicks: (EditorPick & { id: string })[] = $state([]);

  onMount(() => {
    loadEditorPicks("a");
  });

  async function loadEditorPicks(startDate: string) {
    const querySnapshot = await getDocs(query(collection(getFirestore(app), COLLECTIONS.EDITOR_PICKS),
      where('published', '==', true),
      where('publishedDate', '<', startDate),
      orderBy('publishedDate', 'desc'), limit(10)));
    hasMore = querySnapshot.size === 10;
    editorPicks = [...editorPicks, ...querySnapshot.docs.map(doc => ({ id: doc.id, ...doc.data() } as (EditorPick & {
      id: string
    })))];
  }

  async function addPick() {
    loading = true;
    const documentReference = await addDoc(collection(getFirestore(app), COLLECTIONS.EDITOR_PICKS), {
      authoredBy: $user?.uid,
      authoredAt: new Date().toISOString(),
      sections: [],
      tags: [],
      shows: [],
      episodes: []
    });
    await goto(`/editor-picks/${documentReference.id}/edit`);
    loading = false;
  }

  async function loadMore() {
    const last = editorPicks[editorPicks.length - 1];
    await loadEditorPicks(last.publishedDate);
  }
</script>
{#if $isAdmin}
	{#if !loading}
		<button onclick={addPick} class='btn variant-filled-primary'>Add Pick</button>
	{:else}
		<button class='btn variant-filled-primary' disabled>Add Pick
			<Fa class='text-sm ml-1' icon={faCircleNotch} spin={true} />
		</button>
	{/if}
{/if}
<p class='text-3xl font-bold'>Editor Picks</p>
<div class='mx-3'>
	{#each editorPicks as editorPick}
		<div class='relative my-3 hover:bg-surface-500 p-3 rounded space-y-1'>
			<p class='text-lg font-bold'>{editorPick.title}</p>
			<p class='text-sm text-surface-300'>Published at {new Date(editorPick.publishedDate).toLocaleTimeString()}</p>
			{#if editorPick.shows.length > 0}
				<div class='flex gap-x-2'>
					{#each editorPick.shows as show}
						<p class='badge variant-filled'>{show}</p>
					{/each}
				</div>
			{/if}
			<a class='inset-0 absolute z-[1] opacity-0' href='/editor-picks/{editorPick.id}'>Link to {editorPick.title}</a>
		</div>
	{/each}
</div>
{#if hasMore}
	<div class='my-4'>
	<button onclick={loadMore} class='btn variant-filled-primary'>Load More</button>
	</div>
{/if}