<script lang="ts">

  import { getContext, onMount } from 'svelte';
  import { SERVER_URL } from "$lib/constants";
  import { SubtitleData, SubtitleDataExtractor } from '$lib/client/SubtitleCard/types';
  import SubtitleGrid from '$lib/client/SubtitleGrid.svelte';
  import type { HeadData, Subtitle } from '$lib/types';
  import type { Writable } from 'svelte/store';

  let popularClipsPromise:Promise<SubtitleData<unknown>[]> = $state(new Promise(r => r([])));
  const head:Writable<HeadData> = getContext('head')
  onMount(() => {
    $head.title = 'Popular Clips';
    popularClipsPromise = fetch(`${SERVER_URL}/v1/landing/popular`,{credentials:'include'})
			.then(r => r.json() as Promise<Subtitle[]>)
			.then(clips => clips.map(clip => new SubtitleData(clip,SubtitleDataExtractor) as SubtitleData<unknown>))
		;
  });
</script>

<div class="container mx-auto px-1">
  <h1 class='text-4xl font-bold'>Popular</h1>
  {#await popularClipsPromise then popularClips}
		<SubtitleGrid clips={popularClips} countHit={false}/>
  {/await}
</div>
