<script lang='ts'>
	import type { PageData } from './$types';
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';
  import { getContext, onMount } from 'svelte';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();
  const head:Writable<HeadData> = getContext('head')

	onMount(()=>{
    		$head.title = "Articles";
	})
</script>
<div class='container mx-auto p-2'>
<h1 class='text-4xl'>Articles</h1>
<div class='space-y-4 mt-10'>
{#each data.articles as article}
	<a class='hover:bg-surface-800 block' href='/article/{article.repoId}'>
		<h2 class='text-2xl'>{article.title}</h2>
		<p class='text-sm text-surface-400'>Published on {new Date(article.publishedUtc).toLocaleDateString()}</p>
		<p class='flex gap-1 flex-wrap'>
			{#each article.tags as tag}
				<span class='text-sm bg-surface-600 rounded-full px-2 flex-grow-0'>{tag}</span>
			{/each}
		</p>
	</a>
{/each}
</div>
</div>
