<script lang='ts'>
	import type { Article, Content, Readers } from './types';
	import ContentBlock from './ContentBlock.svelte';

	interface Props {
		article: Article;
		editable?: boolean;
	}

	let { article = $bindable(), editable = false }: Props = $props();

	async function read() {
		if (article.readers && Object.keys(article.readers).length > 0) {
			await readFiles();
		} else {
			await readTts();
		}
	}

	async function readFiles() {
		const readingNames: Readers[] = Object.keys(article.readers!) as Readers[];
		const titleReadingName = readingNames[Math.floor(Math.random() * readingNames.length)];
		const paragraphsReadingName = readingNames[Math.floor(Math.random() * readingNames.length)];
		await playFile(article.readers![titleReadingName]);
		for (const contentElement of article.content) {
			if (contentElement.type === 'paragraph' || contentElement.type === 'header') {
				if (contentElement.type === 'header') {
					window.location.hash = contentElement.text;// scroll to the header
					await playFile(contentElement.readers![titleReadingName]);
				} else {
					await playFile(contentElement.readers![paragraphsReadingName]);
				}
			}
		}
	}

	async function playFile(id: string) {
    // todo: add audio files back
		// const audio = new Audio(fileUrl.toString());
		// await audio.play();
		// await new Promise(resolve => audio.onended = resolve);
	}

	async function readTts() {
		await readText(article.title);
		for (const contentElement of article.content) {
			if (contentElement.type === 'paragraph' || contentElement.type === 'header') {
				if (contentElement.type === 'header') // scroll to the header
					window.location.hash = contentElement.text;
				await readText(contentElement.text);
			}
		}
	}

	async function readText(text: string) {
		const utterance = new SpeechSynthesisUtterance(text);
		utterance.voice = getRandomVoice('en-US');
		speechSynthesis.speak(utterance);
		await new Promise(resolve => utterance.onend = resolve);
	}

	function getRandomVoice(lang: string) {
		const voices = speechSynthesis.getVoices().filter(voice => voice.lang === lang);
		return voices[Math.floor(Math.random() * voices.length)];
	}

	function deleteContent(content:Content){
		article.content = article.content.filter(c => c !== content);
	}
</script>
<div class='mb-16'>
	<p class='font-bold text-4xl'>
		<button ondblclick={read}>{article.title}</button>
	</p>
	<p class='text-sm text-surface-400'>Published On {new Date(article.publishedUtc).toLocaleDateString()}</p>
	<p>
		{#each article.tags as tag}
			<span class='badge bg-primary'>{tag}</span>
		{/each}
	</p>
</div>
<div class=' '>
	<div class='lg:w-[80%] inline-block'>
		{#each article.content as content}
			<ContentBlock {content} {editable} on:delete={()=>deleteContent(content)} />
		{/each}
	</div>
</div>
