<script lang='ts'>
	import { run } from 'svelte/legacy';

	import type { Content } from './types';
	import Image from './Image.svelte';
	import Paragraph from './Paragraph.svelte';
	import Header from './Header.svelte';
	import { Fa } from 'svelte-fa';
	import { faEdit, faTrash } from '@fortawesome/pro-solid-svg-icons';
	import { focusTrap } from '@skeletonlabs/skeleton';
	import { createEventDispatcher } from 'svelte';


	interface Props {
		content: Content;
		editable?: boolean;
	}

	let { content = $bindable(), editable = false }: Props = $props();
	let editing = $state(false);
	const eventDispatcher = createEventDispatcher();

	run(() => {
		if (content.subtitleId && content.type !== 'image') {
			content.type = 'image';
		}
		if (content.type === 'image' && !content.subtitleId) {
			content.type = 'imagePlaceholder';
		}
	});
</script>
<style lang='postcss'>
    .editable {
        @apply hover:bg-surface-600 p-2 rounded-md;
    }
</style>
<div class='group relative' class:editable={editable}>
	{#if editable}
		<div class='flex justify-end float-right'>
			{#if content.type === 'paragraph'}
				<button class='btn btn-sm variant-ghost' onclick={()=>editing=true}>
					<Fa icon={faEdit} />
				</button>
			{/if}
			<button class='btn btn-sm variant-ghost' onclick={()=>eventDispatcher("delete")}>
				<Fa icon={faTrash} />
			</button>
		</div>
	{/if}
	{#if content.type === 'paragraph'}
		<Paragraph {content} />
		{#if editing}
			<form class='inset-0 absolute' use:focusTrap={editing}>
				<textarea bind:value={content.text} class='input h-full' onblur={()=>editing=false}></textarea>
			</form>
		{/if}
	{:else if content.type === 'header'}
		<Header {content} />
	{:else if content.type === 'image' || content.type === 'imagePlaceholder'}
		<Image {content} />
		{#if editable}
			<div>
				<p>{content.imageDescription}</p>
				<div class='flex gap-x-1'>
					<input placeholder='Subtitle Id' class='input' bind:value={content.subtitleId} />
					<input type='number' class='input' placeholder='Previous' bind:value={content.previous}>
					<input type='number' class='input' placeholder='Next' bind:value={content.next}>
				</div>
			</div>
		{/if}
	{/if}
</div>
