<script lang='ts'>
	import type { Content } from './types';

	interface Props {
		content: Content & { type: 'header' };
	}

	let { content }: Props = $props();
</script>
<div class='mt-4'>
	<h3 class='font-bold text-2xl ' id='{content.text}'>{content.text}</h3>
</div>
