<script lang='ts'>
	import type { Content } from './types';
  import type { Subtitle, SubtitleContext } from '$lib/types';
	import { getSubtitle as loadSubtitle,getContext } from '$lib/client/subtitleUtilities';
	import SubtitleCardSkeleton from '$lib/client/SubtitleCard/SubtitleCardSkeleton.svelte';
	import SubtitleCard from '$lib/client/SubtitleCard/SubtitleCard.svelte';
  import {
    ContextSubtitleDataExtractor,
    DEFAULT_CONFIGURATION,
    SubtitleData,
    SubtitleDataExtractor
  } from '$lib/client/SubtitleCard/types';

	interface Props {
		content: Content & { type: 'image' | 'imagePlaceholder' };
	}

	let { content }: Props = $props();

	async function getSubtitleData(content: Content & { type: 'image' | 'imagePlaceholder' }): Promise<SubtitleData<{subtitle:Subtitle,context:SubtitleContext}>|SubtitleData<Subtitle>> {
		if (content.type === 'imagePlaceholder')
			return new Promise(() => {
			});
		const subtitleId = content.subtitleId;
		const previous = content.previous;
		const next = content.next;
		try {

			const subtitle = await loadSubtitle(subtitleId);
			if (previous === undefined && next === undefined) {
				return new SubtitleData(subtitle,SubtitleDataExtractor);
			}
      const context = await getContext(subtitle, previous, next);
			return new SubtitleData({subtitle,context},ContextSubtitleDataExtractor);
		} catch (e) {
			console.error(e);
			return new Promise(() => {
			});
		}
	}
</script>
<div class='w-full flex justify-center relative my-4'>

	{#await getSubtitleData(content)}
		<div class='aspect-video w-full lg:w-[70%]'>
			<SubtitleCardSkeleton />
		</div>
	{:then subtitleData}
		<SubtitleCard {subtitleData}
									configuration={{...DEFAULT_CONFIGURATION,containerClasses: 'h-full',cardClasses:'w-full lg:max-w-[70%]'}} />
	{/await}
</div>