<script lang="ts">
	import type { Content } from './types';

	interface Props {
		content: Content & {type:'paragraph'};
	}

	let { content }: Props = $props();
</script>
<div class='mb-4'>
	<p>{content.text}</p>
</div>