<script lang='ts'>

  import { getContext, onMount, setContext } from 'svelte';
  import { page } from '$app/stores';
  import { Fa } from 'svelte-fa';
  import { faPencil } from '@fortawesome/pro-solid-svg-icons';
  import { getToastStore, focusTrap } from '@skeletonlabs/skeleton';
  import type { Writable } from 'svelte/store';
  import type { Collection, CollectionClip } from '$lib/client/collection/Collection';
  import { writable } from 'svelte/store';
  import ClipGrid from './ClipGrid.svelte';
  import { doc, getFirestore, updateDoc, getDoc, collection, getDocs } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { COLLECTIONS } from '$lib/firebase';
  import type { HeadData } from '$lib/types';

  const toastStore = getToastStore();
  const head:Writable<HeadData> = getContext('head')

  onMount(() => {
    updateCollection();
    updateCollectionClips();

    //todo: listen for update
		return collectionStore.subscribe((c)=>$head.title=c.name)
  });

  const collectionStore: Writable<Collection> = writable();
  const collectionClipsStore: Writable<CollectionClip[]> = writable([]);
  let loadingComplete = false;

  async function updateCollection() {
    const docRef = doc(getFirestore(app), COLLECTIONS.COLLECTIONS, $page.params.id);
    const collection = await getDoc(docRef);
    collectionStore.set(collection.data() as Collection);
  }

  async function updateCollectionClips() {
    const collectionRef = collection(getFirestore(app), COLLECTIONS.COLLECTIONS, $page.params.id, COLLECTIONS.COLLECTION_CLIPS);
    const clips = await getDocs(collectionRef);
    collectionClipsStore.set(clips.docs.map(d => d.data() as CollectionClip));
  }

  async function saveName() {
    if (!savingEdit && editText) {
      try {
        savingEdit = true;
        const docRef = doc(getFirestore(app), COLLECTIONS.COLLECTIONS, $page.params.id);
        await updateDoc(docRef, { name: editText });
        toastStore.trigger({ background: 'bg-success-500', message: 'Collection name updated' });
        collectionStore.update(r => ({ ...r, name: editText as string }));
      } catch (e) {
        toastStore.trigger({ background: 'bg-error-500', message: 'Error updating collection name' });
      } finally {
        savingEdit = false;
        editText = undefined;
      }
    }
  }

  let editText: string | undefined = $state(undefined);
  let savingEdit = $state(false);

</script>
<div class='container mx-auto'>
	<div class='flex justify-between'>
		<div class='group  my-3 inline-block'>
			{#if $collectionStore}
				{#if editText}
					<form use:focusTrap={true} onsubmit={saveName}>

						<input class='input text-4xl ' type='text' placeholder='Collection title' bind:value={editText}
									 disabled={savingEdit} onblur={saveName}>
					</form>
				{:else}
					<p class='text-4xl font-bold hover:bg-surface-500 p-2 rounded unstyled relative'>{$collectionStore.name}
						<span class='group-hover:inline-block hidden text-2xl'><Fa icon={faPencil} /></span>
						<a class='inset-0 absolute cursor-pointer z-10' onclick={()=>editText=$collectionStore.name}>
							<span class='sr-only'>Edit Collection Name</span>
						</a>
					</p>
				{/if}
			{:else if loadingComplete}
				<p class='text-4xl font-bold unstyled'>Collection does not exist</p>
			{/if}
		</div>
	</div>
	<ClipGrid clips={$collectionClipsStore} />


</div>