<script lang="ts">
  import type { Subtitle } from "$lib/types";
  import Clip from "$lib/client/Clip.svelte";

  interface Props {
    clips: Array<Subtitle>;
  }

  let { clips }: Props = $props();


</script>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
  {#each clips as clip (clip.id)}
    <Clip {clip} mediaClass="min-h-[250px]">
    </Clip>
  {/each}

</div>