<script lang='ts'>
	import { createBubbler } from 'svelte/legacy';

	const bubble = createBubbler();
	interface Props {
		flipped?: boolean;
		image: string;
		correct?: boolean;
	}

	let { flipped = false, image, correct = false }: Props = $props();
</script>
<style lang='postcss'>
    .card {
        perspective: 1000px;
				@apply aspect-video rounded border border-transparent;
    }

		.card.correct {
			@apply border-green-500;
    }

    .card-inner {
				@apply relative w-full h-full;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .card.flipped .card-inner {
        transform: rotateY(180deg);
    }

    .card-front, .card-back {
        @apply absolute w-full h-full;
        backface-visibility: hidden;
    }

		.card-front {
        transform: rotateY(180deg);
		}

    .card-back {
        /* or any other cover style */
        background: #444 url("/playing-card-back.png");
				background-size: cover;

    }

		.card-front {
				@apply flex items-center justify-center;
		}
</style>
<div class='card' class:flipped={flipped||correct} class:correct={correct}>
	<div class='card-inner'>
		<button class='absolute inset-0 z-[1]' onclick={bubble('click')}></button>
		<div class='card-front'>
			<img src={image} alt='memory card' class='object-contain max-w-full max-h-full'>
		</div>
		<div class='card-back'>

		</div>
	</div>

</div>