<script>
	import { client as unleashClient } from '$lib/unleash';
</script>
<style lang='postcss'>
	p:not(:global(:last-child)) {
			@apply mb-1;
	}
</style>

<div>
	<div class='aspect-video bg-surface-700 animate-pulse rounded-lg'>
	</div>
	<div class='p-2'>
		<p class='animate-pulse bg-surface-600 w-full rounded-full'>&nbsp;</p>
		<p class='animate-pulse bg-surface-600 rounded-full w-[50%] text-xs'>&nbsp;</p>

		{#if $unleashClient.isEnabled("romaji_search")}

			<p class='animate-pulse bg-surface-600 w-full rounded-full text-sm'>&nbsp;</p>
		{/if}
	</div>
</div>