<script lang='ts'>
  import { run } from 'svelte/legacy';

  import {
    DEFAULT_CONFIGURATION,
    type SubtitleCardConfiguration,
    type SubtitleData
  } from '$lib/client/SubtitleCard/types';
  import ViewportAwareMedia from '$lib/client/SubtitleCard/ViewportAwareMedia.svelte';
  import { getEpisodeDisplay } from '$lib/utilities';
  import { getEpisode } from '$lib/client/EpisodeService';
  import { onMount } from 'svelte';
  import { derived } from 'svelte/store';
  import { account } from '$lib/client/appwrite';
  import { openShareModal } from '$lib/client/subtitleUtilities';
  import { Fa } from 'svelte-fa';
  import { faCopy, faShare, faThumbsUp } from '@fortawesome/pro-solid-svg-icons';
  import { getDrawerStore, getModalStore, getToastStore } from '@skeletonlabs/skeleton';
  import { BOTTOM_DRAWER_CONFIG, SIDE_DRAWER_CONFIG } from '$lib/constants';
  import { deleteDoc, doc, getFirestore, onSnapshot, updateDoc } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { COLLECTIONS } from '$lib/firebase';
  import { user } from '$lib/client/auth';
  import { encodeId } from '$lib/firebase.js';
  import { setDoc } from 'firebase/firestore';
  import { datadogLogs } from '@datadog/browser-logs';
  import { isMobile } from '$lib/client/stores';
  import { goto } from '$app/navigation';

  const drawerStore = getDrawerStore();
  const modalStore = getModalStore();
  interface Props {
    subtitleData: SubtitleData<unknown>;
    configuration?: SubtitleCardConfiguration;
  }

  let { subtitleData, configuration = DEFAULT_CONFIGURATION }: Props = $props();
  let aspectRatio = $state(16 / 9);
  let dismissSpoilerWarning = $state(false);
  let isLiked = $state(false);
  const isSpoiler = derived(account, a => {
    //todo check for spoilers
    return false;
  });
  let unsubscribeSnapshot = $state();
  let userSnapshot = $state();

  onMount(() => {
    getAspectRatio().then(ratio => aspectRatio = ratio);
    return unsubscribeSnapshot;
  });



  async function getAspectRatio(): Promise<number> {
    try {
      const episode = await getEpisode(subtitleData.getSubtitleKey());
      if (episode && episode.width && episode.height)
        return episode.width / episode.height;
    } catch (e) {
      console.error(e);
    }
    return 16 / 9;
  }

  function finalizeConfiguration(config: SubtitleCardConfiguration, aspectRatio: number, isSpoiler: boolean, dismissSpoilerWarning: boolean): SubtitleCardConfiguration {
    const hasSizeClass = config.containerClasses.includes('w-full') || config.containerClasses.includes('h-full');
    const sizeClass = aspectRatio > 16 / 9 ? 'w-full' : 'h-full';
    const containerClasses = hasSizeClass ? config.containerClasses : `${config.containerClasses} ${sizeClass}`;
    return {
      ...config,
      containerClasses,
      aspectRatio,
      isSpoiler: dismissSpoilerWarning ? false : isSpoiler
    };
  }

  const toastStore = getToastStore();

  async function copySubtitleLink() {
    await navigator.clipboard.writeText(subtitleData.getSubtitleLink());
    toastStore.trigger({ message: 'Link copied to clipboard' });
  }

  function showShareModal() {
    const data = subtitleData.getSubtitle();
    openShareModal(modalStore, { subtitle: data.subtitle ? data.subtitle : data });
  }

  function getSubtitleId(): string {
    const { show, season, episode, subtitleNumber } = subtitleData.getSubtitleKey();
    return `${encodeURIComponent(show)}-${encodeURIComponent(season)}-${episode}-${subtitleNumber}`;
  }

  async function like() {
    try {
      if (userSnapshot) {
        let liked = userSnapshot.liked || [];
        const userDocRef = doc(getFirestore(app), COLLECTIONS.USERS, $user!.uid);
        const likedDocRef = doc(getFirestore(app), COLLECTIONS.USERS, $user!.uid, COLLECTIONS.LIKED, encodeId(getSubtitleId()));
        if (isLiked) {
          await updateDoc(userDocRef, 'liked', liked.filter(id => id !== getSubtitleId()));
          await deleteDoc(likedDocRef);
        } else {
          await updateDoc(userDocRef, 'liked', [getSubtitleId(), ...liked]);
          await setDoc(likedDocRef, { subtitle: subtitleData.getSubtitle(), likedAt: new Date().toISOString() });
        }
      }
    } catch (e) {
      datadogLogs.logger.error('Error liking subtitle', { error: e, subtitle: subtitleData.getSubtitle(), isLiked });
    }
  }


  function onClick() {
		if(configuration.clickAction === 'drawer')
    	drawerStore.open({ ...($isMobile?BOTTOM_DRAWER_CONFIG:SIDE_DRAWER_CONFIG), meta: { subtitleId: getSubtitleId() } });
    else if(configuration.clickAction === 'link')
			goto(subtitleData.getSubtitleLink());
  }
  run(() => {
    if ($user)
      unsubscribeSnapshot = onSnapshot(doc(getFirestore(app), COLLECTIONS.USERS, $user!.uid), doc => {
        userSnapshot = doc.data();
        if (doc.data()?.liked) {
          isLiked = doc.data()?.liked.includes(getSubtitleId());
        }
      });
  });
  let finalizedConfiguration = $derived(finalizeConfiguration(configuration, aspectRatio, $isSpoiler || configuration.isSpoiler, dismissSpoilerWarning));
</script>
<style lang='postcss'>
    .card-foot p:not(:global(:last-child)) {
        @apply mb-1;
    }
</style>
<div class='{finalizedConfiguration.cardClasses} isolate'>
	<div class='relative'>
		{#if finalizedConfiguration.isSpoiler}
			<div class='backdrop-blur-lg absolute -inset-0.5 z-[11]'>
				<div class='flex align-middle justify-center items-center h-full'>
					<div class='bg-gray-800/40 rounded p-2 align-middle'>
						<p class='text-white font-bold'>This content may contain spoilers</p>
						<button class='text-white btn btn-sm variant-ghost my-1 w-full'
										onclick={() => dismissSpoilerWarning = true}>I understand
						</button>
					</div>
				</div>
			</div>
		{/if}
		<ViewportAwareMedia {subtitleData} configuration={finalizedConfiguration} webkitClickStrategy='event' on:click={onClick} />

		<div class='absolute inset-0 flex align-middle justify-center items-center'>
			<div style='aspect-ratio: {aspectRatio}' class='{finalizedConfiguration.containerClasses}'>
				<div class='bg-gray-800/40 backdrop-blur px-1 py-0.5 rounded-sm inline-block m-1 mr-40'>
					<p
						class='font-bold text-white  line-clamp-1'>{getEpisodeDisplay(subtitleData.getSubtitleKey())}</p>
				</div>
			</div>
		</div>
	</div>
	<div class='p-2 bg-surface-900 card-foot justify-between relative'>
		<button class='inset-0 absolute z-[1]'
						onclick={onClick}></button>

		<div class='ml-1 float-right '>
			{#if $user}
				<button class='btn  text-sm px-1.5 h-full  {isLiked?"variant-filled":"variant-ghost"} z-[2] relative '
								onclick={like}>
					<Fa icon={faThumbsUp} />
				</button>
			{/if}
			<button class='btn btn-sm variant-ghost z-[2] relative ' onclick={copySubtitleLink}>
				<Fa icon={faCopy} class='mr-1' />
				Copy
			</button>
			<button class='btn btn-sm variant-ghost z-[2] relative ' onclick={showShareModal}>
				<Fa icon={faShare} class='mr-1' />
				Share
			</button>
		</div>
		<p class='font-bold line-clamp-1'>{subtitleData.getSubtitleKey().show}</p>
		<p class='text-xs text-gray-600 space-x-2 text-nowrap overflow-clip'>
			{#each subtitleData.getTags() as tag}
				<a href='/search?q={encodeURIComponent("#"+tag)}' class='underline underline-offset-2'>#{tag}</a>
			{/each}
			{#if subtitleData.getTags().length===0}
				<span class='text-transparent'>No Tags</span>
				{/if}
		</p>
	</div>
</div>
