<script lang='ts'>
	import { run } from 'svelte/legacy';

  import type { SubtitleCardConfiguration, SubtitleData } from '$lib/client/SubtitleCard/types';
	import { datadogLogs } from '@datadog/browser-logs';
	import { getDb } from '$lib/client/db';
	import {  getRandomString } from '$lib/utilities';
	import { fade } from 'svelte/transition';
	import { onMount } from 'svelte';
	import { add } from '$lib/client/ContentCache';

	interface Props {
		subtitleData: SubtitleData<never>;
		configuration: SubtitleCardConfiguration;
		play?: boolean;
		muted?: boolean;
		children?: import('svelte').Snippet;
	}

	let {
		subtitleData,
		configuration,
		play = false,
		muted = true,
		children
	}: Props = $props();

	let videoElement: HTMLVideoElement = $state();
	let playProgress = $state(0);
	let videoLoaded = $state(false);
	let videoUrl = $state('');
  let videoKey = $state(videoUrl);

	onMount(() => {
		videoUrl = subtitleData.getVideoUrl(null,configuration.countHit);
    videoKey = videoUrl;
		add(videoUrl).then(() => videoLoaded = true);
		if (configuration.sourceSize) {
			const sourceSizeUrl = subtitleData.getVideoUrl( -1, configuration.countHit);
			add(sourceSizeUrl, false).then(() => {
				videoLoaded = true;
				videoUrl = sourceSizeUrl;
			});
		}
	});


	function getCaptionSrc() {
    const subtitleTiming = subtitleData.getTiming();
		const duration = subtitleTiming.endTime - subtitleTiming.startTime;
		const hours = Math.floor(duration / (3600 * 1000));
		const minutes = Math.floor((duration % (3600 * 1000)) / (60 * 1000)).toString().padStart(2, '0');
		const seconds = Math.floor((duration % (60 * 1000)) / 1000).toString().padStart(2, '0');
		const milliseconds = (duration % 1000).toString().padStart(3, '0');

		const formattedDuration = `${hours}:${minutes}:${seconds}.${milliseconds}`;
		const raw = `WEBVTT\n\n0:00:00.000 --> ${formattedDuration}\n${subtitleData.getText()}`;
		return `data:text/vtt;charset=utf-8,${encodeURIComponent(raw)}`;
	}

	function handleVideoEnded() {
    videoKey = videoUrl;
		playVideo();
		const { show, season, episode, subtitleNumber } = subtitleData.getSubtitleKey();
		getDb().clipPlay.add({
			id: getRandomString(),
			show, season, episode, subtitleNumber,
			playTime: new Date().getTime(),
			url: subtitleData.getVideoUrl(null,false)
		});
	}

	function playVideo() {
		if (videoElement) {
			playProgress = 0;
			videoElement.play().catch(e => {
				datadogLogs.logger.error('video play error', { url: videoElement?.src }, e);
			});
		}
	}

	let smoothProgressInterval: undefined | number;

	function updatePlayProgress() {
		if (smoothProgressInterval) {
			clearInterval(smoothProgressInterval);
			smoothProgressInterval = undefined;
		}
		const update = () => {
			if (videoElement && videoElement.duration) {
				const progress = videoElement.currentTime / videoElement.duration;
				if (progress >= playProgress)
					playProgress = progress;
				else
					datadogLogs.logger.warn('video progress not increasing', { progress, playProgress, subtitle:subtitleData.getSubtitle() });
			} else {
				datadogLogs.logger.warn('video element not ready', { subtitle:subtitleData.getSubtitle(), videoElement: videoElement || 'undefined' });
				playProgress = 0;
			}
		};

		update();
		let intervalCount = 0;
		smoothProgressInterval = setInterval(() => {
			if (videoElement && videoElement.duration) {
				update();
				intervalCount++;
				if (intervalCount > 5) {
					clearInterval(smoothProgressInterval);
					smoothProgressInterval = undefined;
				}
			}
		}, 100) as unknown as number;
	}

	run(() => {
		if (videoElement) {
			videoElement.muted = muted;
			if (play) {
				playVideo();
			} else {
				videoElement.pause();
			}
		}
	});
</script>
<style lang='postcss'>
    .progress-bar {
        @apply h-[5px] absolute bottom-[-2px] w-full;
    }
</style>
{#if videoLoaded}
	<div class='relative {configuration.containerClasses}' in:fade={{duration:250}}>
		{#key videoKey}
			<video class='{configuration.containerClasses}' bind:this={videoElement} playsinline autoplay muted={true}
						 onended={handleVideoEnded} ontimeupdate={updatePlayProgress}>
				<source src={videoUrl} type='video/mp4'>
				<track src={getCaptionSrc()} kind='descriptions'>
			</video>
		{/key}
		<div class='progress-bar bg-surface-700'></div>
		<div class='progress-bar bg-primary-500 transition ease-linear duration-100'
				 style='transform-origin: left;transform: scaleX({playProgress})'></div>
		{@render children?.()}
	</div>
{/if}