<script lang='ts'>
  import { run, createBubbler } from 'svelte/legacy';

  const bubble = createBubbler();
  import type { SubtitleCardConfiguration, SubtitleData } from '$lib/client/SubtitleCard/types';
  import ViewportAwareImage from '$lib/client/SubtitleCard/ViewportAwareImage.svelte';
  import { isMobile, isWebkit } from '$lib/client/stores';
  import { createEventDispatcher, onDestroy } from 'svelte';
  import VideoMedia from '$lib/client/SubtitleCard/VideoMedia.svelte';
  import { faVolume, faVolumeXmark } from '@fortawesome/pro-solid-svg-icons';
  import { Fa } from 'svelte-fa';
  import { fly } from 'svelte/transition';
  import { add } from '$lib/client/ContentCache';

  
  interface Props {
    configuration: SubtitleCardConfiguration;
    subtitleData: SubtitleData<unknown>;
    // when set to `event` and on mobile while in an image media type, clicking the media will trigger a click event, otherwise it will toggle the media type or muted depending on the media state
    webkitClickStrategy?: 'video'|'event';
    muted?: boolean;
  }

  let {
    configuration,
    subtitleData,
    webkitClickStrategy = 'video',
    muted = $bindable(true)
  }: Props = $props();

  const eventDispatcher = createEventDispatcher();

  let mediaContainer: HTMLDivElement = $state();
  let mediaType: 'image' | 'video' = $state('image');
  let intersectionObserver: IntersectionObserver | undefined = undefined;
  let hoverVideo = $state(false);
  let hovering = $state(false);
  let icon = $state(faVolumeXmark);


  onDestroy(() => {
    if (intersectionObserver)
      intersectionObserver.disconnect();
  });





  function getVideoUrl() {
    return subtitleData.getVideoUrl(null, false);
  }

  function configureAutoMedia(isMobile: boolean, isWebkit: boolean) {
    if (isMobile && !isWebkit) {
      configureIntersectionObserver();
      add(getVideoUrl(), false);
    } else if (!isMobile) {
      hoverVideo = true;
    } else { //disable video on ios
      mediaType = 'image';
    }
  }

  function configureIntersectionObserver() {
    if (intersectionObserver)
      return;
    intersectionObserver = new IntersectionObserver(entries => {
      const intersecting = entries[0].intersectionRatio > .15;
      const targetMediaType = intersecting ? 'video' : 'image';
      setMediaType(targetMediaType);
    }, {
      root: configuration.viewportContainer ? document.getElementById(configuration.viewportContainer) : undefined,
      rootMargin: configuration.intersectionMargin,
      threshold: [.1, .2]
    });
    intersectionObserver.observe(mediaContainer);
  }

  let mediaToggleTimeout: number;
  let updateLock = {};

  function setMediaType(type: 'image' | 'video', delay = 250) {
    if (mediaToggleTimeout)
      clearTimeout(mediaToggleTimeout);
    const localLock = {};
    updateLock = localLock;
    const delayPromise = new Promise<void>((resolve) => {
      mediaToggleTimeout = setTimeout(() => {
        resolve();
      }, delay) as unknown as number;
    });
    if (type === 'video') {
      Promise.all([delayPromise, add(getVideoUrl(), true)]).then(() => {
        if (localLock === updateLock)
          mediaType = type;
      });
    } else {
      delayPromise.then(() => mediaType = type);
    }
  }

  let clickTimeout: number | null = null;

  function handleClick() {
    if (clickTimeout)
      clearTimeout(clickTimeout);
    clickTimeout = setTimeout(() => {
      clickTimeout=null;
      if (mediaType === 'video')
        muted = !muted;
      else if ($isMobile && $isWebkit){
				if(webkitClickStrategy==='video')
        setMediaType('video', 0);
        else if(webkitClickStrategy==='event')
          eventDispatcher('click');
			}
    }) as unknown as number;
  }

  run(() => {
    if (configuration.mediaType === 'auto') {
      if (mediaContainer)
        configureAutoMedia($isMobile, $isWebkit);
    } else {
      mediaType = configuration.mediaType;
      hoverVideo = false;
    }
  });
  run(() => {
    if (mediaContainer) {
      mediaContainer.style.setProperty('--media-container-aspect-ratio', configuration.mediaContainerAspectRatio);
    }
  });
  run(() => {
    if (hovering && hoverVideo) {
      setMediaType('video', 500);
    } else if (!hovering && hoverVideo) {
      setMediaType('image', 0);
    }
  });
  run(() => {
    icon = muted ? faVolumeXmark : faVolume;
  });
</script>
<style lang='postcss'>
    .media-container {
        @apply absolute inset-0 flex items-center justify-center overflow-hidden;
        aspect-ratio: var(--media-container-aspect-ratio);
    }
</style>
<button class='media-container z-10 {configuration.containerClasses}'
				style='aspect-ratio: {configuration.mediaContainerAspectRatio}'
				onmouseenter={() => hovering = true} onmouseleave={() => hovering = false}
				onclick={handleClick}
				ondblclick={bubble('dblclick')}
>
</button>
<div bind:this={mediaContainer} class='relative aspect-video'>
	<div class='media-container' id='{subtitleData.getId()} blurry image container'>
		<ViewportAwareImage {subtitleData} {configuration} loading='none' />
	</div>
	{#if mediaType === 'image'}
		<div class='media-container' id='{subtitleData.getId()} image container'>
			<ViewportAwareImage {subtitleData} {configuration} />
		</div>
	{:else if mediaType === 'video'}
		{#if $isWebkit}
			<div class='media-container' id='{subtitleData.getId()} poster image container'>
				<ViewportAwareImage {subtitleData} {configuration} firstFrame={true} loading='eager' />
			</div>
		{/if}
		<div class='media-container' id='{subtitleData.getId()} video container'>
			<VideoMedia {subtitleData} {configuration} play={true} {muted}>
				<div in:fly={{duration:250,y:-20}}
						 class='absolute top-1 right-1 z-[9] px-2 py-1 bg-surface-500/40 backdrop-blur-sm rounded-sm flex items-center '
				>
					{#if muted}
              <span class='unstyled mr-2 m-0 p-0 whitespace-nowrap overflow-x-hidden text-gray-200'
							>{$isMobile ? 'Tap' : 'Click'} to unmute</span>
					{/if}
					<Fa {icon} class='inline-block my-1 text-gray-200' />
				</div>
			</VideoMedia>
		</div>

	{/if}

</div>
