<script lang='ts'>
  import { run } from 'svelte/legacy';

  import { type SubtitleCardConfiguration, SubtitleData } from '$lib/client/SubtitleCard/types';
  import { onMount } from 'svelte';
  import { add } from '$lib/client/ContentCache';

  interface Props {
    subtitleData: SubtitleData<never>;
    configuration: SubtitleCardConfiguration;
    loading?: 'lazy' | 'eager' | 'none';
    firstFrame?: boolean; //todo implement firstFrame
  }

  let {
    subtitleData,
    configuration,
    loading = 'lazy',
    firstFrame = false
  }: Props = $props();

  let fullImageUrl = $state(firstFrame ? subtitleData.getFirstFameUrl(null, configuration.countHit) : subtitleData.getImageUrl(null, configuration.countHit));
  let smallImageUrl = firstFrame ? subtitleData.getFirstFameUrl(150, false) : subtitleData.getImageUrl(150, false);
  let imageUrl = $state(smallImageUrl);
  let showFullImage = $state(false);
  let imageElement: HTMLImageElement = $state();
  let fullImageLoaded = false;

  run(() => {
    imageUrl = showFullImage ? fullImageUrl : smallImageUrl;
  });

  onMount(() => {
    if (loading === 'lazy') {
      const disconnectIntersectionObserver = configureIntersectionObserver();
      return () => disconnectIntersectionObserver();
    } else if (loading === 'eager') {
      loadFullImage();
    }
  });

  function configureIntersectionObserver(): () => void {
    const observer = new IntersectionObserver(entries => {
      const intersecting = entries[0].intersectionRatio > .01;
      if (intersecting)
        loadFullImage();
      else
        showFullImage = false;
    }, {
      rootMargin: '500px',
      root: configuration.viewportContainer ? document.getElementById(configuration.viewportContainer) : undefined,
      threshold: [0, .01, 1]
    });
    observer.observe(imageElement);
    return () => observer.disconnect();
  }

  async function loadFullImage() {
    if (!fullImageLoaded)
      await add(fullImageUrl);
    fullImageLoaded = true;
    showFullImage = true;
    if (configuration.sourceSize) {
      const sourceSizeUrl = firstFrame?subtitleData.getFirstFameUrl(-1,configuration.countHit):subtitleData.getImageUrl(-1, false);
      await add(sourceSizeUrl, false);
      fullImageUrl = sourceSizeUrl;
    }
  }
</script>
<div class='overflow-hidden {configuration.containerClasses}'>
	<img bind:this={imageElement} src={imageUrl} alt={subtitleData.getText()} class='{configuration.containerClasses}'
			 class:blur={!showFullImage} />
</div>
