<script lang='ts'>
  import type { PageData } from './$types';
  import type { EditorPick, Section } from '../../types';
  import { fade, fly } from 'svelte/transition';
  import { COLLECTIONS } from '$lib/firebase';
  import { setDoc } from 'firebase/firestore';
  import { doc, getFirestore } from '@firebase/firestore';
  import { page } from '$app/stores';
  import { app } from '$lib/client/firebase';
  import EditingTextSection from './EditingTextSection.svelte';
  import { getRandomString, getSortKey } from '$lib/utilities';
  import TextSection from '../TextSection.svelte';
  import { Fa } from 'svelte-fa';
  import { faArrowDown, faArrowUp, faPencil, faTrash } from '@fortawesome/pro-solid-svg-icons';
  import EditingSubtitleSection from './EditingSubtitleSection.svelte';
  import SubtitleSection from '../SubtitleSection.svelte';
  import EditingTwoColumnSection from './EditingTwoColumnSection.svelte';
  import { RadioGroup, RadioItem, SlideToggle } from '@skeletonlabs/skeleton';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let pick: Partial<EditorPick> = $state(data.pick!);
  let saving = $state(false);
  let editingSection: Partial<Section> | null = $state(null);
  let appendType: 'front' | 'end' = $state('end');


  async function save() {
    saving = true;
    const shows = new Set<string>();
    const episodes = new Set<string>();
    pick.sections?.forEach(section => {
      if (section.type === 'subtitle' && section.subtitle) {
        shows.add(section.subtitle.subtitle.show);
        episodes.add(getSortKey(section.subtitle.subtitle));
      }
    });
    pick.shows = Array.from(shows);
    pick.episodes = Array.from(episodes);
    await setDoc(doc(getFirestore(app), COLLECTIONS.EDITOR_PICKS, $page.params.id), pick);
    setTimeout(() => saving = false, 1000);
  }

  function add(type: 'two-column' | 'text' | 'subtitle') {
    editingSection = {
      type,
      id: getRandomString()
    };
    if (appendType === 'front')
      pick.sections = [editingSection as Section, ...(pick.sections || [])];
    else
      pick.sections = [...(pick.sections || []), editingSection as Section];
  }

  async function closeEditing() {
    editingSection = null;
    pick.sections = [...pick.sections!];
    await save();
  }

  function moveUp(index: number) {
    if (index === 0) return;
    const section = pick.sections![index];
    pick.sections = [...pick.sections!.slice(0, index - 1), section, pick.sections![index - 1], ...pick.sections!.slice(index + 1)];
    save();
    scrollToSection(section);
  }

  function moveDown(index: number) {
    if (index === pick.sections!.length - 1) return;
    const section = pick.sections![index];
    pick.sections = [...pick.sections!.slice(0, index), pick.sections![index + 1], section, ...pick.sections!.slice(index + 2)];
    save();
    scrollToSection(section);
  }

  function scrollToSection(section: Section) {
    setTimeout(() => {
      const el = document.getElementById(`edit-section-${section.id}`);
      if (el) el.scrollIntoView({ behavior: 'smooth' });
    }, 20);
  }

  function deleteSection(index: number) {
    pick.sections = pick.sections?.filter((_, i) => i !== index);
    save();
  }

  function handlePublishedChange() {
    if (pick.published)
      pick.publishedDate = new Date().toISOString();
    save();
  }
</script>
{#if editingSection && editingSection.type !== 'two-column'}
	<button class='absolute z-10 bg-black/30 inset-1' onclick={closeEditing}></button>
	<div class='absolute h-full w-[70%] bg-surface-800 z-20 right-0 top-0 p-3 overflow-y-auto' in:fly={{x:500}}
			 out:fly={{x:500}}>
		{#if editingSection.type === 'text'}
			<EditingTextSection section={editingSection} />
		{:else if editingSection.type === 'subtitle'}
			<EditingSubtitleSection section={editingSection} />
		{/if}
	</div>
{/if}
<div class='mx-3'>
	<div class='flex justify-end text-lg py-3'>
		<p> &nbsp;
			{#if saving}
				<span class='text-surface-400' in:fade out:fade>Saving...</span>
			{/if}
		</p>
	</div>
	<input placeholder='Editor Pick Title...' class='font-bold text-3xl input' bind:value={pick.title} onblur={save}>
	<div class='my-3'>
		<SlideToggle name='published' bind:checked={pick.published} on:change={handlePublishedChange}>Published
		</SlideToggle>
	</div>
	<div class='flex'>
		<div class='grow'>
			{#each pick.sections || [] as section,i (section.id)}
				<div class='flex mt-5 max-w-[1024px] mx-auto' id='edit-section-{section.id}'>
					<div>
						<div class=' bg-surface-800 rounded-bl'>
							{#if i > 0}
								<button class='block p-2 rounded hover:variant-ghost-surface' onclick={()=>moveUp(i)}>
									<Fa icon={faArrowUp} />
								</button>
							{/if}
							{#if i < (pick.sections || []).length - 1}
								<button class='block p-2 rounded hover:variant-ghost-surface' onclick={()=>moveDown(i)}>
									<Fa icon={faArrowDown} />
								</button>
							{/if}
							<button class='block p-2 rounded hover:variant-ghost-surface' onclick={()=>editingSection=section}>
								<Fa icon={faPencil} />
							</button>
							<button class='block p-2 rounded hover:variant-ghost-surface' onclick={()=>deleteSection(i)}>
								<Fa icon={faTrash} />
							</button>
						</div>
					</div>
					<div class='grow p-2'>
						{#if section.type === 'text' && section.text}
							<TextSection {section} />
						{:else if section.type === 'subtitle' && section.subtitle}
							<SubtitleSection {section} />
						{:else if section.type === 'two-column'}
							<EditingTwoColumnSection {section} on:edit={e=>editingSection=e.detail} />
						{/if}
					</div>
				</div>
			{/each}
		</div>
		<div>

		<div class='sticky top-0'>
			<h4 class='text-xl font-bold'>Add a section</h4>
			<div class='flex justify-center gap-x-3 mt-5 flex-none '>
				<button class='btn variant-ghost-surface' onclick={()=>add('text')}>Add Text</button>
				<button class='btn variant-ghost-surface' onclick={()=>add('subtitle')}>Add Subtitle</button>
				<button class='btn variant-ghost-surface' onclick={()=>add('two-column')}>Add Two Column</button>
			</div>
			<div>
				<RadioGroup>
					<RadioItem name='front' bind:group={appendType} value='front'>Append to Front</RadioItem>
					<RadioItem name='end' bind:group={appendType} value='end'>Append to End</RadioItem>
				</RadioGroup>
			</div>
		</div>
		</div>
	</div>
</div>
