<script lang='ts'>

  import type { Subtitle } from '$lib/types';

	interface Props {
		count: number;
		subtitles: Subtitle[];
		subtitle: Subtitle;
	}

	let { count = $bindable(), subtitles, subtitle }: Props = $props();

  function getOffsetTime(s: Subtitle) {
    const diff = Math.abs(s.startTime - subtitle.startTime);
    return Math.floor(diff / 100) / 10 + 's';
  }
</script>
<div>
	<input bind:value={count} class='input' type='number'>
	<div class='grid grid-cols-[auto_auto_1fr] gap-y-2 gap-x-1 mt-3'>
		{#each subtitles as sub,i}
			<div class='contents text-surface-300 hover:bg-surface-700' class:text-white={i<count}>
				<p>{i+1}</p>
				<p>+/- {getOffsetTime(sub)}</p>
				<p>{sub.text}</p>
			</div>
		{/each}
	</div>
</div>