<script lang='ts'>
  import { run } from 'svelte/legacy';

  import type { SubtitleSection } from '../../types';
  import { onMount } from 'svelte';
  import { getContext, getSubtitle } from '$lib/client/subtitleUtilities';
  import ViewportAwareMedia from '$lib/client/SubtitleCard/ViewportAwareMedia.svelte';
  import {
    ContextSubtitleDataExtractor,
    DEFAULT_CONFIGURATION,
    type SubtitleCardConfiguration,
    SubtitleData
  } from '$lib/client/SubtitleCard/types';
  import type { ContextualSubtitle, Subtitle } from '$lib/types';
  import ContextInput from './ContextInput.svelte';

  interface Props {
    section: Partial<SubtitleSection>;
  }

  let { section = $bindable() }: Props = $props();
  let subtitleId: string = $state();
  let show: string = $state();
  let season: string = $state();
  let episode: string = $state();
  let subtitleNumber: number = $state();
  let previousCount = $state(0);
  let nextCount = $state(0);
  let nextContext: Subtitle[] = $state([]);
  let previousContext: Subtitle[] = $state([]);

  onMount(() => {
    if (section.subtitle) {
      subtitleId = section.subtitle.subtitle.id;
      show = section.subtitle.subtitle.show;
      season = section.subtitle.subtitle.season;
      episode = section.subtitle.subtitle.episode;
      subtitleNumber = section.subtitle.subtitle.subtitleNumber;
      previousCount = section.subtitle.context.previousCount;
      nextCount = section.subtitle.context.nextCount;
      updateContext(section.subtitle.subtitle);
    }
  });



  function parseSubtitleIdFromUrl(url:URL){
    subtitleId = url.pathname.split('/').pop() as string;
    if(url.searchParams.has("previous"))
      previousCount = parseInt(url.searchParams.get("previous") as string);
    if(url.searchParams.has("next"))
      nextCount = parseInt(url.searchParams.get("next") as string);
    updateSubtitle(subtitleId);
	}

  async function updateSubtitle(id: string) {
    const subtitle = await getSubtitle(id);
    show = subtitle.show;
    season = subtitle.season;
    episode = subtitle.episode;
    subtitleNumber = subtitle.subtitleNumber;
    const context = await getContext(subtitle, undefined, undefined);
    section.subtitle = {
      subtitle, context
    };
    await updateContext(subtitle);
  }

  async function updateContext(subtitle: Subtitle) {
    const [previous, next] = await Promise.all([
      fetch(subtitle.previousSubtitleUrl + '?count=10').then(r => r.json()),
      fetch(subtitle.nextSubtitleUrl + '?count=10').then(r => r.json())
    ]);
    previousContext = previous;
    nextContext = next;

  }

  function getMediaData(subtitle: ContextualSubtitle): {
    configuration: SubtitleCardConfiguration,
    subtitleData: SubtitleData<unknown>
  } {
    return {
      configuration: { ...DEFAULT_CONFIGURATION, autoplay: true, mediaType: 'video', sourceSize: true },
      subtitleData: new SubtitleData(subtitle, ContextSubtitleDataExtractor) as SubtitleData<unknown>
    };
  }
  run(() => {
    if (subtitleId !== section?.subtitle?.subtitle.id && subtitleId && !subtitleId.startsWith("https://")) {
      updateSubtitle(subtitleId);
    } else if(subtitleId?.startsWith("https://")){
      const url = new URL(subtitleId);
      parseSubtitleIdFromUrl(url);
		}
  });
  run(() => {
    if (section.subtitle && previousCount !== null && nextCount !== null &&
      (previousCount !== section.subtitle.context.previousCount || nextCount !== section.subtitle.context.nextCount)) {
      getContext(section.subtitle.subtitle, previousCount, nextCount).then(context => {
        section.subtitle = {
          ...section.subtitle,
          context
        } as ContextualSubtitle;
      });
    }
  });
</script>
<div>
	<div class=''>
		<input bind:value={subtitleId} class='input' placeholder='Subtitle Id' />
		<div class='flex gap-x-2 mt-2'>
			<input bind:value={show} class='input' placeholder='Show' disabled />
			<input bind:value={season} class='input' placeholder='Season' disabled />
			<input bind:value={episode} class='input' placeholder='Episode' disabled />
			<input bind:value={subtitleNumber} type='number' class='input' placeholder='Subtitle Number' disabled />
		</div>
	</div>
	{#if section.subtitle}
		<div class='mt-5'>
			{#key section.subtitle}
				<ViewportAwareMedia {...getMediaData(section.subtitle)} />
			{/key}
		</div>
		<div class='grid grid-cols-2 gap-x-2 mt-5'>
			<div>
				<p class='text-lg font-bold mb-2'>Previous</p>
				<ContextInput bind:count={previousCount} subtitles={previousContext.reverse()}
											subtitle={section.subtitle.subtitle} />
			</div>
			<div>
				<p class='text-lg font-bold mb-2'>Next</p>
				<ContextInput bind:count={nextCount} subtitles={nextContext} subtitle={section.subtitle.subtitle} />
			</div>
		</div>
	{/if}
</div>

