<script lang='ts'>
  import type { ColumnSection, TwoColumnSection } from '../../types';
  import Section from '../Section.svelte';
  import { createEventDispatcher } from 'svelte';
  import { getRandomString } from '$lib/utilities';

	interface Props {
		section: Partial<TwoColumnSection>;
	}

	let { section = $bindable() }: Props = $props();
  const dispatcher = createEventDispatcher();

  function createSection(side: 'left' | 'right', type: 'text' | 'subtitle') {
    section[side] = { type, id: getRandomString() } as ColumnSection;
    dispatcher('edit', section[side]);
  }
</script>
<div class='grid grid-cols-2 gap-2'>
	<div>
		{#if section.left}
			<Section section={section.left} />
			<div class='flex gap-x-2 justify-center'>
				<button class='btn btn-ghost-surface' onclick={()=>dispatcher('edit',section.left)}>Edit Left</button>
				<button class='btn btn-ghost-surface' onclick={()=>section.left=undefined}>Delete Left</button>
			</div>
		{:else}
			<div class='border b-2 border-surface-300 border-dashed rounded p-10 flex gap-x-2 justify-center'>
				<button class='btn btn-ghost-surface' onclick={()=>createSection('left','text')}>Add Text</button>
				<button class='btn btn-ghost-surface' onclick={()=>createSection('left','subtitle')}>Add Subtitle</button>
			</div>
		{/if}
	</div>
	<div>
		{#if section.right}
			<Section section={section.right} />
			<div class='flex gap-x-2 justify-center'>
				<button class='btn btn-ghost-surface' onclick={()=>dispatcher('edit',section.right)}>Edit Right</button>
				<button class='btn btn-ghost-surface' onclick={()=>section.right=undefined}>Delete Right</button>
			</div>
		{:else}
			<div class='border b-2 border-surface-300 border-dashed rounded p-10 flex gap-x-2 justify-center'>
				<button class='btn btn-ghost-surface' onclick={()=>createSection('right','text')}>Add Text</button>
				<button class='btn btn-ghost-surface' onclick={()=>createSection('right','subtitle')}>Add Subtitle</button>
			</div>
		{/if}

	</div>
</div>