<script lang='ts'>
  import { run } from 'svelte/legacy';

  import type { TextSection } from '../../types';
  import { Fa } from 'svelte-fa';
  import { faWandMagicSparkles } from '@fortawesome/pro-solid-svg-icons';
  import { type Message, nanoid } from 'ai';
  import { getChat } from '$lib/aiUtilitiles';

  interface Props {
    section: Partial<TextSection>;
  }

  let { section = $bindable() }: Props = $props();
  let prompt = $state('');
  const { messages, setMessages,append } = getChat(undefined, true);

  function updateText(message:Message){
    section.text = message.content;
	}

  function generateInput() {
    const message: Message = {
      role: 'user',
      content: prompt,
      id: nanoid()
    };
    setMessages([{
      role:'system',
			id: nanoid(),
			content: 'You are an assistant that writes content for a blog about anime. Unless otherwise instructed write in a ' +
				'positive, casual, and engaging tone. Try to write content that feels like it was written by a human and has depth.' +
				'Don\'t ask follow-up question or address the user. Take the prompt and write a paragraph about it. If the prompt is too vague make something up'
		}]);
		append(message);
  }
  run(() => {
    if($messages.length>0 && $messages[$messages.length - 1].role === 'assistant') {
			updateText($messages[$messages.length - 1]);
		}
	});
</script>
<div>
	<p class='font-bold text-2xl'>Edit Text</p>
	<div class='grid grid-cols-[1fr_auto] input-group input-group-divider my-2'>
		<input class='input' placeholder='AI Prompt' bind:value={prompt}>
		<button class='btn variant-ghost-surface rounded-l-none' onclick={generateInput}>
			<Fa icon={faWandMagicSparkles} />
		</button>
	</div>
	<textarea bind:value={section.text} class='w-full input' rows='5' placeholder='Add text to this section'></textarea>
</div>