<script lang='ts'>
	import Navigation from '../Navigation.svelte';
	import EpisodeDescription from './EpisodeDescription.svelte';
	import type { PageData } from './$types';
  import type { AdminEpisode } from '../../../../../types';
  import type { Show } from '$lib/types';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let episode = data.adminEpisode as AdminEpisode;
  let episodes = data.adminEpisodes as AdminEpisode[];
  let show = data.show as Show;


</script>

<Navigation active='description' {episodes} {episode} {show}/>
<div class='my-4'>
<EpisodeDescription {episode}/>
</div>
