<script lang='ts'>

	import type { EpisodeContext } from './types';
	import { onMount } from 'svelte';
	import { generateEpisodeContext, getContext, isQueued, saveContexts } from './descriptionGenerationUtils';
	import { Fa } from 'svelte-fa';
	import { faArrowUp, faArrowUpRightFromSquare, faLoader, faTrash } from '@fortawesome/pro-solid-svg-icons';
	import { getToastStore, SlideToggle } from '@skeletonlabs/skeleton';
  import type { AdminEpisode } from '../../../../../types';

	interface Props {
		episode: AdminEpisode;
	}

	let { episode }: Props = $props();
	let episodeContexts: EpisodeContext[] = $state([]);
	let updateContextInterval: number | undefined = $state();
	let reviewed = $state(false);
	let changed = $state(false);
	let loading = $state(false);
	const toastStore = getToastStore();

	onMount(() => {
		updateContext();
	});

	async function generateNewContext() {
		if (updateContextInterval)
			clearInterval(updateContextInterval);
		await generateEpisodeContext(episode);
		episodeContexts = [];
		await updateContext();
	}

	async function updateContext() {
		const updatedContexts = getContext(episode);
		episodeContexts = await updatedContexts;
		if (episodeContexts.length > 0)
			reviewed = episodeContexts[0].reviewed;
		const queued = await isQueued(episode);
		if (!queued && updateContextInterval) {
			clearInterval(updateContextInterval);
			updateContextInterval = undefined;
		} else if (queued && !updateContextInterval) {
			updateContextInterval = setInterval(() => {
				updateContext();
			}, 1000) as unknown as number;
		}
	}

	async function save() {
		episodeContexts.forEach(c => c.reviewed = reviewed);
		loading = true;
		try {

			await saveContexts(episode, episodeContexts);
			changed = false;
			toastStore.trigger({
				message: 'Context saved',
				background: 'bg-success-500'

			});
		} catch (e) {
			toastStore.trigger({
				message: 'Failed to save context',
				background: 'bg-error-500'
			});
		} finally {
			loading = false;
		}
	}

	function onReviewedChange() {
		changed = true;
		if (reviewed) {
			toastStore.trigger({
				message: 'Saving context',
				background: 'bg-surface-800'
			});
			save();
		}
	}

	function deleteContext(index: number) {
		episodeContexts = episodeContexts.filter((_, i) => i !== index);
		changed = true;
	}

	function getEpisodeGitUrl(sampleContext: EpisodeContext) {
		const show = encodeURIComponent(sampleContext.show),
			season = encodeURIComponent(sampleContext.season),
			episode = encodeURIComponent(sampleContext.episode);
		return `https://gitlab.com/alexthomas/episode-context/-/commits/automated/${show}/${season}/${episode}?ref_type=heads`;
	}

	function mergeUp(index: number) {
		if (index === 0) return;
		const context = episodeContexts[index];
		episodeContexts = episodeContexts.filter((_, i) => i !== index);
		episodeContexts[index - 1].generatedSummary += '\n' + context.generatedSummary;
		changed = true;

	}


</script>
<style lang='postcss'>
    .divider {
        @apply flex-grow bg-surface-400 h-0.5;
    }
</style>
<div class='flex gap-x-4 items-center'>
	{#if updateContextInterval}
		<button class='btn variant-filled' disabled>Generating Episode Context
			<Fa class='ml-2' icon={faLoader} spin={true} />
		</button>
	{:else}
		<button class='btn variant-filled' onclick={generateNewContext}>Generate Episode Context</button>
	{/if}
	{#if episodeContexts.length > 0 && !updateContextInterval}
		<SlideToggle name='Reviewed' active='bg-primary-500' bind:checked={reviewed} on:change={onReviewedChange}>Reviewed
		</SlideToggle>
		{#if !loading}
			<button class='btn variant-filled' disabled={!changed} onclick={save}>Save</button>
		{:else}
			<button class='btn variant-filled' disabled>Save
				<Fa class='ml-2' icon={faLoader} spin={true} />
			</button>
		{/if}
		<a href={getEpisodeGitUrl(episodeContexts[0])} target='_blank' class=' flex items-center gap-x-2 text-lg'>Git
			history
			<Fa icon={faArrowUpRightFromSquare} />
		</a>
	{/if}
</div>
{#each episodeContexts as episodeContext,i}
	{#if i !== 0}
		<button class='btn btn-sm input variant-glass flex items-center gap-x-3 hover:text-primary-500 group' onclick={()=>mergeUp(i)}>
			<span class='divider group-hover:bg-primary-500'></span>
			<Fa icon={faArrowUp} />
			<span>Merge Up</span>
			<Fa icon={faArrowUp} />
			<span class='divider group-hover:bg-primary-500'></span>
		</button>
	{/if}
	<div class='my-4 flex'>
		<textarea
			disabled={!!updateContextInterval}
			class='input  flex-grow rounded-r-none'
			rows={episodeContext.generatedSummary.split('\n').length+1}
			onchange={()=>changed=true}
			bind:value={episodeContext.generatedSummary}></textarea>
		<button class='btn variant-ghost rounded-l-none' onclick={()=>deleteContext(i)}>
			<Fa icon={faTrash} />
		</button>
	</div>
{/each}
{#if updateContextInterval}
	<div class='flex justify-center items-center gap-x-2'>
		<p class='text-4xl font-bold'>Generating context</p>
		<Fa spin={true} icon={faLoader} size='2x' />
	</div>
{/if}
