<script lang='ts'>
  import Navigation from '../Navigation.svelte';
  import Files from './Files.svelte';
  import type { PageData } from './$types';
  import type { AdminEpisode, PlexEpisode } from '../../../../../types';
  import type { Show } from '$lib/types';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let show = data.show as Show;
  let episode = data.adminEpisode as AdminEpisode;
  let episodes = data.adminEpisodes as AdminEpisode[];
  let plexEpisode = data.plexEpisode as PlexEpisode;
</script>

<Navigation active='files' {show} {episode} {episodes}/>
<div class='my-5'>
	<Files {episode} {plexEpisode} />
</div>
