<script lang='ts'>
  import { Fa } from 'svelte-fa';
  import {
    faCubesStacked,
    faFile,
    faHardDrive
  } from '@fortawesome/pro-solid-svg-icons';
  import { formatBytes } from '$lib/formatUtilities.js';
  import { writable, type Writable } from 'svelte/store';
  import Streams from './Streams.svelte';
  import StreamsSkeleton from './StreamsSkeleton.svelte';
  import FileVersions from './FileVersions.svelte';
  import { FileDropzone, getToastStore, localStorageStore } from '@skeletonlabs/skeleton';
  import { SERVER_URL } from '$lib/constants';
  import { onMount } from 'svelte';
  import type { AdminEpisode, PlexEpisode } from '../../../../../types';
  import { datadogLogs } from '@datadog/browser-logs';
  import { getToken } from '$lib/client/auth';

  let clearedSubtitles = $state(false);
  const offsetStore: Writable<number | undefined> = localStorageStore('japaneseSubtitlesOffset', undefined);
	interface Props {
		episode: AdminEpisode;
		plexEpisode: PlexEpisode;
	}

	let { episode, plexEpisode }: Props = $props();
  const streamsResponse = writable();
  const toastStore = getToastStore();

  onMount(() => {
    const e = episode;
    const streamsPromise = fetch(`${SERVER_URL}/v1/investigate/show/${encodeURIComponent(e.show)}/${e.season}/${e.episode}/stream`, { credentials: 'include' }).then(r => r.json());
    streamsPromise.then(r => streamsResponse.set(r));
  });


  function uploadJapaneseSubtitles(type): (event) => void {
    return (event) => {
      clearedSubtitles = false;
      const files = event.target.files;
      if (files && files.length > 0) {
        const file = files.item(0);
        const formData = new FormData();
        formData.append('files', file);
        const url = new URL(`${SERVER_URL}/v1/index/episode/${encodeURIComponent(episode.show)}-${episode.season}-${episode.episode}/add-japanese-subtitles`);
        url.searchParams.set('syncType', type);
        if (type === 'SUBTITLER_OFFSET')
          url.searchParams.set('offset', $offsetStore?.toString());
      }
    };
  }

  async function clearJapaneseSubtitles() {
    const token = await getToken();
    try {
      const response = await fetch(`${SERVER_URL}/v1/index/episode/${encodeURIComponent(episode.show)}-${episode.season}-${episode.episode}/remove-japanese-subtitles`, {
        method: 'POST',
				headers: {
					'Authorization': `Bearer ${token}`
				}
      });
      if (response.ok) {
        clearedSubtitles = true;
        toastStore.trigger({ message: 'Japanese subtitles removed', background: 'variant-filled-success' });
      } else {
        toastStore.trigger({ message: 'Failed to remove Japanese subtitles', background: 'variant-filled-danger' });
			}
    } catch (e){
      datadogLogs.logger.error('Failed to remove Japanese subtitles', e);
      toastStore.trigger({ message: 'Failed to remove Japanese subtitles', background: 'variant-filled-danger' });
		}
  }

  function replaceSubtitles() {
    clearedSubtitles = true;
  }
</script>

<style lang='postcss'>
    .grid-box {
        @apply relative bg-surface-500 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary-500;
    }


</style>
<div
	class='divide-y divide-surface-700 overflow-hidden rounded-lg bg-surface-700 shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0'>
	<div class='rounded-tl-lg rounded-tr-lg sm:rounded-tr-none group grid-box'>
		<div class='mt-3'>
			<h3 class='font-semibold leading-6 text-surface-50 unstyled text-2xl'>
				<a href='#' class='focus:outline-none unstyled'>
					<span class='absolute inset-0 z-[-1]' aria-hidden='true'></span>
					Source Video File
				</a>
			</h3>
			<div class='mt-4 text-surface-100 group-hover:text-white space-y-2'>
				<p class='text-sm unstyled'>
					<Fa icon={faFile} class='inline pr-2' />
					<span>{episode.sourceVideo}</span></p>
				<p class='text-sm unstyled'>
					<Fa icon={faHardDrive} class='inline pr-2' />
					<span>{formatBytes(episode.sourceVideoBytes)}</span></p>
				{#if $streamsResponse}
					<Streams streams={$streamsResponse} {episode} />
				{:else}
					<StreamsSkeleton />
				{/if}
			</div>
		</div>
	</div>
	<div class='sm:rounded-tr-lg group grid-box'>
		<div class='mt-3'>
			<h3 class='font-semibold leading-6 text-surface-50 unstyled text-2xl'>
				<a href='#' class='focus:outline-none unstyled'>

					<span class='absolute inset-0 z-[-1]' aria-hidden='true'></span>
					Plex Video File
				</a>
			</h3>
			<div class='mt-4 text-surface-100 group-hover:text-white space-y-2'>
				<p class='text-sm unstyled'>
					<Fa icon={faFile} class='inline pr-2' />
					<span>{plexEpisode?.videoFile}</span></p>
				{#if plexEpisode?.videoFile === episode.sourceVideo}
					<p class='text-sm unstyled'>
						<Fa icon={faHardDrive} class='inline pr-2' />
						<span>{formatBytes(episode.sourceVideoBytes)}</span></p>
					{#if $streamsResponse}
						<Streams streams={$streamsResponse} {episode} />
					{:else}
						<StreamsSkeleton />
					{/if}

				{/if}
			</div>
		</div>
	</div>
	<div class='sm:rounded-bl-lg group grid-box'>
		<div class='mt-3'>
			<h3 class='font-semibold leading-6 text-surface-50 unstyled text-2xl'>
				<a href='#' class='focus:outline-none unstyled'>

					<span class='absolute inset-0 z-[-1]' aria-hidden='true'></span>
					English Subtitles
				</a>
			</h3>
			<div class='mt-4 text-surface-100 group-hover:text-white space-y-2'>
				<p class='text-sm unstyled'>
					<Fa icon={faCubesStacked} class='inline pr-2' />
					<span>{episode.englishSubtitles}</span></p>
				<FileVersions key={episode.englishSubtitles} />
			</div>
		</div>
	</div>
	{#if episode.japaneseSubtitles && !clearedSubtitles}
		<div class='rounded-bl-lg rounded-br-lg sm:rounded-bl-none group grid-box'>
			<div class='mt-3'>
				<h3 class='font-semibold leading-6 text-surface-50 unstyled text-2xl flex gap-x-3 items-center'>
					<a href='#' class='focus:outline-none unstyled '>

						<span class='absolute inset-0 z-[-1]' aria-hidden='true'></span>
						Japanese Subtitles
					</a>
					<button class='btn variant-filled' onclick={()=>clearJapaneseSubtitles()}>Remove Subtitles</button>
					<button class='btn variant-filled' onclick={()=>replaceSubtitles()}>Replace Subtitles</button>
				</h3>
				<div class='mt-4 text-surface-100 group-hover:text-white space-y-2'>
					<p class='text-sm unstyled'>
						<Fa icon={faCubesStacked} class='inline pr-2' />
						<span>{episode.japaneseSubtitles}</span></p>
					<FileVersions key={episode.japaneseSubtitles} />

				</div>
			</div>
		</div>
	{:else}
		<div class='grid grid-cols-2 gap-3 py-2 px-2'>
			<FileDropzone name='japaneseSubtitles' on:change={uploadJapaneseSubtitles('NONE')} accept='srt,ass'>
				{#snippet meta()}
								Upload without sync. Only ASS and SRT are allowed.
							{/snippet}
			</FileDropzone>
			<FileDropzone name='japaneseSubtitles' on:change={uploadJapaneseSubtitles('ALASS_ENGLISH_SUBTITLES')}
										accept='srt,ass'>
				{#snippet meta()}
								Sync with english subtitles. Only ASS and SRT are allowed.
							{/snippet}
			</FileDropzone>
			<FileDropzone name='japaneseSubtitles' on:change={uploadJapaneseSubtitles('ALASS_ENGLISH_SUBTITLES_NO_SPLIT')}
										accept='srt,ass'>
				{#snippet meta()}
								Sync with english subtitles <b>NO SPLIT</b>. Only ASS and SRT are allowed.
					
							{/snippet}
			</FileDropzone>
			<div class='border-2 border-dashed border-surface-500 rounded-lg p-4 py-8 flex flex-col'>
				<div class='flex-1'>
					<FileDropzone name='japaneseSubtitles' padding='' border='border-0'
												on:change={uploadJapaneseSubtitles('SUBTITLER_OFFSET')} accept='srt,ass'>
						{#snippet meta()}
												Offset subtitles. Only ASS and SRT are allowed.
							
											{/snippet}
					</FileDropzone>
				</div>
				<div class='label'>
					<label>Offset</label>
					<div class='input-group input-group-divider min-w-[220px] grid-cols-[auto_1fr_auto]'>
						<input type='number' class='input ' placeholder='Offset' bind:value={$offsetStore}>
						<div class='input-group-shim mx-4'>MS</div>
					</div>
				</div>
			</div>
		</div>
	{/if}

</div>