<script lang="ts">
  import { onMount } from "svelte";

  import {Fa} from 'svelte-fa';
  import { faArrowUpRightFromSquare, faFile } from "@fortawesome/pro-solid-svg-icons";
  import { SERVER_URL } from "$lib/constants";

  type FileVersion = {
    eTag: string,
    checksumAlgorithm: Array<string>
    size: number,
    storageClass: string,
    key: string,
    versionId: string,
    isLatest: boolean,
    lastModifiedUtc: number
  };
  let { key } = $props();
  let fileVersions = $state([]);

  onMount(() => {
    const based64Key = btoa(key);
    fetch(`${SERVER_URL}/v1/subtitle/file-versions/${based64Key}`,{credentials:"include"})
      .then(res => res.json())
      .then(data => {
        fileVersions = data;
      })
      .catch(err => {
        console.error(err);
      });
  });
</script>
<style>
    .feed-icon {
        @apply h-8 w-8 rounded-full  flex items-center justify-center ring-8 ring-surface-500;
    }
</style>
<div class="flow-root">
  <ul role="list" class="-mb-8">
    {#each fileVersions as fileVersion,i}
      <li>
        <div class="relative pb-8">
          {#if i !== fileVersions.length - 1}
            <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-surface-200" aria-hidden="true"></span>
          {/if}
          <div class="relative flex items-center space-x-3">
            <div>
              {#if fileVersion.isLatest}
             <span class=" feed-icon bg-primary-600  ">
               <Fa icon={faFile} />
             </span>
              {:else}
             <span class=" feed-icon bg-surface-500 ">
               <Fa icon={faFile} />
             </span>
              {/if}
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div class="flex flex-col items-start justify-center">
                <p class="unstyled text-surface-200 font-semibold">{fileVersion.versionId}</p>
                <p class="unstyled text-sm text-surface-300">
                  <span>{new Date(fileVersion.lastModifiedUtc).toLocaleString()}</span>
                  {#if !fileVersion.isLatest}
                    <a href="#" class="unstyled text-surface-200 pl-3">Compare with latest <Fa class="inline" icon={faArrowUpRightFromSquare}/></a>
                  {/if}
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    {/each}
  </ul>
</div>