<script lang="ts">
  import { faClosedCaptioning, faVideo, faVolume } from "@fortawesome/pro-solid-svg-icons";
  import {Fa} from 'svelte-fa';
  import {client as unleashClient } from "$lib/unleash"
</script>
<style>
  .stream{
      @apply text-sm  py-1 w-[70%] flex items-center;
  }
</style>
<div class="space-y-1.5">
 <div class="stream">
   <Fa icon={faVideo}/>
   <div class="placeholder flex-grow mx-2" class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></div>
 </div>
  <div class="stream">
    <Fa icon={faVolume}/>
    <div class="placeholder flex-grow mx-2" class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></div>
  </div>
  <div class="stream">
    <Fa icon={faClosedCaptioning}/>
    <div class="placeholder flex-grow mx-2" class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></div>
  </div>
  <div class="stream">
    <Fa icon={faClosedCaptioning}/>
    <div class="placeholder flex-grow mx-2" class:animate-pulse={!$unleashClient.isEnabled("disable_animations")} ></div>
  </div>
</div>