<script lang="ts">
  import { faArrowUpRightFromSquare, faClosedCaptioning, faVideo, faVolume } from "@fortawesome/pro-solid-svg-icons";
  import {Fa} from 'svelte-fa';
  import { SERVER_URL } from "$lib/constants";
  import type { AdminEpisode } from '../../../../../types';

  type Tags = {
    language: string,
    title: string
  };
  type Stream = {
    timeBase: string,
    rFrameRate: string,
    startPts: number,
    index: number,
    extraDataSize: number,
    durationTs: number,
    width: number,
    height: number,
    codecName: string,
    tags: Tags,
    duration: string,
    startTime: string,
    disposition: any,
    codecTag: string,
    codecTagString: string,
    avgFrameRate: string,
    codecType: string,
    codecLongName: string

  };
  type Chapter = {
    id: number,
    timeBase: string,
    start: number,
    startTime: string,
    end: number,
    endTime: string,
    tags: Tags
  };
  type StreamsResponse = {
    audio: Array<Stream>,
    video: Array<Stream>,
    subtitle: Array<Stream>,
    chapters: Array<Chapter>,
    videoIndex: number | undefined
    audioIndex: number | undefined,
    englishSubtitleIndex: number | undefined,
    japaneseSubtitleIndex: number | undefined,
    externalEnglishSubtitleFile:string| undefined,
    externalJapaneseSubtitleFile:string| undefined,
  }

  interface Props {
    streams: StreamsResponse;
    episode: AdminEpisode;
  }

  let { streams, episode }: Props = $props();
</script>
<style lang="postcss">
    .stream {
        @apply text-sm py-1 px-1.5 -mx-1.5 inline-block;
    }

    .stream.selected {
        @apply bg-surface-300/25 rounded-md;
    }
</style>
{#if streams}
  {#each streams.video ||[] as stream}
    <div>

      <p class="unstyled stream" class:selected={stream.index===streams.videoIndex}>
        <Fa icon={faVideo} class="inline pr-2" />
        <span class="font-semibold pr-1">[{stream.index}]</span>
        <span>{stream.tags?.title || stream.codecName}</span>
      </p>
    </div>
  {/each}
  {#each streams.audio||[] as stream}
    <div>

      <p class="unstyled stream">
        <Fa icon={faVolume} class="inline pr-2" />
        <span class="font-semibold pr-1">[{stream.index}]</span>
        <span>{stream.tags?.title || stream.codecName}</span>
      </p>
    </div>
  {/each}
  {#each streams.subtitle||[] as stream}
    <div>
      <p class="unstyled stream" class:selected={streams.englishSubtitleIndex===stream.index || streams.japaneseSubtitleIndex===stream.index}>
        <Fa icon={faClosedCaptioning} class="inline pr-2" />
        <span class="font-semibold pr-1">[{stream.index}]</span>
        <span>{stream.tags?.title || stream.codecName}</span>
        <a
          href="{SERVER_URL}/v1/investigate/show/{episode.show}/{episode.season}/{episode.episode}/stream/subtitle/{stream.index}"
          class="unstyled px-2" target="_blank">
          <Fa icon={faArrowUpRightFromSquare} class="inline" />
        </a>
      </p>
    </div>
  {/each}
  {#if streams.externalEnglishSubtitleFile}
    <div>
      <p class="unstyled stream" class:selected={!streams.englishSubtitleIndex}>
        <Fa icon={faClosedCaptioning} class="inline pr-2" />
        <span class="font-semibold pr-1">[EXT]</span>
        <span>{streams.externalEnglishSubtitleFile}</span>
        <a
          href="{SERVER_URL}/v1/investigate/show/{episode.show}/{episode.season}/{episode.episode}/local/subtitle/en"
          class="unstyled px-2" target="_blank">
          <Fa icon={faArrowUpRightFromSquare} class="inline" />
        </a>
      </p>
    </div>
    {/if}
  {#if streams.externalJapaneseSubtitleFile}
    <div>
      <p class="unstyled stream" class:selected={!streams.japaneseSubtitleIndex}>
        <Fa icon={faClosedCaptioning} class="inline pr-2" />
        <span class="font-semibold pr-1">[EXT]</span>
        <span>{streams.externalJapaneseSubtitleFile}</span>
        <a
          href="{SERVER_URL}/v1/investigate/show/{episode.show}/{episode.season}/{episode.episode}/local/subtitle/ja"
          class="unstyled px-2" target="_blank">
          <Fa icon={faArrowUpRightFromSquare} class="inline" />
        </a>
      </p>
    </div>
  {/if}
{/if}