<script lang='ts'>

  import { SERVER_URL } from '$lib/constants';
  import { onMount } from 'svelte';
  import { Fa } from 'svelte-fa';
  import { faTrash } from '@fortawesome/pro-solid-svg-icons';
  import type { Show } from '$lib/types';
  import { collection, getDocs, getFirestore, limit, query } from '@firebase/firestore';
  import { COLLECTIONS } from '$lib/firebase';
  import { showPosterUrl } from '$lib/client/content';
  import { getToken } from '$lib/client/auth';

  let showsPromise: Promise<Show[]> = $state(new Promise(r => r([])));
  onMount(() => {
    showsPromise = getShows();
  });

  async function getShows() {
    const showsRef = collection(getFirestore(), COLLECTIONS.SHOWS);
    const q = query(showsRef, limit(500));
    const results = await getDocs(q);
    return results.docs.map(d => d.data() as Show);
  }


  function range(count: number): Array<number> {
    const numbers = [];
    for (let i = 0; i < count; i++) numbers.push(i);
    return numbers;
  }

  async function deleteShow(show: string) {
    const token = await getToken();
    await fetch(`${SERVER_URL}/v1/show/${encodeURIComponent(show)}`, {
      method: 'DELETE',
      headers: { 'Authorization': `Bearer ${token}` }
    });
    setTimeout(() => showsPromise = getShows(), 100);
  }
</script>
<div class='grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-4'>
	{#await showsPromise}
		{#each range(30) as _}
			<div class='card p-4 lg:p-2 flex flex-col justify-between gap-y-3'>
				<div class='bg-surface-600  rounded-lg ' style='width: 100%;aspect-ratio: 19 / 29'>
				</div>
				<p class='unstyled text-2xl lg:text-lg placeholder'></p>
			</div>
		{/each}
	{:then shows}
		{#each shows as show}
			<div class='card p-4 lg:p-2 card-hover pb-2 lg:pb-0 flex flex-col'>
				<a href='shows/{encodeURIComponent(show.show)}/episodes'
					 class='flex flex-col justify-between gap-y-3 relative flex-grow'>
					<div class='flex justify-center' style='aspect-ratio: 19/29'>
						<img src='{showPosterUrl(show)}?height=600' class='max-h-[600px]' loading='lazy' alt='{show.show}' />
					</div>
				</a>
				<p class='unstyled text-2xl lg:text-lg line-clamp-2'>{show.show}</p>
				<div class='mt-1 pt-2 p-4 lg:p-2 border-t border-surface-400/40 -mx-4 lg:-mx-2'>
					<button class='text-error-500' onclick={()=>deleteShow(show.show)}>
						<Fa icon={faTrash} class='inline-block' />
						<span>Delete</span>
					</button>
				</div>
			</div>
		{/each}
	{/await}
</div>