<script lang='ts'>
	import { navigating } from '$app/stores';
	import ShowSummary from './ShowSummary.svelte';
	import Search from '../../Search.svelte';
  import type { HeadData, Show } from '$lib/types';
  import type { Writable } from 'svelte/store';
  import { getContext, onMount } from 'svelte';

  const head: Writable<HeadData> = getContext('head');
	onMount(() => {
		$head.title = data.show.show;
	});

	interface Props {
		data: { show: Show };
	}

	let { data }: Props = $props();
</script>
<div class=' h-full  '>
	{#if !$navigating}
		<div class='md:mx-10'>
			<ShowSummary show={data.show} />
		</div>
		<Search show='{data.show.show}' />
	{/if}
</div>
