<script lang="ts">

  import { SERVER_URL } from "$lib/constants";
  import { showPosterUrl } from '$lib/client/content';
  import type { Show } from '$lib/types';

  interface Props {
    show: Show;
  }

  let { show }: Props = $props();
  type ActorRole = {
		show: string;
		character: string;
		kitsuCharacterId: string;
	}


  async function loadActorRoles(show: Show):Promise<ActorRole[]> {
    const response = await fetch(`${SERVER_URL}/v1/actor/show/${show.show}`,{credentials: "include"});
    return await response.json();
  }

  function getCharacterImageUrl(actorRole:ActorRole): string {
    return `${SERVER_URL}/v1/content/character/${encodeURIComponent(actorRole.show)}/${encodeURIComponent(actorRole.character)}.png`;
  }

  function filterRoles(actorRoles:ActorRole[]) {
    //filter out duplicate character images
    const characters = new Set();
    const kitsuIds = new Set();
    const filtered = [];
    for (const actorRole of actorRoles) {
      if (!characters.has(actorRole.character) && !kitsuIds.has(actorRole.kitsuCharacterId)) {
        filtered.push(actorRole);
        characters.add(actorRole.character);
        if (actorRole.kitsuCharacterId)
          kitsuIds.add(actorRole.kitsuCharacterId);
        if(filtered.length >= 10)
          return filtered;
      }
    }
    return filtered;
  }
</script>

<div class="lg:rounded p-4 bg-surface-600 mb-5 lg:m-5 mt-0">
  {#if show}
  <div class="flex">

    <div class="flex-none">
      <img src="{showPosterUrl(show)}?height=250" class="h-[250px]" alt={show.show}>
    </div>
    <div class="grow flex flex-col mx-2">
      <h2 class="unstyled text-surface-100 text-3xl">{show.show} ({show.year})</h2>
      <p class="unstyled text-surface-300 line-clamp-6 lg:line-clamp-4">{show.summary}</p>
      <div class="grow hidden lg:flex overflow-x-auto mt-2">
        {#await loadActorRoles(show) then actorRoles}
          {#each filterRoles(actorRoles) as actorRole}
            <div class="mx-2 shrink-0 flex flex-col items-center">
              <img src={getCharacterImageUrl(actorRole)} class="h-[100px]" alt={actorRole.character}/>
              <p class="unstyled text-surface-300 text-xs max-w-[100px] text-center">{actorRole.character}</p>
            </div>
          {/each}
        {/await}
      </div>
    </div>
  </div>
  {/if}
</div>