<script lang='ts'>

  import type { HeadData, SavedSubtitle } from '$lib/types';
  import { COLLECTIONS } from '$lib/firebase';
  import {
    collection,
    getDocs,
    getFirestore,
    limit,
    orderBy,
    query,
    type Query,
    QueryConstraint,
    type QuerySnapshot,
    setDoc,
    startAfter
  } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { user } from '$lib/client/auth';
  import SubtitleGrid from '$lib/client/SubtitleGrid.svelte';
  import { DEFAULT_CONFIGURATION, SubtitleData } from '$lib/client/SubtitleCard/types';
  import { getContext } from '$lib/client/subtitleUtilities';
  import { SavedSubtitleDataExtractor } from './utils';
  import type { Writable } from 'svelte/store';
  import { getContext as getContextStore, onMount } from 'svelte';

  const head: Writable<HeadData> = getContextStore('head');
  let subtitles: SubtitleData<unknown>[] = $state([]);
  let loading = $state(false);
  const configuration = { ...DEFAULT_CONFIGURATION, clickAction: 'link' };

  let querySnapshot: QuerySnapshot<SavedSubtitle, SavedSubtitle> | undefined;

  onMount(() => {
    $head.title = 'Saved Clips';
  });
  if ($user) {
    reset();
    loadSavedPage();
  }

  function reset() {
    subtitles = [];
    querySnapshot = undefined;
    loading = false;
  }

  async function loadSavedPage() {
    if (loading)
      return;
    loading = true;
    try {
      querySnapshot = await getDocs<SavedSubtitle, SavedSubtitle>(getQuery());
      const s = await mapQuerySnapshot(querySnapshot);
      appendSubtitles(s);
    } finally {
      loading = false;
    }
  }

  function getQuery(): Query<SavedSubtitle, SavedSubtitle> {
    const queryConstraints: QueryConstraint[] = [orderBy('savedAt', 'desc')];
    if (querySnapshot)
      queryConstraints.push(startAfter(querySnapshot.docs[querySnapshot.docs.length - 1]));
    queryConstraints.push(limit(20));
    const c = collection(getFirestore(app), COLLECTIONS.USERS, $user!.uid, COLLECTIONS.SAVED);
    return query(c, ...queryConstraints) as Query<SavedSubtitle, SavedSubtitle>;
  }

  async function mapQuerySnapshot(snapshot: QuerySnapshot<SavedSubtitle, SavedSubtitle>): Promise<SavedSubtitle[]> {
    const subtitles: SavedSubtitle[] = [];
    for (let d of snapshot.docs) {
      const subtitle = d.data();
      subtitle.id = d.id;
      if (subtitle.context && !subtitle.context.subtitles) {
        subtitle.context = await getContext(subtitle.subtitle, subtitle.context.previousCount, subtitle.context.nextCount);
        await setDoc(d.ref, subtitle);
      }
      subtitles.push(subtitle);
    }
    return subtitles;
  }

  function appendSubtitles(s: SavedSubtitle[]) {
    const subtitleData = s.map(s => new SubtitleData(s, SavedSubtitleDataExtractor) as SubtitleData<unknown>);
    subtitles = [...subtitles, ...subtitleData];
  }

</script>
<svelte:head>
	<title>Saved Clips</title>
</svelte:head>
<div class='container mx-auto'>
	<SubtitleGrid clips={subtitles} {loading} on:loadMore={loadSavedPage} {configuration} />
</div>
