<script lang="ts">

  import type { Episode, OverlayElement } from '$lib/types';

	interface Props {
		overlayElements: OverlayElement[];
		episode: Episode|null;
		svgElement?: SVGElement|undefined;
		z?: string;
	}

	let {
		overlayElements,
		episode,
		svgElement = $bindable(undefined),
		z = "z-10"
	}: Props = $props();

</script>
<svg class='w-full h-full absolute {z}' bind:this={svgElement}
		 viewBox='0 0 {episode?.width||1920} {episode?.height||1080}'>
	{#each overlayElements as element (element.id)}
		{#if element.type === 'text'}
			<text id={element.id} x={element.x} y={element.y} fill={element.fill} font-weight='bold'
						stroke={element.stroke} stroke-width='{Math.ceil(element.fontSize/30)}'
						font-size='{element.fontSize}' font-family='Roboto'>{element.text}</text>
		{/if}
	{/each}
</svg>