<script lang='ts'>

	import { faAngleRight } from '@fortawesome/pro-solid-svg-icons';
	import { Fa } from 'svelte-fa';

	interface Props {
		breadcrumbs?: { name: string, href?: string }[];
	}

	let { breadcrumbs = [] }: Props = $props();
</script>
<style lang='postcss'>
    a, p {
        @apply ml-4 text-sm font-medium text-surface-400 line-clamp-2 ;
    }

    a {
        @apply hover:text-surface-200;
    }
</style>
<nav class='flex' aria-label='Breadcrumb'>
	<ol role='list' class='flex items-center space-x-4'>
		<li>
			<div class='flex items-center'>
				<a href='{breadcrumbs[0].href}' class='unstyled'>{breadcrumbs[0].name}</a>
			</div>
		</li>
		{#each breadcrumbs.slice(1) as breadcrumb}
			<li>
				<div class='flex items-center'>
					<Fa icon={faAngleRight} class='h-5 w-5 flex-shrink-0 text-surface-600' />
					{#if breadcrumb.href}
						<a href='{breadcrumb.href}' class='unstyled'>{breadcrumb.name}</a>
					{:else}
						<p class='unstyled'>{breadcrumb.name}</p>
					{/if}
				</div>
			</li>
		{/each}
	</ol>
</nav>