<script lang='ts'>
	import ClipMedia from '$lib/client/ClipMedia.svelte';
	import { isMobile } from '$lib/client/stores';
	import type { Subtitle } from '$lib/types';

	interface Props {
		clip: Subtitle & { next: number, previous: number };
		mediaClass?: string;
		children?: import('svelte').Snippet;
	}

	let { clip, mediaClass = '', children }: Props = $props();

	let hovered = $state(false);
</script>
<div class='card hover:bg-surface-600 flex flex-col justify-between relative' onmouseenter={()=>hovered=true} onmouseleave={()=>hovered=false}
		 role='img'>
	<a class='absolute inset-0 z-10' href={`/subtitle/${encodeURIComponent(clip.show)}-${clip.season}-${clip.episode}-${clip.subtitleNumber}?next=${clip.next}&previous=${clip.previous}`}><span
		class='sr-only'>{clip.text}</span></a>
	<div>
		<ClipMedia {clip} loading='lazy' class='{mediaClass}' aspectRatio='16/9' hoverPlay={!$isMobile} autoplay={true}
							 {hovered} />
	</div>
	<div class='m-2 flex items-center justify-between'>
		<div>
			<h4>{clip.text}</h4>
			<div>
				<small class='py-1 px-1.5 rounded bg-primary-600'>{clip.show}</small>
			</div>
		</div>
		<div class='z-40'>
			{@render children?.()}
		</div>
	</div>
</div>