<script lang="ts">

	import { getToastStore } from '@skeletonlabs/skeleton';
  import { collection, deleteDoc, doc, getFirestore, onSnapshot, orderBy, query } from '@firebase/firestore';
  import { onMount } from 'svelte';
  import { app } from '$lib/client/firebase';
  import { COLLECTIONS } from '$lib/firebase';
  import { getFunctions, httpsCallable } from '@firebase/functions';
  import { faUp } from '@fortawesome/pro-solid-svg-icons';
  import { Fa } from 'svelte-fa';
  import { user } from '$lib/client/auth';

  type CommentType = {
    id: string;
    comment: string;
    userName: string;
    uid: string;
    timestamp: string;
  }

  interface Props {
    parent: string;
  }

  let { parent }: Props = $props();
  let commentInput = $state('');
  let writingComment = $state(false);
  let comments: CommentType[] = $state([]);
  const toastStore = getToastStore();
  onMount(() => {
    const q = query(collection(getFirestore(app), parent, COLLECTIONS.COMMENTS),orderBy('timestamp','desc'));
    return onSnapshot(q, (snapshot) => {
      comments = snapshot.docs.map(doc => ({ id: doc.id, ...doc.data() } as CommentType));
    });
  });
  async function addComment(comment: string) {
    writingComment = true;
    try {
      const f = httpsCallable(getFunctions(app), 'createComment');
      const body = { comment, parent };
      const response = await f(body);
      console.log(response);
      commentInput = '';
    } catch (e) {
      console.error(e);
    } finally {
      writingComment = false;
    }
  }

  async function deleteComment(id:string){
    const docRef = doc(getFirestore(app), parent, COLLECTIONS.COMMENTS, id);
    await deleteDoc(docRef);
    toastStore.trigger({message:'Comment deleted',background:'variant-filled-success'});
  }

  function handleKeypress(e:KeyboardEvent){
    if(e.key === 'Enter'){
      addComment(commentInput);
    }
  }

</script>
<div class='mt-10'>
	<div class='input-group-divider input-group grid grid-cols-[1fr_auto]'>
			<textarea rows='1' bind:value={commentInput} placeholder={$user?'Add a comment':'You must login to leave a comment'} class='input'
								disabled={writingComment || !$user} onkeypress={handleKeypress}></textarea>
		<button onclick={() => addComment(commentInput)} class='btn variant-filled-primary rounded-l-none'
						disabled={writingComment || !$user}>Comment
		</button>
	</div>
	<div class='mt-4 space-y-4'>
		{#each comments as comment}
			<div class='bg-surface-500 p-3 rounded'>
				<p class='text-sm text-surface-300'>{comment.userName} - {new Date(comment.timestamp).toLocaleTimeString()}</p>
				<p class='text-sm whitespace-pre overflow-x-auto'>{comment.comment}</p>
				{#if comment.uid === $user?.uid}
					<button class='text-xs font-bold' onclick={()=>deleteComment(comment.id)}>Delete</button>
				{/if}
			</div>
		{/each}
		{#if comments.length===0}
			<div class='flex items-center justify-center w-full  border-2 border-dashed text-surface-200 border-surface-600 rounded py-8 gap-x-4'>
				<Fa icon={faUp} class='text-2xl hidden lg:block'/>
				<h3 class='text-2xl font-bold'>Be the first to leave a comment</h3>
				<Fa icon={faUp} class='text-2xl hidden lg:block'/>
			</div>
		{/if}
	</div>
</div>
