<script lang="ts">

  type StatusType = "success" | "warning" | "error" ;
  interface Props {
    status: StatusType;
  }

  let { status }: Props = $props();

  function getStatusColor(status: StatusType) {
    switch (status) {
      case "success":
        return "bg-emerald-500";
      case "warning":
        return "bg-amber-500";
      case "error":
        return "bg-red-500";
    }
  }

  function getStatusOutlineColor(status: StatusType) {
    switch (status) {
      case "success":
        return "bg-emerald-500/20";
      case "warning":
        return "bg-amber-500/20";
      case "error":
        return "bg-red-500/20";
    }
  }
</script>
<div class="flex-none rounded-full {getStatusOutlineColor(status)} p-1">
  <div class="h-1.5 w-1.5 rounded-full {getStatusColor(status)}"></div>
</div>
