<script lang='ts'>
	import { Fa } from 'svelte-fa';
	import { faArrowLeft, faArrowRight } from '@fortawesome/pro-solid-svg-icons';
	import SubtitleCard from '$lib/client/SubtitleCard/SubtitleCard.svelte';
  import { DEFAULT_CONFIGURATION, SubtitleData } from '$lib/client/SubtitleCard/types';

	interface Props {
		subtitles: SubtitleData<unknown>[];
	}

	let { subtitles }: Props = $props();
	let carouselElement: HTMLDivElement = $state();

	function shiftLeft(): void {
		let x = carouselElement.scrollWidth;
		if (carouselElement.scrollLeft !== 0)
			x = carouselElement.scrollLeft - carouselElement.clientWidth;
		carouselElement.scroll(x, 0);
	}

	function shiftRight(): void {
		let x = 0;
		if (carouselElement.scrollLeft < carouselElement.scrollWidth - carouselElement.clientWidth - 1)
			x = carouselElement.scrollLeft + carouselElement.clientWidth;
		carouselElement.scroll(x, 0);
	}
</script>
<div class='grid grid-cols-[auto_1fr_auto] gap-4 items-center'>
	<button class='btn btn-icon variant-ghost' onclick={shiftLeft}>
		<Fa icon={faArrowLeft} />
	</button>
	<div bind:this={carouselElement} class='snap-x snap-mandatory scroll-smooth flex overflow-x-auto gap-x-4 overflow-y-visible'>
		{#each subtitles as subtitleData}
			<div class='w-[200px] lg:w-[500px] inline-block shrink-0 grow aspect-video overflow-y-visible'>
				<SubtitleCard {subtitleData} configuration={{...DEFAULT_CONFIGURATION,cardClasses:'w-full'}} />
			</div>
		{/each}
	</div>
	<button class='btn btn-icon variant-ghost' onclick={shiftRight}>
		<Fa icon={faArrowRight} />
	</button>
</div>