<script lang="ts">
  import type { Subtitle } from "$lib/types";
  import { getEpisodeDisplay } from '$lib/utilities';

  interface Props {
    subtitle: Subtitle;
    limitTopWidth?: boolean;
  }

  let { subtitle, limitTopWidth = true }: Props = $props();
  let tags = $derived([...(subtitle?.parentTags||[]), ...(subtitle?.tags||[])]) ;

  

  function getDuration() {
    if (subtitle) {
      const start = subtitle.startTime;
      const end = subtitle.endTime;
      const seconds = ((end-start)/1000).toFixed(1);
      return `0:${seconds < 10 ? "0" + seconds : seconds}`;
    }
    return "0:00.0";
  }

</script>
<style>


    .tag {
        @apply text-gray-200 text-xs;
    }

    .overlay {
        @apply  bg-surface-500/40 backdrop-blur-sm py-1 px-2 rounded-sm;
    }
</style>

<div class="absolute top-1 left-1 overlay {limitTopWidth?'max-w-[calc(100%_-_200px)]':'max-w-[calc(100%_-_1rem)]'}">
  <div class="flex gap-x-2 items-center max-w-full relative">
    <a href="/subtitle/{subtitle.id}" class="absolute inset-0"></a>
    <p class="font-bold shrink overflow-x-hidden whitespace-nowrap text-ellipsis">{subtitle.show}</p>
    <p class="unstyled text-surface-200 whitespace-nowrap">
      {getEpisodeDisplay(subtitle)}</p>
  </div>
</div>
{#if tags.length>0}
<div class="absolute bottom-1 left-1 overlay">
  <div class="flex items-center gap-x-1 flex-wrap overflow-x-hidden mr-2">
      {#each tags as tag}
        <a class="tag unstyled" href="/search?q={encodeURIComponent('#'+tag)}">#{tag}</a>
      {/each}

  </div>
</div>
{/if}
<div class="absolute bottom-1 right-1 overlay">
  <p class="text-sm unstyled">{getDuration()}</p>
</div>
