<script lang='ts'>
  import { getSubtitle, openShareModal } from '$lib/client/subtitleUtilities';
  import ViewportAwareMedia from '$lib/client/SubtitleCard/ViewportAwareMedia.svelte';
  import {
    DEFAULT_CONFIGURATION,
    type SubtitleCardConfiguration,
    SubtitleData,
    SubtitleDataExtractor
  } from '$lib/client/SubtitleCard/types';
  import type { Episode, Show, Subtitle } from '$lib/types';
  import { getEpisode } from '$lib/client/EpisodeService';
  import { getShow } from '$lib/client/content';
  import ClipFoot from './SubtitlePage/ClipFoot.svelte';
  import { Fa } from 'svelte-fa';
  import { faClose, faShare } from '@fortawesome/pro-solid-svg-icons';
  import { getDrawerStore, getModalStore } from '@skeletonlabs/skeleton';
  import { isMobile, isSmallScreen } from '$lib/client/stores';
  import { onMount } from 'svelte';
  import Related from '$lib/client/SubtitlePage/Related.svelte';

  onMount(() => {
    if ($isMobile) {
      drawerTop = window.innerHeight/2;
      setTimeout(() => {
        transitioning = true;
        drawerTop = 0;
      }, 1);
      setTimeout(() => transitioning = false, 400);
    }
  });

  interface Props {
    subtitleId: string;
  }

  let { subtitleId }: Props = $props();
  type MediaContext = {
    subtitleData: SubtitleData<unknown>,
    episode: Episode | undefined,
    show: Show,
    aspectRatio: number
  };
  let drawerTop = $state(0);
  let mouseDown = $state(false);
  let scrollContainer: HTMLElement | null = $state(null);
  let touchStart: number | null = null;
  let transitioning = $state(false);
  let duration = $state(300);

  async function getContext(subtitleId: string): Promise<MediaContext> {
    const subtitle = await getSubtitle(subtitleId);
    const episode = await getEpisode(subtitle);
    const show = await getShow({ name: subtitle.show });
    let aspectRatio = 16 / 9;
    if (episode && episode.width && episode.height)
      aspectRatio = episode.width / episode.height;
    return {
      subtitleData: new SubtitleData(subtitle, SubtitleDataExtractor) as SubtitleData<unknown>,
      episode,
      show: show!,
      aspectRatio
    };
  }

  const CONFIGURATION: SubtitleCardConfiguration = {
    ...DEFAULT_CONFIGURATION,
    viewportContainer: undefined,
    mediaType: 'video',
    cardClasses: '',
    containerClasses: 'w-full',
    countHit: true
  };

  function getConfiguration(aspectRatio: number): SubtitleCardConfiguration {
    return {
      ...CONFIGURATION,
      aspectRatio,
      mediaContainerAspectRatio: aspectRatio,
      sourceSize: !($isSmallScreen)
    };
  }

  const drawerStore = getDrawerStore();
  const modalStore = getModalStore();

  function showShareModal(subtitle: Subtitle) {
    openShareModal(modalStore, { subtitle });
  }

  function onMouseMove(event: MouseEvent | TouchEvent) {
    if (mouseDown) {
      drawerTop = getEventY(event);
    } else if ($isMobile && scrollContainer && scrollContainer.scrollTop == 0) {
      if (touchStart === null)
        touchStart = getEventY(event);
      drawerTop = getEventY(event) - touchStart;
    }
  }

  function getEventY(event: MouseEvent | TouchEvent): number {
    if (event.clientY)
      return event.clientY;
    else if (event.touches && event.touches[0])
      return event.touches[0].clientY;
    throw new Error('No clientY in event');
  }

  function onMouseUp() {
    mouseDown = false;
    transitioning = true;
    if (drawerTop > window.innerHeight * .20) {
      duration = (window.innerHeight - drawerTop) / window.innerHeight * 300;
      setTimeout(() => drawerStore.close(), duration - 50);
      drawerTop = window.innerHeight;
    } else {
      drawerTop = 0;
      duration = 200;
    }
    setTimeout(() => transitioning = false, duration);
    touchStart = null;
  }


  let mediaContextPromise = $derived(getContext(subtitleId));
</script>
<style lang='postcss'>
    .transitioning {
        transition: top var(--transition-duration) linear;
    }
</style>
<svelte:body ontouchmove={onMouseMove} onmousemove={onMouseMove} onmouseup={onMouseUp} ontouchend={onMouseUp} />
<div class='absolute bg-surface-800 h-[100vh] overflow-y-auto' class:transitioning={transitioning}
		 class:w-full={$isMobile} style='top:{drawerTop}px;--transition-duration: {duration}ms;overscroll-behavior: none;'
		 bind:this={scrollContainer}>
	{#await mediaContextPromise}
		<div class='p-4'>
			<p class='text-xl'>Loading...</p>
		</div>
	{:then mediaContext}
		<div class='bg-surface-800 flex justify-between text-lg items-center z-40'>
			{#if $isMobile}
				<button class='w-full p-2 flex items-center justify-center' onmousedown={()=>mouseDown=true}
								ontouchstart={()=>mouseDown=true}>
					<span class='my-1 w-10 h-1 bg-surface-300 rounded-lg'></span>
				</button>
			{:else}
				<div class='my-2 py-1 px-4 lg:px-3 w-full flex justify-between items-center'>
					<a class='underline' href='/subtitle/{subtitleId}'>Go to subtitle page </a>
					<button onclick={()=>drawerStore.close()}>
						<Fa class='text-2xl' icon={faClose} />
					</button>
				</div>
			{/if}
		</div>
		<div class='w-full relative isolate' style='aspect-ratio: {mediaContext.aspectRatio}'>
			<ViewportAwareMedia subtitleData={mediaContext.subtitleData}
													configuration={getConfiguration(mediaContext.aspectRatio)} />
		</div>
		<div class='flex justify-end mt-3 mx-3'>
			<button class='btn btn-sm lg:btn-base variant-ghost'
							onclick={()=>showShareModal(mediaContext.subtitleData.getSubtitle())}>Share
				<Fa class='ml-1 lg:ml-2' icon={faShare} />
			</button>
		</div>
		<ClipFoot clip={mediaContext.subtitleData.getSubtitle()} subtitles={[mediaContext.subtitleData.getSubtitle()]}
							show={mediaContext.show}
							episode={mediaContext.episode} showMore={true} />
		<Related subtitle={mediaContext.subtitleData.getSubtitle()}/>
		{:catch e}
		<div class='p-4'>
			<p class='text-xl'>Error loading subtitle</p>
			<pre class='p-1 bg-surface-400 font-mono'>{JSON.stringify(e)}</pre>
		</div>
	{/await}
</div>
