<script lang="ts">
  import { client as unleashClient } from "$lib/unleash";
  import type { ActorRole } from "./types";
  import { SERVER_URL } from "$lib/constants";
  import { isMobile } from '$lib/client/stores';

  interface Props {
    actorRole: ActorRole;
    filter: string;
  }

  let { actorRole, filter }: Props = $props();
  let character:{summary:string};







  function formatCharacterName(character: string): string {
    if (character.toLowerCase() === "(voice)")
      return character;
    return character.replace(/\s*\(voice\)/i, "");
  }

  function formatShowName(showName: string): string {
    if (showName.length > 23)
      return showName.substring(0, 20) + "...";
    return showName;
  }

  function getCharacterImageUrl(): string {
    return `${SERVER_URL}/v1/content/character/${encodeURIComponent(actorRole.show)}/${encodeURIComponent(actorRole.character)}.png`;
  }

  function matchesFilter(filter):boolean{
    if(!filter || filter.length<0)
      return false;
    return actorRole.character.toLowerCase().indexOf(filter)!==-1;
  }

  let hovered = $state(false);
</script>
<style lang="postcss">
        .highlighted {
            @apply text-black bg-primary-500 rounded;
        }
</style>
<div class="relative "
     onmouseenter={()=>$isMobile?{}:hovered=true}
     onmouseleave={()=>hovered=false}
     role='img'>
  {#if hovered}
    <div
      class="absolute lg:right-[-300px] top-[30px] lg:top-[-150px] lg:w-[300px] card z-10 border overflow-visible w-full"
      >

      <img class="mx-auto my-2 rounded"
           src={getCharacterImageUrl()} alt={actorRole.character}>

      {#if character?.summary}
        <p>{character.summary}</p>
      {:else}
        <b>{formatCharacterName(actorRole.character)}</b>
      {/if}
    </div>
  {/if}
  <p class="lg:text-sm unstyled my-0.5 px-1" class:highlighted={matchesFilter(filter)}>
    {#if $unleashClient.isEnabled("character_page") && !isMobile}
      <a class="unstyled font-bold underline"
         href="/character/{encodeURIComponent( actorRole.show)}/{encodeURIComponent(actorRole.character)}">{formatCharacterName(actorRole.character)}</a>
    {:else}
      <b>{formatCharacterName(actorRole.character)}</b>
    {/if}
    in {formatShowName(actorRole.show)}
  </p>
</div>
