<script lang="ts">
  import { run } from 'svelte/legacy';

  import ActorRole from "./ActorRole.svelte";
  import { client as unleashClient } from "$lib/unleash";
  import {Fa} from 'svelte-fa';
  import { faGear } from "@fortawesome/pro-solid-svg-icons";
  import { page } from "$app/stores";
  import type { SameActor, ActorRole as ActorRoleType } from "./types";
  import { SERVER_URL } from "$lib/constants";

  interface Props {
    actor: SameActor;
    filter?: string | undefined;
  }

  let { actor, filter = undefined }: Props = $props();
  let actorHovered = $state(false);
  let showAll = $state(false);

  let filteredOriginalRoles = $state([]);
  let filteredOtherRoles = $state([]);


  function getActorImageUrl() {
    return `${SERVER_URL}/v1/content/actor/${encodeURIComponent(actor.actorName)}.png`;
  }

  function filterRoles(roles: Array<ActorRoleType>, showAll: boolean, filter?: string) {

    if (roles.length < 5 || showAll || filter)
      return roles;
    if ("main".localeCompare(roles[0].role) === 0) {//is main role
      return roles.filter(r => "main".localeCompare(r.role) === 0);
    }
    return roles.slice(0, 5);
  }

  run(() => {
    if (actor) {
      filteredOriginalRoles = filterRoles(actor.originalShowCharacters, showAll, filter);
      filteredOtherRoles = filterRoles(actor.otherShowCharacters, showAll, filter);
    }
  });
</script>

<div class="lg:flex justify-between items-center text-center border border-primary-50/30 gap-x-2 px-2 my-1.5">
  <div class="border-b lg:border-b-0 border-dashed border-surface-300/70 my-2 pb-1">
    <div class="relative" onmouseenter={()=>actorHovered=true} onmouseleave={()=>actorHovered=false}>
      {#if actorHovered}
        <div
          class="absolute lg:right-[-350px] top-[30px] lg:top-[-150px] lg:w-[300px] card z-10 border overflow-visible w-full"
          >

          <img class="mx-auto my-2 rounded"
               src={getActorImageUrl()}>
          <b>{actor.actorName}</b>
        </div>
      {/if}
      <h3 class="mt-1 mb-2">{actor.actorName}
        {#if $unleashClient.isEnabled("character_page")}
          <a href="{$page.url.pathname}/admin/actor/{actor.actorName}">
            <Fa icon={faGear} class="inline text-white px-2" />
          </a>
        {/if}
      </h3>
    </div>
    {#if filteredOriginalRoles.length > 0}
      <p class="hidden lg:block text-sm unstyled">is</p>
    {/if}
    {#each filteredOriginalRoles as actorRole}
      <ActorRole {actorRole} {filter} />
    {/each}
    {#if !showAll && !filter && actor.originalShowCharacters.length >= 5}
      <button class="btn btn-sm variant-filled-surface mt-1 w-full" onclick={()=>showAll=true}>Show all
        ({actor.originalShowCharacters.length - filteredOriginalRoles.length})
      </button>
    {/if}
  </div>
  <div class="lg:mt-2 mb-3">
    {#each filteredOtherRoles as actorRole}
      <ActorRole {actorRole} {filter}/>
    {/each}
    {#if !showAll && !filter && actor.otherShowCharacters.length >= 5}
      <button class="btn btn-sm variant-filled-surface mt-1 w-full" onclick={()=>showAll=true}>Show all
        ({actor.otherShowCharacters.length - filteredOtherRoles.length})
      </button>
    {/if}
  </div>
</div>
