<script lang='ts'>
	import { preventDefault, stopPropagation } from 'svelte/legacy';

	import SameActor from './SameActor.svelte';
	import {Fa} from 'svelte-fa';
	import { faImageSlash } from '@fortawesome/pro-solid-svg-icons';
	import type { Subtitle,Episode,Show } from '$lib/types';
	import { getReading, type Reading } from '$lib/client/subtitleUtilities';
  import { showPosterUrl } from '$lib/client/content';
  import { isAdmin } from '$lib/client/auth';


	interface Props {
		clip: Subtitle;
		episode: Episode;
		show: Show;
		subtitles: Subtitle[];
		showMore?: boolean;
	}

	let {
		clip,
		episode,
		show,
		subtitles,
		showMore = $bindable(false)
	}: Props = $props();


	async function getJapanese(): Promise<Reading & {kanji:string}> {
		const idSet = new Set<string | number>();
		const texts = [];
		for (let s of subtitles) {
			if (s.kanji && !idSet.has(s.japaneseSubtitleNumber || s.kanji)) {
				idSet.add(s.japaneseSubtitleNumber || s.kanji);
				texts.push(s.kanji);
			}
		}
		const kanji = texts.join(' ');
		const reading =  await getReading(undefined, kanji);
		return {...reading, kanji};
	}

	function formatDuration(durationMs: number) {
		let seconds = Math.floor(durationMs / 1000);
		const hours = Math.floor(seconds / 3600);
		const minutes = Math.floor((seconds % 3600) / 60);
		return hours.toString().padStart(1, '0') + ':' +
			minutes.toString().padStart(2, '0') + ':' +
			(seconds % 60).toString().padStart(2, '0') + ',' +
			(durationMs % 1000).toString().padStart(3, '0');
	}

	let posterError = $state(false);
  let showUrl = $derived(`/shows/${encodeURIComponent(clip.show)}`);
  let episodeUrl = $derived(`${showUrl}/${encodeURIComponent(clip.show)}-${encodeURIComponent(clip.season)}-${clip.episode}`)

</script>
<style lang='postcss'>
    .hover-highlight {
        @apply hover:bg-surface-600;
    }

    img, .image-error {
        @apply bg-surface-500;
    }
</style>
{#if show && episode}
	<div class='mt-2 mx-3 lg:mx-0 relative'>
		<div class='detail-container mt-3 !p-2 relative' class:hover-highlight={!showMore}>
			{#if !showMore}
				<button class='unstyled absolute inset-0 z-10 cursor-pointer mt-20 ' onclick={()=>showMore=true}></button>
			{/if}
			<div class='flex space-x-3 items-center'>
				<div>
					{#if !posterError}
						<img src='{showPosterUrl(clip)}?height=100' class='rounded-full w-[70px] aspect-square object-cover'
								 alt='{episode.show} Poster' onerror={()=>posterError=true}>
					{:else}
						<div class='rounded-full w-[70px] aspect-square image-error items-center flex flex-col justify-center'>
							<Fa icon={faImageSlash} class='mx-auto text-xl text-surface-200' />
						</div>
					{/if}
				</div>
				<div class='flex-shrink' style='max-width: calc(100% - 90px)'>
					<p><a class='unstyled underline' href='{showUrl}'><b>{clip.show}</b></a></p>
					<p class='text-surface-300'><a class='unstyled underline'
																				 href='{episodeUrl}'>A
						clip from {clip.show} {clip.season} Episode {clip.episode} </a><span
						class='bg-surface-500 text-xs p-1.5 rounded-md'>{formatDuration(subtitles[0].startTime)}
						- {formatDuration(subtitles[subtitles.length - 1].endTime)}</span></p>
					{#if episode.originallyAvailableAt}
						<p class='text-surface-300'>Released: {new Date(episode.originallyAvailableAt).toLocaleDateString()}</p>
					{:else}
						<p class='text-surface-300'>Released: Unknown</p>
					{/if}
				</div>
			</div>
			{#if $isAdmin}
				<div class='mt-5 px-1'>
					<a href='https://highsub.alexk8s.com/v1/subtitle/{clip.id}' target='_blank' class='underline z-10'>Technical
						details</a>
				</div>
			{/if}
			<div class="mt-5 space-y-3 px-1  {showMore?'':'max-h-[40px] overflow-y-hidden'}">
				<div>
					{#if clip.kanji}
						<p class='font-bold '>English</p>
					{/if}
					<p class=''>
						{#if clip.name}
							<span class='font-bold'>({clip.name})</span>
						{/if}
						{subtitles.map(s => s.text).join(" ")}</p>
				</div>
				{#key subtitles}
					{#if clip.kanji}
						<div>
							{#await getJapanese()}
								<div>
									<p class='font-bold'>Kanji</p>
									<p class='placeholder'></p>
								</div>
								<div>
									<p class='font-bold'>Hiragana</p>
									<p class='placeholder'></p>
								</div>
							{:then reading}
								<div>
									<p class='font-bold'>Kanji</p>
									<p class='japanese-text'>{reading.kanji}</p>
								</div>
								<div>
									<p class='font-bold'>Hiragana</p>
									<p>{reading.hiragana}</p>
								</div>
							{/await}
						</div>
					{/if}
				{/key}

				{#if showMore}
					<div class='!mt-10 lg:flex lg:space-x-3'>
						<div class='flex-none w-[200px] lg:w-[100px] relative' style='aspect-ratio: 2/3'>

							{#if !posterError}
								<img src='{showPosterUrl(clip)}?height=400' class='w-full z-[1] absolute ' alt='{episode.show} Poster' />
							{:else}
								<div
									class=' w-[200px] lg:w-[100px] aspect-[9/21] image-error items-center flex flex-col justify-center'>
									<Fa icon={faImageSlash} class='mx-auto text-2xl text-surface-200' />
								</div>
							{/if}
							<div class='absolute inset-0 bg-surface-500'></div>
						</div>
						<div class='mt-3 lg:mt-0'>
							<p class='text-surface-300 font-bold'>{episode.show}: {episode.title}</p>
							<p class='text-surface-300'>{episode.summary}</p>
							{#if episode.studio}
								<p class='text-surface-300 mt-2 '><span class='font-bold'>Studio:</span> {episode.studio}</p>
							{/if}
						</div>
					</div>
					<div class='!mt-10'>
						<SameActor {clip} />
					</div>
				{/if}
			</div>
			{#if !showMore}
				<div class='flex justify-center'>
					<button class='unstyled font-bold cursor-pointer'
									onclick={stopPropagation(preventDefault(()=>showMore=true))}>Show More
					</button>
				</div>
			{/if}
		</div>
	</div>
{/if}