<script lang='ts'>
  import { onMount } from 'svelte';
  import { SERVER_URL } from '$lib/constants';
  import { client as unleashClient } from '$lib/unleash';
  import SmallImage from './SmallImage.svelte';
  import type { Subtitle } from '$lib/types';
  import { getAuthHeader } from '$lib/client/auth';

  let subtitles: Subtitle[] = $state([]);
  interface Props {
    subtitle: Subtitle;
  }

  let { subtitle }: Props = $props();
  let pageSize = $state(1);

  onMount(() => {
    pageSize = 16;
    search().then();
  });


  async function search() {
    try {
      const headers = await getAuthHeader();
      const contextData = { subtitle: encodeURIComponent(subtitle.id), url: encodeURI(window.location.href) };
      const context = btoa(JSON.stringify(contextData));
      const response = await fetch(`${SERVER_URL}/v2/search?q=${subtitle.text}&size=${pageSize}&context=${context}`, { headers });
      if (response.ok)
        subtitles = await response.json();
      else
        subtitles = [];
    } catch (e) {
      console.warn(e);
      subtitles = [];
    }
  }


</script>

<div class='my-3 mx-3 lg:mx-0'>
	<div class='mb-1 text-xl'>
		<a href='/search?q={subtitle.text}'>Related clips</a>
	</div>
	<div class='grid grid-cols-2 lg:grid-cols-4 gap-1 lg:gap-3'>
		{#each subtitles as subtitle (subtitle.id)}
			<SmallImage {subtitle} />
		{/each}
		{#if subtitles.length === 0}
			{#each new Array(pageSize) as i}
				<div class='h-[100px] placeholder' class:animate-pulse={!$unleashClient.isEnabled("disable_animations")}></div>
			{/each}
		{/if}
	</div>
</div>
