<script lang="ts">
  import { onMount } from "svelte";
  import ActorApperances from "./ActorApperances.svelte";
  import type { SameActor } from "./types";
  import { SERVER_URL } from "$lib/constants";

  let { clip } = $props();
  let filter = $state("");

  let actors = $state([]);

  onMount(() => {
    fetch(`${SERVER_URL}/v2/actor/same-actor/${clip.show}`, { headers: { accept: "application/json" } }).then(r => r.json())
      .then((sameActors: Array<SameActor>) => {
        actors = sameActors;
      });
  });

  function filterActors(actors: Array<SameActor>, filter: string) {
    if (!filter || filter.length === 0)
      return actors.slice(0, 10);
    const lowerFilter = filter.toLowerCase();
    return actors.filter(a => {
      return a.actorName.toLowerCase().indexOf(lowerFilter) !== -1 ||
      a.originalShowCharacters.find(c => c.character.toLowerCase().indexOf(lowerFilter) !== -1) ||
      a.otherShowCharacters.find(c => c.character.toLowerCase().indexOf(lowerFilter) !== -1);
    }).slice(0,10);
  }


</script>
{#if  actors && actors.length > 0}
  <div class="lg:flex justify-between">
    <h2>Actor appearances</h2>
    <input class="input lg:w-[300px]" type="text" placeholder="Filter Actor / Character" bind:value={filter}>
  </div>
  {#each filterActors(actors,filter) as actor}
    <ActorApperances {actor} {filter} />
  {/each}
{/if}
