<script lang="ts">
	import { run } from 'svelte/legacy';

	import type { Subtitle } from '$lib/types';
	import { applyExtension } from '$lib/utilities';

	interface Props {
		subtitle: Subtitle;
	}

	let { subtitle }: Props = $props();
	let imageUrl = $state('');
	run(() => {
		const url = applyExtension(subtitle.pngUrl,'.webp');
		url.searchParams.set('height','150');
		url.searchParams.set('animated','true');
		url.searchParams.set('countHit','false');
		imageUrl = url.toString();
	});
</script>
<div  class="aspect-video w-full relative">
	<a href="/subtitle/{subtitle.id}" class="inset-0 absolute">
		<span class="sr-only">{subtitle.text}</span>
	</a>
	<img src={imageUrl} class="rounded" loading="lazy" alt={subtitle.text} />
</div>
