<script lang='ts'>
  import SpoilerSettings from './SpoilerSettings.svelte';
  import { getContext, onMount } from 'svelte';
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';

  const head: Writable<HeadData> = getContext('head');
  onMount(() => {
    $head.title = 'Settings';
  });
</script>

<div class='container mx-auto '>
	<SpoilerSettings />
</div>
