<script lang='ts'>
	import { run } from 'svelte/legacy';


	import { createEventDispatcher, onMount } from 'svelte';
	import { getShows } from '$lib/client/content';
	import type { Show } from '$lib/types';
	import { account, accountClient } from '$lib/client/appwrite';

	const dispatcher = createEventDispatcher();
	let shows: Show[] = $state([]);
	let selectedShow: string = $state();

	onMount(() => {
		getShows().then(s => shows = s.sort((a, b) => a.show.localeCompare(b.show)));
	});

	async function addSpoilerConfig(show: Show) {
		if ($account) {
			const spoilerConfigs = $account.prefs.spoilerConfigs;
			if (!spoilerConfigs?.find(s => s.show === show.show)) {
				const seasons = show.seasons.reduce((acc, s) => {
					acc[s] = [];
					return acc;
				}, {} as Record<string, string[]>);
				const newConfig = { show: show.show, seasons };
				if (!spoilerConfigs)
					$account.prefs.spoilerConfigs = [newConfig];
				else
					$account.prefs.spoilerConfigs = [newConfig, ...spoilerConfigs];
				await accountClient.updatePrefs($account.prefs);
				dispatcher('create');
			}
		}
	}
	run(() => {
		if (selectedShow)
			addSpoilerConfig(shows.find(s => s.$id === selectedShow)!);
	});
</script>
<select class='select' disabled={shows.length===0} bind:value={selectedShow}>
	{#if shows.length === 0}
		<option value=''>Loading...</option>
	{:else}
		<option value=''>Select a show</option>
		{#each shows as show}
			<option value={show.$id}>{show.show}</option>
		{/each}
	{/if}
</select>