<script lang="ts">
  import { createBubbler } from 'svelte/legacy';

  const bubble = createBubbler();
  import { SlideToggle } from "@skeletonlabs/skeleton";

  let {
    shows = [],
    accent,
    activeType,
    title,
    preferences = $bindable({})
  } = $props();

</script>

<div class="flex-grow border border-surface-400 rounded md:mx-1 px-1 py-2 md:px-2 " onclick={bubble('click')}>
  <h2 class:text-surface-300={!activeType}>{title} {activeType?"":"(Inactive)"}</h2>
  <div class="md:grid md:grid-cols-3">

  {#each shows as show}
    <div>
      <SlideToggle size="sm" accent={activeType?accent:"bg-surface-700"} bind:checked={preferences[show]} on:change >{show}</SlideToggle>
    </div>
  {/each}
  </div>
</div>