<script lang='ts'>
	import { run } from 'svelte/legacy';

	import { faPlus } from '@fortawesome/pro-solid-svg-icons';
	import {Fa} from 'svelte-fa';
	import NewSpoilerSetting from './NewSpoilerSetting.svelte';
	import type { Show } from '$lib/types';
	import { onMount } from 'svelte';
	import { getShows } from '$lib/client/content';
	import { account } from '$lib/client/appwrite';
	import SpoilerSetting from './SpoilerSetting.svelte';

	let addNewSpoilerSetting = $state(false);
	let showsPromise: Promise<Show[]> = $state(new Promise(() => {
	}));

	onMount(() => {
		showsPromise = getShows();
	});
  run(() => {
    if($account?.prefs.spoilerConfigs)
      console.log($account.prefs.spoilerConfigs);
	});
</script>
<div class='p-4'>
	{#if !addNewSpoilerSetting}
		<button
			onclick={()=>addNewSpoilerSetting = true}
			class='flex justify-center py-3 lg:mx-10 rounded hover:bg-surface-500 text-2xl font-bold w-full items-center'>
			Add spoiler configuration
			<Fa icon={faPlus} class='inline-block mx-2' />
		</button>
	{:else}
		<NewSpoilerSetting on:create={()=>addNewSpoilerSetting=false} />
	{/if}
	{#if $account?.prefs.spoilerConfigs}
		{#await showsPromise}
			<p>Loading Shows</p>
		{:then shows}
			<div class='space-y-10'>
			{#each $account.prefs.spoilerConfigs as spoilerConfig (spoilerConfig.show)}
				{@const show = shows.find(s => s.show === spoilerConfig.show)}
				{#if show}
					<SpoilerSetting {show} />
				{/if}
			{/each}
			</div>
		{/await}
	{/if}
</div>
