<script lang='ts'>

	import type { Episode, Show, SpoilerConfig } from '$lib/types';
	import { onMount } from 'svelte';
  import { getPublicEpisodes } from '$lib/client/content';
	import { account, accountClient } from '$lib/client/appwrite';

	let spoilerConfig: SpoilerConfig = $state();
	onMount(() => {
		getPublicEpisodes(show.show).then(e => episodes = e);
		spoilerConfig = $account?.prefs.spoilerConfigs?.find(c => c.show == show.show) ?? {
			show: show.show,
			seasons: {}
		};
	});

	async function toggleEpisode(episode: Episode) {
		if (!spoilerConfig.seasons[episode.season]) {
			spoilerConfig.seasons[episode.season] = [];
		}
		const index = spoilerConfig.seasons[episode.season].findIndex(e => e === episode.episode);
		if (index === -1)
			spoilerConfig.seasons[episode.season] = [...spoilerConfig.seasons[episode.season], episode.episode];
		else
			spoilerConfig.seasons[episode.season] = [...spoilerConfig.seasons[episode.season].slice(0, index), ...spoilerConfig.seasons[episode.season].slice(index + 1)];
		let spoilerConfigs = $account?.prefs.spoilerConfigs;
		if (!spoilerConfigs || !$account)
			throw 'Invalid state, no spoiler configs';
		spoilerConfigs = spoilerConfigs.map(c => c.show == show.show ? spoilerConfig : c);
		await accountClient.updatePrefs({
			spoilerConfigs
		});
		$account.prefs.spoilerConfigs = spoilerConfigs;
	}

	async function deleteConfig() {
		let spoilerConfigs = $account?.prefs.spoilerConfigs;
		if (!spoilerConfigs || !$account)
			throw 'Invalid state, no spoiler configs';
		spoilerConfigs = spoilerConfigs.filter(c => c.show != show.show);
		await accountClient.updatePrefs({
			spoilerConfigs
		});
		$account.prefs.spoilerConfigs = spoilerConfigs;
	}

	async function selectAllInShow() {
		let spoilerConfigs = $account?.prefs.spoilerConfigs;
		if (!spoilerConfigs || !$account)
			throw 'Invalid state, no spoiler configs';
		for (let season of show.seasons) {
			spoilerConfig.seasons[season] = episodes.filter(e => e.season == season).map(e => e.episode);
		}
		spoilerConfigs = spoilerConfigs.map(c => c.show == show.show ? spoilerConfig : c);
		await accountClient.updatePrefs({
			spoilerConfigs
		});
		$account.prefs.spoilerConfigs = spoilerConfigs;
	}

	async function selectNoneInShow() {
		let spoilerConfigs = $account?.prefs.spoilerConfigs;
		if (!spoilerConfigs || !$account)
			throw 'Invalid state, no spoiler configs';
		for (let season of show.seasons) {
			spoilerConfig.seasons[season] = [];
		}
		spoilerConfigs = spoilerConfigs.map(c => c.show == show.show ? spoilerConfig : c);
		await accountClient.updatePrefs({
			spoilerConfigs
		});
		$account.prefs.spoilerConfigs = spoilerConfigs;
	}

	async function selectAllForSeason(season: string) {
		let spoilerConfigs = $account?.prefs.spoilerConfigs;
		if (!spoilerConfigs || !$account)
			throw 'Invalid state, no spoiler configs';
		spoilerConfig.seasons[season] = episodes.filter(e => e.season == season).map(e => e.episode);
		spoilerConfigs = spoilerConfigs.map(c => c.show == show.show ? spoilerConfig : c);
		await accountClient.updatePrefs({
			spoilerConfigs
		});
		$account.prefs.spoilerConfigs = spoilerConfigs;
	}

	async function selectNoneForSeason(season: string) {
		let spoilerConfigs = $account?.prefs.spoilerConfigs;
		if (!spoilerConfigs || !$account)
			throw 'Invalid state, no spoiler configs';
		spoilerConfig.seasons[season] = [];
		spoilerConfigs = spoilerConfigs.map(c => c.show == show.show ? spoilerConfig : c);
		await accountClient.updatePrefs({
			spoilerConfigs
		});
		$account.prefs.spoilerConfigs = spoilerConfigs;
	}

	interface Props {
		episodes?: Episode[];
		show: Show;
	}

	let { episodes = $bindable([]), show }: Props = $props();
</script>
<div class='border border-surface-600 p-2'>
	<div class='flex gap-x-2 items-center mb-2'>
		<p class='text-xl md:text-3xl'>{show.show}</p>
		<button class='btn hover:variant-ghost-primary' onclick={selectAllInShow}>Select All</button>
		<button class='btn hover:variant-ghost-primary' onclick={selectNoneInShow}>Select None</button>
		<button class='btn hover:variant-ghost-error' onclick={deleteConfig}>Remove Spoiler Config</button>
	</div>
	<div class='space-y-2 divide-y'>
	{#each show.seasons?.sort()||[] as season}
		<div class='border-dashed border-surface-400'>
			<div class='flex items-center'>
				<p class='text-lg md:text-xl'>{season}</p>
				<button class='btn hover:variant-ghost-primary' onclick={()=>selectAllForSeason(season)}>Select All</button>
				<button class='btn hover:variant-ghost-primary' onclick={()=>selectNoneForSeason(season)}>Select None</button>
			</div>
			<div class='flex flex-wrap gap-x-2'>
				{#each episodes.filter(e => e.season == season) as episode}
					<label class='flex items-center space-x-1 p-1 border border-surface-500 rounded-md'>
						<input class='checkbox' type='checkbox'
									 onclick={()=>toggleEpisode(episode)}
									 checked={!!(spoilerConfig.seasons[season]?.find(e=>e===episode.episode))}>
						<p>{episode.episode}</p>
					</label>
				{/each}
			</div>
		</div>
	{/each}
	</div>
</div>