<script lang="ts">
	interface Props {
		children?: import('svelte').Snippet;
	}

	let { children }: Props = $props();
</script>

<div class="w-full flex justify-center h-full bg-none">
{@render children?.()}
</div>