<script lang='ts'>
	import { preventDefault, stopPropagation } from 'svelte/legacy';

	import { goto } from '$app/navigation';
	import { Fa } from 'svelte-fa';
	import { faSpinnerThird } from '@fortawesome/pro-duotone-svg-icons';
	import { faGoogle } from '@fortawesome/free-brands-svg-icons';
	import { authenticate, googleSignIn } from '$lib/client/auth';
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';
  import { getContext, onMount } from 'svelte';


  const head:Writable<HeadData> = getContext('head')
	onMount(()=>{
    $head.title = 'Login';
		$head.description = 'Login to your account to access more features on the site like saving your favorite clips.';
	})
	async function usernameSignIn() {
		loggingIn = true;
		try {
			await authenticate(email, password);
			await goto('/');
		} catch (e) {
			error = e;
		} finally {
			loggingIn = false;
		}

	};

	function formatError(e) {
		if (e.message)
			return e.message;
	}

	let email=$state(''), password=$state(''), error = $state();
	let loggingIn = $state(false);
</script>

<div class='w-[500px] border drop-shadow-lg pb-5 my-auto border-surface-700 bg-surface-800 rounded'>
	<h3 class='w-full text-center mt-12'>Sign in to your account</h3>
	{#if error}
		<div class='alert-message bg-warning-500/40 border-warning-500 border-l-4'>
			<h3>Error signing in</h3>
			<span>{formatError(error)}</span>
		</div>
	{/if}
	<form onsubmit={stopPropagation(preventDefault(()=>usernameSignIn()))} class='mx-10 mt-5  space-y-2'>
		<label>
			Email
			<input bind:value={email} placeholder='Email' type='text' class='input' required disabled={loggingIn}>
		</label>
		<label>
			Password
			<input bind:value={password} placeholder='Password' type='password' class='input' required disabled={loggingIn}>
		</label>

		<div class='flex flex-col items-end'>
			{#if loggingIn}
				<button class='btn btn-base variant-filled-primary text-white rounded float-right' type='submit' disabled>Login&nbsp;
					<Fa icon={faSpinnerThird} spin='true' />
				</button>
			{:else}
				<button class='btn btn-base variant-filled-primary rounded ' type='submit'>Login</button>
			{/if}
		</div>
		<div class='flex flex-col items-end'><p>Don't have an account? <a href='/register'>Create One</a></p></div>
	</form>
	<div class='flex flex-row items-center mx-5'>
		<div class='flex-grow border'></div>
		<h6 class='my-3 mx-5'>OR</h6>
		<div class='flex-grow border'></div>
	</div>
	<div class='border p-3 shadow-sm hover:shadow-lg hover:bg-surface-700  mx-10 rounded cursor-pointer mb-5'
			 onclick={()=>googleSignIn().then(()=>goto("/"))}>
		<p>
			<Fa icon={faGoogle} class='inline-block text-surface-300 text-lg px-1' />
			Sign in with Google
		</p>
	</div>

</div>