<script lang='ts'>
  import { run } from 'svelte/legacy';


  import type { PageData } from './$types';
  import ViewportAwareMedia from '$lib/client/SubtitleCard/ViewportAwareMedia.svelte';
  import OverlaySvg from '../../OverlaySvg.svelte';
  import type { HeadData, SavedSubtitle } from '$lib/types';
  import { DEFAULT_CONFIGURATION, type SubtitleCardConfiguration, SubtitleData } from '$lib/client/SubtitleCard/types';
  import { downloadImage, SavedSubtitleDataExtractor } from '../../utils';
  import { isSmallScreen } from '$lib/client/stores';
  import { page } from '$app/stores';
  import Comments from '$lib/client/Comments.svelte';
  import { COLLECTIONS } from '$lib/firebase';
  import { getToastStore } from '@skeletonlabs/skeleton';
  import type { Writable } from 'svelte/store';
  import { getContext } from 'svelte';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let imageUrl = $derived(data.imageUrl || data.subtitle.subtitle.pngUrl);
  let svgElement: SVGElement = $state();
  const toastStore = getToastStore();
  const head:Writable<HeadData> = getContext('head')

	run(() => {
    $head.title = data.subtitle.title || data.subtitle.subtitle.text;
    $head.imageUrl = imageUrl;
	});


  function getSubtitleData(subtitle: SavedSubtitle) {
    return new SubtitleData(subtitle, SavedSubtitleDataExtractor) as SubtitleData<unknown>;
  }

  let aspectRatio = $state(16 / 9);
  run(() => {
    if (data.episode?.width && data.episode?.height) {
      aspectRatio = data.episode.width / data.episode.height;
    }
  });

  const cardConfiguration: SubtitleCardConfiguration = {
    ...DEFAULT_CONFIGURATION,
    mediaType: 'video',
    countHit: true,
    sourceSize: !($isSmallScreen),
		containerClasses: 'w-full'
  };
</script>
<svelte:head>
	<meta property='og:image' content={imageUrl} />
	<meta property='og:image:width' content='{data.episode.width||640}' />
	<meta property='og:image:height' content='{data.episode.height||480}' />
	<meta property='og:title' content={data.subtitle.title || data.subtitle.subtitle.text} />
</svelte:head>

<div class=' max-w-[1280px] mx-auto'>
	{#if data.subtitle.title}
		<p class='mb-2 text-6xl font-bold'>{data.subtitle.title}</p>
	{/if}

	<div class='relative isolate' style='aspect-ratio: {aspectRatio}'>
		{#if (data.subtitle.overlayElements?.length || 0) > 0}
			<OverlaySvg episode={data.episode} overlayElements={data.subtitle.overlayElements} bind:svgElement />
		{/if}
		<ViewportAwareMedia subtitleData={getSubtitleData(data.subtitle)}
												configuration={{...cardConfiguration,mediaContainerAspectRatio: aspectRatio,aspectRatio}} />
	</div>
	<button onclick={()=>downloadImage(data.subtitle,svgElement,toastStore)} class='btn variant-filled w-full my-2'>Download
		Image
	</button>
	<Comments parent={COLLECTIONS.PUBLIC_SAVED+"/"+$page.params.id} />
</div>
