<script lang="ts">
    import { preventDefault, stopPropagation } from 'svelte/legacy';

    import {Fa} from 'svelte-fa';
    import {faSpinnerThird} from "@fortawesome/pro-duotone-svg-icons";
    import { createUser } from '$lib/client/auth';
    import { goto } from '$app/navigation';
    import type { Writable } from 'svelte/store';
    import type { HeadData } from '$lib/types';
    import { getContext, onMount } from 'svelte';

    let registering = $state(false);


    const head:Writable<HeadData> = getContext('head')
		onMount(()=>{
      $head.title = 'Register';
      $head.description = 'Register for an account to access more features on the site like saving your favorite clips.';
		})

    async function register() {
       registering = true;
       try {
           await createUser(email, password);
           await goto('/');
       } catch (e) {
           error = e;
       } finally {
           registering = false;
       }
    }

    let email=$state(""), password=$state(""),  error=$state("");
</script>

<div class="w-[500px] border drop-shadow-lg pb-10 my-auto bg-surface-800 border-surface-700 rounded">
    <h3 class="w-full text-center mt-12">Register</h3>
    {#if error}
            <div class="alert-message bg-warning-500/40 border-warning-500 border-l-4" >
            <h3>Error registering your account</h3>
            <span>{error}</span>
            </div>
    {/if}
    <form onsubmit={stopPropagation(preventDefault(()=>register()))} class="mx-10 mt-5 space-y-2">
        <label>
            Email
            <input bind:value={email} placeholder="Email" type="text" class="input" required>
        </label>
        <label>
            Password
            <input bind:value={password} placeholder="Password" type="password" class="input" required>
        </label>
        <div class="flex flex-col items-end">
            {#if registering}
                <button class="btn btn-base variant-filled-primary text-white rounded float-right" type="submit" disabled>
                    Register&nbsp;
                    <Fa icon={faSpinnerThird} spin="true"/>
                </button>
            {:else}
                <button class="btn btn-base variant-filled-primary text-white rounded " type="submit">Register</button>
            {/if}
        </div>
    </form>

</div>