<script lang='ts'>
	import type { PageData } from './$types';
	import type { ArticleListing } from '../types';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();

	function getTimeToPublish(articleListing:ArticleListing):{days:number,hours:number}{
		const now = new Date();
		const publishDate = new Date(articleListing.publishedUtc);
		const diff = publishDate.getTime() - now.getTime();
		const days = Math.floor(diff / (1000 * 60 * 60 * 24));
		const hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		return {days,hours};
	}
</script>
<div class='mx-4'>
	{#each data.articles as articleListing}
		{@const timeToPublish = getTimeToPublish(articleListing)}
		<a href='/article/{articleListing.repoId}'>
			<span class='w-[2rem] text-surface-400 inline-block text-end'>{timeToPublish.days}d</span>
			<span class='w-[2rem] text-surface-400 inline-block text-end'>{timeToPublish.hours}h</span>
			<span>{articleListing.title}</span>
		</a>
		<p> </p>
		<p></p>
		{/each}

</div>
