<script lang="ts">
  import { onMount } from "svelte";
  import type { EditOutcome, SameActor } from "./types";
  import type { ModalComponent, ModalSettings } from "@skeletonlabs/skeleton";
  import EditActorRoleModal from "./EditActorRoleModal.svelte";
  import { getModalStore } from "@skeletonlabs/skeleton";
  import { SERVER_URL } from "$lib/constants";

  const modalStore = getModalStore();
  let actors = $state([]);
  let { data } = $props();
  onMount(() => {
    fetch(`${SERVER_URL}/v2/actor/same-actor/${data.subtitle.show}`, { headers: { accept: "application/json" } ,credentials:"include"}).then(r => r.json())
      .then((sameActors: Array<SameActor>) => {
        const actorMap: Record<string, Array<SameActor>> = {};
        for (let sameActor of sameActors) {
          actorMap[sameActor.actorName] = [...(actorMap[sameActor.actorName] || []), sameActor];
        }
        actors = Object.values(actorMap).sort((s1, s2) => s1[0].actorName.localeCompare(s2[0].actorName));
      });
  });

  async function editRole(actor: SameActor, show, character) {
    const actorName = actor.actorName;
    const component: ModalComponent = {
      ref: EditActorRoleModal,
      props: { actor: actorName, character, show }
    };
    const clearRecord = () => {
      if (actor.originalShow === show) {
        actor.originalShowCharacters = actor.originalShowCharacters.filter(c => c != character);
      } else {
        actor.otherShowCharacters = actor.otherShowCharacters.filter(c => c != character);
      }
    };

    const renameCharacter = (newName:string) => {
      if (actor.originalShow === show) {
        actor.originalShowCharacters = [...actor.originalShowCharacters.filter(c => c != character),newName];
      } else {
        actor.otherShowCharacters = [...actor.otherShowCharacters.filter(c => c != character),newName];
      }
    }
    const settings: ModalSettings = {
      type: "component",
      component,
      response(r:EditOutcome) {
        if (r.type==="delete")
          clearRecord();
        else if(r.type==='renameCharacter')
          renameCharacter(r.newName);
        actors = [...actors];
      }
    };
    modalStore.trigger(settings);
  }

  function getCharacterImageUrl(showName, characterName): string {
    return `${SERVER_URL}/v1/content/character/${encodeURIComponent(showName)}/${encodeURIComponent(characterName)}.png`;
  }
</script>

<div class="container mx-auto space-y-10">
  {#each actors as actor}
    <div>
      <h2 class="text-tertiary-300-600-token">{actor[0].actorName}</h2>
      <div>
        <h3>{actor[0].originalShow}</h3>
        <div class="flex flex-wrap gap-2">
          {#each actor[0].originalShowCharacters as character (character)}
            <div>
              <img loading="lazy" style="height:300px" class="mx-auto"
                   src={getCharacterImageUrl(actor[0].originalShow,character)}>
              <div class="pt-2 flex justify-around items-center">
                <b>{character}</b>
                <button class="btn variant-ghost-tertiary"
                        onclick={()=>editRole(actor[0],actor[0].originalShow,character)}>Edit
                </button>
              </div>
            </div>
          {/each}
        </div>
      </div>
      {#each actor as a}
        <div>
          <h3>{a.otherShow}</h3>
          <div class="flex flex-wrap gap-2">
            {#each a.otherShowCharacters as character (character)}
              <div>
                <img loading="lazy" style="height:300px" class="mx-auto"
                     src={getCharacterImageUrl(a.otherShow,character)}>
                <div class="pt-2 flex justify-around items-center">
                  <b>{character}</b>
                  <button class="btn variant-ghost-tertiary" onclick={()=>editRole(a,a.otherShow,character)}>Edit
                  </button>
                </div>
              </div>
            {/each}
          </div>
        </div>
      {/each}
    </div>
  {/each}
</div>
