<script lang="ts">

  import { getModalStore, RadioGroup, RadioItem } from "@skeletonlabs/skeleton";
  import { SERVER_URL } from "$lib/constants";

  const modalStore = getModalStore();
  interface Props {
    actor: string;
    show: string;
    character: string;
    characterRole: string;
  }

  let {
    actor,
    show,
    character = $bindable(),
    characterRole = $bindable()
  }: Props = $props();

  let actorRename: string | undefined = $state();
  let characterRename: string | undefined = $state();
  let roleChange=$state(false);

  async function saveRule(ruleType: string, option?: string) {
    const body = { actor, character, show, type: ruleType, option };
    await fetch(`${SERVER_URL}/v1/actor/rule`, {
      credentials:'include',
      method: "POST",
      body: JSON.stringify(body),
      headers: { "content-type": "application/json" }
    });
  }

  async function markDuplicate() {
    await saveRule("IS_DUPLICATE");
    if ($modalStore[0].response)
      $modalStore[0].response({ type: "delete" });
    modalStore.close();
  }

  function renameActor() {
    actorRename = actor;
  }

  function renameCharacter() {
    characterRename = character;
  }

  async function saveActorRename() {
    const body = { originalName: actor, correctName: actorRename };
    await fetch(`${SERVER_URL}/v1/actor/rename`, {
      credentials:'include',
      method: "POST",
      body: JSON.stringify(body),
      headers: { "content-type": "application/json" }
    });
    actorRename = undefined;
    modalStore.close();
  }

  async function saveCharacterRename() {
    await saveRule("RENAME_CHARACTER", characterRename);
    character = characterRename!;
    characterRename = undefined;
    if ($modalStore[0].response)
      $modalStore[0].response({ type: "renameCharacter", newName: character });
    modalStore.close();
  }

  async function saveRole(){
    await saveRule("SET_CHARACTER_ROLE",characterRole);
    roleChange=false;
    if ($modalStore[0].response)
      $modalStore[0].response({ type: "setCharacterRole", newRole: characterRole });
    modalStore.close();

  }
</script>
<div class="card">

  <button class="btn variant-ghost-tertiary"
          onclick={()=>markDuplicate()}>Is Duplicate
  </button>
  <button class="btn variant-ghost-tertiary"
          onclick={()=>renameActor()}>Rename Actor
  </button>
  <button class="btn variant-ghost-tertiary"
          onclick={()=>renameCharacter()}>Rename Character
  </button>

  <RadioGroup >
    <RadioItem bind:group={characterRole} value="main" name="character-role" on:click={()=>roleChange=true}>Main</RadioItem>
    <RadioItem bind:group={characterRole} value="major" name="character-role" on:click={()=>roleChange=true}>Major</RadioItem>
    <RadioItem bind:group={characterRole} value="supporting" name="character-role" on:click={()=>roleChange=true}>Supporting</RadioItem>
    <RadioItem bind:group={characterRole} value={undefined} name="character-role" on:click={()=>roleChange=true}>Side Character</RadioItem>
  </RadioGroup>

  {#if actorRename}
    <div>
      <label for="{actor}-rename-input">Actor Name</label>
      <input id="{actor}-rename-input" class="input" type="text" bind:value={actorRename}>
      <button class="btn variant-filled-primary" onclick={saveActorRename}>Rename</button>
    </div>
  {/if}
  {#if characterRename}
    <div>
      <label for="{character}-rename-input">Character Name</label>
      <input id="{character}-rename-input" class="input" type="text" bind:value={characterRename}>
      <button class="btn variant-filled-primary" onclick={saveCharacterRename}>Rename</button>
    </div>
  {/if}

  {#if roleChange}
    <div>
      <button class="btn variant-filled-primary" onclick={saveRole}>Save Role</button>
    </div>
  {/if}
</div>