<script lang='ts'>
  import SvgCircle from '$lib/client/SvgCircle.svelte';
  import { Fa } from 'svelte-fa';
  import { faChevronRight, faSearch } from '@fortawesome/pro-solid-svg-icons';
  import Breadcrumb from '$lib/client/Breadcrumb.svelte';
  import {  showPosterUrl } from '$lib/client/content';
  import type { Episode, Show } from '$lib/types';
  import { onMount } from 'svelte';
	import type { PageData } from './$types';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();
  let show: Show = $state(data.show);
  let episodes: Episode[] = $state(data.episodes);

  onMount(()=>{
			show = data.show;
      episodes = data.episodes;
	})

</script>
<div class='m-3 space-y-5'>
		<Breadcrumb
			breadcrumbs={[{href:'/shows',name:'Shows'},{name: show.show,href: '/shows/'+encodeURIComponent(show.show)},{name: 'Episodes',href: '/shows/'+encodeURIComponent(show.show)+'/episodes'}]} />
		<div class='flex gap-x-4'>
			<img class='h-[400px] rounded hidden md:block' src={showPosterUrl(show)} alt={show.show} />
			<div class='space-y-1'>
				<p class='font-bold text-4xl'>{show.show}</p>
				<p>{show.year}</p>
				<p>
					{#each show.tags as tag}
						<a class='text-surface-400 hover:underline' href='/search?q=%23{tag}'>#{tag} </a>
					{/each}
				</p>
				<p class='text-surface-400'>{episodes.length} Episodes</p>
				<p class='text-surface-400'>{show.summary}</p>
				<div class='flex gap-x-1.5 pt-1.5'>
					<a href='/search/show/{encodeURIComponent(show.show)}?show={encodeURIComponent(show.show)}'
						 class='btn variant-ghost'>
						<Fa icon={faSearch} class='pr-1.5' />
						Search
					</a>
				</div>
			</div>
		</div>
		<div class='divide-y'>
			{#each episodes as episode}
				<div class='p-3 flex relative justify-between border-surface-500 hover:bg-surface-700 items-center'>
					<a class='inset-0 absolute' href='/shows/{encodeURIComponent(show.show)}/{encodeURIComponent(episode.id)}'><span
						class='sr-only'>{episode.title}</span></a>
					<div class='leading-5'>
						<p>{episode.title}</p>
						<p class='text-surface-400 flex items-center gap-x-2 text-sm'>
							<span>{episode.season}</span>
							<SvgCircle />
							<span>Episode {episode.episode}</span>
							<SvgCircle />
							<span>{episode.subtitleCount} Subtitles</span>
						</p>
					</div>
					<Fa icon={faChevronRight} class='text-xl ml-3' />
				</div>

			{/each}
		</div>
</div>
