<script lang='ts'>
  import type { PageData } from './$types';
  import Section from './Section.svelte';
  import { page } from '$app/stores';
  import { COLLECTIONS } from '$lib/firebase';
  import Comments from '$lib/client/Comments.svelte';
  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';
  import { getContext, onMount } from 'svelte';
	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();
  let pick = data.pick;
  const head:Writable<HeadData> = getContext('head')
	onMount(() => {
		$head.title = pick.title;
    $head.description = pick.tags.join(", ");
	});


</script>
<div class='mx-2 lg:mx-auto max-w-full lg:max-w-[1024px]'>
	<div class='flex flex-col gap-y-5 '>
		<div>
			<p class='font-bold text-3xl'>{pick.title}</p>
			<p class='text-sm text-surface-400'>Authored by: {pick.authoredBy}</p>
			<p class='text-sm text-surface-400'>Published on: {new Date(pick.publishedDate).toLocaleTimeString()}</p>
		</div>
		{#each pick.sections as section}
			<Section {section} />
		{/each}
	</div>
	<Comments parent={COLLECTIONS.EDITOR_PICKS+"/"+$page.params.id} />
</div>
