<script lang='ts'>
  import type { Section } from '../types';
  import SubtitleSection from './SubtitleSection.svelte';
  import TextSection from './TextSection.svelte';
  import TwoColumnSection from './TwoColumnSection.svelte';

	interface Props {
		section: Section;
	}

	let { section }: Props = $props();
</script>
<div>
	{#if section.type === 'text' && section.text}
		<TextSection {section} />
	{:else if section.type === 'subtitle' && section.subtitle}
		<SubtitleSection {section} />
	{:else if section.type === 'two-column' && section.left && section.right}
		<TwoColumnSection {section} />
	{/if}
</div>
