<script lang='ts'>
  import type { SubtitleSection } from '../types';
  import type { ContextualSubtitle } from '$lib/types';
  import {
    ContextSubtitleDataExtractor,
    DEFAULT_CONFIGURATION,
    type SubtitleCardConfiguration,
    SubtitleData
  } from '$lib/client/SubtitleCard/types';
  import SubtitleCard from '$lib/client/SubtitleCard/SubtitleCard.svelte';
  import { isSmallScreen } from '$lib/client/stores';

  interface Props {
    section: SubtitleSection;
  }

  let { section }: Props = $props();

  function getMediaData(subtitle: ContextualSubtitle): {
    configuration: SubtitleCardConfiguration,
    subtitleData: SubtitleData<unknown>
  } {
    return {
      configuration: { ...DEFAULT_CONFIGURATION,cardClasses:'w-full max-w-[800px] mx-auto', sourceSize: !isSmallScreen },
      subtitleData: new SubtitleData(subtitle, ContextSubtitleDataExtractor) as SubtitleData<unknown>
    };
  }
</script>
<div class='relative'>
<SubtitleCard {...getMediaData(section.subtitle)} />
</div>
