<script lang='ts'>
  import type { TextSection } from '../types';

  interface Props {
    section: TextSection;
  }

  let { section }: Props = $props();
</script>
<p class='whitespace-pre-wrap'>{section.text}</p>