<script lang='ts'>
  import type { TwoColumnSection } from '../types';
  import Section from './Section.svelte';

	interface Props {
		section: TwoColumnSection;
	}

	let { section }: Props = $props();
</script>

<div class='grid grid-cols-1 gap-2 lg:grid-cols-2'>
	<Section section={section.left}/>
	<Section section={section.right}/>
</div>