<script lang="ts">
  import Collections from "$lib/client/collection/Collections.svelte";


</script>

  <div data-popup="collections-menu" class="z-10">
    <div class="card p-2">
      <Collections />
    </div>
  </div>