<script lang="ts">
  import { account } from "$lib/client/appwrite";
  import {
    addToCollection,
    type Collection,
    createCollection,
    getCollectionsPromise,
    subtitleStore
  } from "$lib/client/collection/Collection";
  import { getModalStore, getToastStore } from "@skeletonlabs/skeleton";
  import { user } from '$lib/client/auth';
  const modalStore = getModalStore();
  const toastStore = getToastStore();

  let filterInput = $state("");

  function filterFunction(filter): (collection: Collection) => boolean {
    if (!filter || filter === "") return (() => true);
    return (collection: Collection) => collection.name.toLowerCase().includes(filter.toLowerCase());
  }
</script>
{#if $user}
  {#await getCollectionsPromise($user) then collections}
    <input class="input text-sm my-2" type="search" bind:value={filterInput} placeholder="Collection Search">
    <div class="divide-y divide-surface-500 space-y-2 md:space-y-0 max-h-[300px] overflow-y-auto">
      <div class="flex hover:bg-surface-600 px-1 relative">
        <button class="inset-0 collection-add-item cursor-pointer absolute"
           onclick={()=>createCollection($subtitleStore,$user.uid,modalStore,toastStore)}></button>
        <p>+ Create Collection</p>
      </div>
      {#each collections.filter(filterFunction(filterInput)) as collection}
        <div class="flex hover:bg-surface-600 px-1 relative overflow-x-hidden">
          <button class="inset-0 collection-add-item cursor-pointer absolute"
             onclick={()=>addToCollection(collection,$subtitleStore,$user.uid,toastStore,modalStore)}></button>
          <p class="whitespace-nowrap text-ellipsis">{collection.name}</p>
        </div>
      {/each}
    </div>
  {/await}
{:else}
  <p>Not logged in</p>
{/if}