<script lang='ts'>
  import { getModalStore, getToastStore } from '@skeletonlabs/skeleton';
  import type { Collection } from '$lib/client/collection/Collection';
  import { user } from '$lib/client/auth';
  import { collection, getFirestore,addDoc } from '@firebase/firestore';
  import { app } from '$lib/client/firebase';
  import { COLLECTIONS } from '$lib/firebase';

  const toastStore = getToastStore();
  const modalStore = getModalStore();

  async function createCollection() {
    loading = true;
    try {
      if (!$user) {
        toastStore.trigger({ background: 'bg-error-500', message: `You must be logged in to create a collection` });
        return;
      }
      const newCollection: Collection = {
        name,
        createdBy: $user.uid
      } as Collection;
      const addResponse = await addDoc(collection(getFirestore(app), COLLECTIONS.COLLECTIONS), newCollection);
      const c = { ...newCollection, id: addResponse.id };
      if ($modalStore[0].response)
        $modalStore[0].response(c);
      modalStore.close();
      toastStore.trigger({ background: 'bg-success-500', message: `Collection ${name} successfully created` });
    } finally {
      loading = false;
    }
  }

  let loading = $state(false);
  let name = $state('');
</script>
<div class='card p-3'>

	<div class='space-y-3 '>
		<h2>Create a new collection</h2>
		{#if !loading}
			<input type='text' class='input' placeholder='Collection Name' bind:value={name} />
			<div class='flex justify-end'>
				<button class='btn variant-filled-primary' onclick={createCollection}>Create Collection</button>
			</div>
		{:else}
			<input type='text' placeholder='Collection Name' disabled bind:value={name} />
			<div class='flex justify-end'>
				<button class='btn variant-filled-primary' disabled>Create Collection</button>
			</div>
		{/if}
	</div>
</div>
