
<div class="w-full">
  <div class="flex flex-col items-center gap-y-3">
    <iframe
      src="https://app.datadoghq.com/graph/embed?token=64f761df553dc0281031ab7e4012a2a3a9781ab64cb302078321a459cf924921&height=500&width=1000&legend=true"
      width="1000" height="500" frameborder="0"></iframe>
    <iframe
      src="https://app.datadoghq.com/graph/embed?token=c15ccfcd8685fb964942903d65437731f942bb84529780448285473d98befaa6&height=500&width=1000&legend=true"
      width="1000" height="500" frameborder="0"></iframe>
  </div>
</div>
