<script lang='ts'>
  import Heading from '../Heading.svelte';
  import Navigation from '../Navigation.svelte';
  import Tags from './Tags.svelte';
  import type { PageData } from './$types';
  import type { Show } from '$lib/types';
  import AllSubtitles from './AllSubtitles.svelte';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let show = data.show as Show;


</script>
<Heading {show} episodes={[]} />
<div class='border-t border-white/10 pt-11'>
	<div class='mb-5'>
		<Navigation active='details' {show} />
	</div>
</div>
<div class='flex gap-4'>
	<Tags {show} />
</div>
<AllSubtitles {show} episodes={data.adminEpisodes}/>
