<script lang="ts">

  import type { Episode, Show, Subtitle } from '$lib/types';
  import { SERVER_URL } from '$lib/constants';

  interface Props {
    episodes: Episode[];
    show: Show;
  }

  let { episodes, show }: Props = $props();
  let markdown = $state("");

  async function generate(){
    markdown = `# ${show.show}\n\n${show.summary}\n\n`;
    for (let episode of episodes) {
      let dialogue = "";
      for(let subtitle of await getSubtitles(episode)){
        if(subtitle.shouldIndex){

        if(subtitle.name && subtitle.name.toLowerCase()!=='ntp')
          dialogue = dialogue + `${subtitle.name}: ${subtitle.text}\n`;
        else
          dialogue = dialogue + `${subtitle.text}\n`;
        }
			}
			markdown = markdown + `##${episode.season} E${episode.episode}: ${episode.title}\n\n${episode.summary}\n\n${dialogue}\n\n`;
    }
	}


  async function getSubtitles(episode: Episode): Promise<Subtitle[]> {
    const url = `${SERVER_URL}/v2/subtitle/episode/${encodeURIComponent(episode.show)}-${episode.season}-${episode.episode}`;
    const response = await fetch(url);
    return await response.json();
  }
</script>
<button class='btn variant-filled-primary' onclick={generate}>Generate</button>
<textarea class='w-full h-96 input' bind:value={markdown} disabled></textarea>