<script lang='ts'>
  import { run } from 'svelte/legacy';

  import { SERVER_URL } from '$lib/constants';
  import type { Show } from '$lib/types';
  import { getToken } from '$lib/client/auth';
  import { Fa } from 'svelte-fa';
  import { faTrash } from '@fortawesome/pro-solid-svg-icons';

  interface Props {
    show: Show;
  }

  let { show = $bindable() }: Props = $props();
  let newTagText = $state('');

  run(() => {
    if (newTagText.match(/[A-Z]/)) newTagText = newTagText.toLowerCase();
  });

  async function updateTag(tag: string, remove: boolean) {
    const token = await getToken();
    await fetch(`${SERVER_URL}/v1/tag/show`, {
      method: 'POST',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${token}`
      },
      body: JSON.stringify({
        show: show.show,
        tag,
        remove
      })
    });
    newTagText = '';
    if (remove)
      show.tags = show.tags.filter(t => t !== tag);
    else
      show.tags = [...show.tags, tag];
  }
</script>

<div class='w-80 border border-surface-500 rounded p-2'>
	<p class='text-xl font-bold'>Tags</p>
	<form class='input-group input-group-divider grid-cols-[1fr_auto] my-1' onsubmit={()=>updateTag(newTagText,false)}>
		<input class='input' type='text' placeholder='Tag' bind:value={newTagText}>
		<button class='variant-filled-primary' type='submit'>Add Tag</button>

	</form>
	<ul class='grid grid-cols-[1fr_auto]'>
		{#each show.tags as tag}
			<p>{tag}</p>
			<button onclick={()=>updateTag(tag,true)}>
				<Fa icon={faTrash} />
			</button>
		{/each}
	</ul>
</div>