<script lang='ts'>
	import { run } from 'svelte/legacy';


	import {
		ARTICLE_FORMAT,
		getChat,
		getEpisodeContextItems,
		parseArticle,
		type ParsedEpisodeArgs
	} from '$lib/aiUtilitiles';
	import type { EpisodeContext, EpisodeSummary } from '../description/types';
	import type { Episode } from '$lib/types';
	import type { Article as ArticleType } from '../../../../../../article/types';
	import Article from '../../../../../../article/Article.svelte';
	import { downloadJson } from '$lib/utilities';
	import Navigation from '../Navigation.svelte';
	import { localStorageStore } from '@skeletonlabs/skeleton';
	import type {PageData} from './$types'
  import type { AdminEpisode } from '../../../../../types';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();

	let episode = data.adminEpisode as AdminEpisode;
	let episodeSummary: EpisodeContext | undefined = $state();
	let releaseInDays = localStorageStore('releaseInDays', 1,{storage:'session'});
	const { append, messages,isLoading } = getChat(undefined, true);
	let parsedArticle: ArticleType | undefined = $state();


	async function loadEpisodeSummary(episode: Episode) {
		episodeSummary = await getEpisodeContextItems(undefined, episode satisfies ParsedEpisodeArgs);
	}

	function getPrompt(episode: Episode, episodeSummary: EpisodeSummary) {
		return `Write an engaging review of Season ${episode.season}, Episode ${episode.episode}, of the anime series "${episode.show}". Imagine you've just finished watching this episode and you're discussing it with fellow anime enthusiasts who value deep insights and thoughtful analysis. Your review should take approximately 20 minutes to read, reflecting a thorough exploration.

In your article:
- Adopt a conversational and reflective tone, as if sharing your thoughts with a friend who is equally passionate about anime.
- Delve into the themes and character development observed in this episode. Pick out nuances and subtleties that might not be apparent at first glance.
- Share your personal opinions—whether critical or commendatory—about the narrative direction and the storytelling techniques used in this episode.
- Speculate about future developments in the series. What are your predictions or hopes for where the story might head next?
- Dare to challenge the reader’s expectations. Maybe contradict popular opinion or highlight an overlooked aspect of the show.

Use the formative points from the provided episode summary not as a rigid guideline, but as a springboard to enrich your narrative. Aim to produce a review that not only informs but also entertains and provokes thought among your readers.
${ARTICLE_FORMAT}

Title: ${episode.title}
Summary:
${getFormattedDetails(episodeSummary)}
  `.trim();
	}

	function getFormattedDetails(episodeContext:EpisodeContext){
		return episodeContext.generatedSummary.split("\n")
			.filter(line=>!line.includes("**"))
			.join("\n")
	}

	function generateReview() {
		if (episode && episodeSummary) {
			const prompt = getPrompt(episode, episodeSummary);
			append({ role: 'user', content: prompt });
		}
	}

	function continueReview() {
		append({ role: 'user', content: 'Continue' });
	}

	function downloadReview(){
		parsedArticle.id = `${episode.show}-${episode.season}-${episode.episode}-review`.toLowerCase();
		downloadJson(parsedArticle,`${parsedArticle.id}.json`);
	}
	run(() => {
		if (episode && episodeSummary) {
			parsedArticle = parseArticle($messages, $releaseInDays, {
				show: episode.show,
				thesis: 'write a review',
				points: [getPrompt(episode, episodeSummary)]
			});
		}
	});
	run(() => {
		if (episode) {
			loadEpisodeSummary(episode);
		}
	});
</script>
<Navigation active='review'/>
{#if episode && episodeSummary}
	<p class='bg-surface-600 p-2 rounded whitespace-pre-wrap max-h-52 overflow-y-auto'>{getPrompt(episode, episodeSummary)}</p>
	<div class='flex my-2 gap-x-1'>
	<button class='btn variant-filled-primary' onclick={generateReview}>Generate Review</button>
	<button class='btn variant-filled-primary' onclick={continueReview}>Continue Review</button>
		<div class='flex '>
			<label for='release-in-days'>Release in days</label>
		<input id='release-in-days' type='number' class='input' bind:value={$releaseInDays}>
		</div>
	</div>
{/if}
{#if parsedArticle && parsedArticle.title}
	<Article article={parsedArticle} editable={!$isLoading} />
	<button class='btn variant-filled-primary' onclick={downloadReview}>Download Review</button>
{/if}
