<script lang="ts">

  import type { Writable } from 'svelte/store';
  import type { HeadData } from '$lib/types';
  import { getContext, onMount } from 'svelte';
  import type { LayoutData } from './$types';

  interface Props {
    data: LayoutData;
    children?: import('svelte').Snippet;
  }

  let { data, children }: Props = $props();
  const head:Writable<HeadData> = getContext('head')
	onMount(() => {
		$head.title = data.show.show;
		$head.description = data.show.summary;
    $head.imageUrl = data.show.posterUrl;
	});
</script>
{@render children?.()}