<script lang='ts'>
  import type { Show } from '$lib/types';
  import { onMount } from 'svelte';
  import type { Subtitle } from '$lib/types';
  import { SERVER_URL } from '$lib/constants';
  import SubtitleCarousel from '$lib/client/SubtitleCarousel.svelte';
  import Poster from './Poster.svelte';
  import Breadcrumb from '$lib/client/Breadcrumb.svelte';
	import type { PageData } from './$types';
  import { SubtitleData, SubtitleDataExtractor } from '$lib/client/SubtitleCard/types';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();

  let show: Show = $state();
  let popularSubtitles: SubtitleData<unknown>[] = $state([]);

  onMount(() => {
    show = data.show;
    loadData();
  });

  async function loadData() {
    const subtitles = await fetch(`${SERVER_URL}/v1/show/${encodeURIComponent(show.show)}/popular`)
			.then(r => r.json() as Promise<Subtitle[]>);
    popularSubtitles = subtitles.map(clip => new SubtitleData(clip, SubtitleDataExtractor) as SubtitleData<unknown>);
  }

</script>
<div class='m-3 space-y-5'>
	{#if show}
		<Breadcrumb
			breadcrumbs={[{href:'/shows',name:'Shows'},{name: show.show,href: '/shows/'+encodeURIComponent(show.show)}]} />
		<Poster show={show} />
		<div>
			<p>Synopsis</p>
			<p class='text-surface-400'>{show.summary}</p>
		</div>
		<div class='space-y-2'>
			<p>Popular Clips</p>
			<SubtitleCarousel subtitles={popularSubtitles} />
		</div>
	{/if}
</div>
