<script lang='ts'>
	import { faSearch } from '@fortawesome/pro-solid-svg-icons';
	import { Fa } from 'svelte-fa';
	import type {  Show } from '$lib/types';
  import { showPosterUrl } from '$lib/client/content';

	interface Props {
		show: Show;
	}

	let { show }: Props = $props();


</script>
<div class='flex gap-x-4 '>
	<img class='h-[400px] rounded hidden md:block' src={showPosterUrl(show)} alt={show.show} />
	<div class='space-y-3'>
		<p class='font-bold text-4xl'>{show.show}</p>
		<p>Release Year: {show.year}</p>
		<div class='flex gap-x-2'>
			{#each show.tags as tag}
				<a class='chip variant-filled hover:underline' href='/search?q=%23{tag}'>#{tag} </a>
			{/each}
		</div>

		<div class='flex gap-x-1.5 pt-1.5'>
			<a href='/search/show/{encodeURIComponent(show.show)}?show={encodeURIComponent(show.show)}' class='btn variant-ghost'>
				<Fa icon={faSearch} class='pr-1.5' />
				Search
			</a>
			<a href='/shows/{encodeURIComponent(show.show)}/episodes' class='btn variant-ghost'>
				{show.indexedEpisodeCount} Episodes
			</a>
		</div>
	</div>
</div>
