@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
/*place global styles here */
html, body { @apply h-full overflow-hidden; }

.detail-container {
    @apply bg-surface-600/40 py-1 px-0.5 rounded;
}

.japanese-text {
    font-family: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}