<script lang='ts'>
  import type { HeadData, Subtitle } from '$lib/types';
  import { getContext, onMount } from 'svelte';
  import { getRandomSubtitles } from '$lib/client/content';
  import SubtitleGrid from '$lib/client/SubtitleGrid.svelte';
  import { SubtitleData, SubtitleDataExtractor } from '$lib/client/SubtitleCard/types';
  import { isSmallScreen } from '$lib/client/stores.js';
  import type { Writable } from 'svelte/store';

  let subtitles: SubtitleData<unknown>[] = $state([]);
	const ids = new Set<string>();
  const head:Writable<HeadData> = getContext('head')
  onMount(() => {
    loadNextPage();
    $head.title = 'Random Clips';
  });

  async function loadNextPage() {
    const newSubtitles:Subtitle[] = (await getRandomSubtitles($isSmallScreen?10:30))
			.filter(clip => !ids.has(clip.id) && ids.add(clip.id));
    const subtitleData = newSubtitles
			.map(clip => new SubtitleData(clip,SubtitleDataExtractor) as SubtitleData<unknown>);
    subtitles = [...subtitles, ...subtitleData];
  }
</script>
<SubtitleGrid clips={subtitles} on:loadMore={loadNextPage}/>