<script lang='ts'>
	import Quiz from './Quiz.svelte';
	import type { PageData } from './$types';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();
</script>
<svelte:head>
	<title>{data.quiz.title}</title>
</svelte:head>

	<div class='mx-5 my-4'>
		<Quiz quiz={data.quiz} />
	</div>
	<div class='mx-5'>
		<a class='btn variant-glass-primary w-full lg:w-auto' href='/quiz/{encodeURIComponent(data.nextQuiz.episodeId)}'>Try another quiz for {data.quiz.show}</a>
	</div>
