<script lang='ts'>

	import type { Quiz } from '$lib/types';
	import QuizQuestion from './QuizQuestion.svelte';

	interface Props {
		quiz: Quiz;
	}

	let { quiz }: Props = $props();
</script>
<h1 class='font-bold text-4xl'>{quiz.title}</h1>
<div class='md:grid xl:grid-cols-2 3xl:grid-cols-3 gap-6 justify-center my-10'>
{#each quiz.questions as quizQuestion (quizQuestion.id)}
	<QuizQuestion {quizQuestion} {quiz}/>
{/each}
</div>
