<script lang='ts'>
	import { run } from 'svelte/legacy';

	import type { QuizQuestion, Quiz } from '$lib/types';
	import { RadioGroup, RadioItem } from '@skeletonlabs/skeleton';
	import { Fa } from 'svelte-fa';
	import { faThumbsDown, faThumbsUp } from '@fortawesome/pro-solid-svg-icons';
	import { getDb } from '$lib/client/db';
	import { onMount } from 'svelte';

	interface Props {
		quizQuestion: QuizQuestion;
		quiz: Quizl;
	}

	let { quizQuestion, quiz }: Props = $props();
	let selected: string | undefined = $state();
	let attemptCount = $state(1);

	onMount(() => {
		getDb().answeredQuizQuestion.get(quizQuestion.id).then(a => {
			if (a) {
				selected = a.selected;
				attemptCount = a.attemptCount;
			}
		});
	});

	run(() => {
		if (selected) {
			getDb().answeredQuizQuestion.put({ ...quizQuestion, selected, attemptCount: attemptCount++ });
		}
	});
</script>
<style lang='postcss'>
    .response-container {
        @apply flex gap-x-2 justify-center items-center  p-2 bg-surface-500/30 border-surface-500 border rounded  flex-none;
        @apply w-full md:w-[220px] mt-3 md:mt-0 md:ml-4;
    }

    .response-container.correct {
        @apply bg-success-500/30 border-success-500;
    }

    .response-container.incorrect {
        @apply bg-error-500/30 border-error-500;
    }
</style>
<div class='py-3 border-b border-surface-400'>
	<a class='font-bold text-xl' href='/quiz/{encodeURIComponent(quiz.id)}/{quizQuestion.id}'>{quizQuestion.question}</a>
	<div class='my-2 flex flex-col md:flex-row w-full'>
		<RadioGroup flexDirection='flex-col w-full'>
			{#each quizQuestion.choices as choice}
				<RadioItem bind:group={selected} value={choice}>{choice}</RadioItem>
			{/each}
		</RadioGroup>

		<div class='response-container h-full'
				 class:correct={selected&&selected===quizQuestion.answer}
				 class:incorrect={selected&&selected!==quizQuestion.answer}
		>
			{#if selected && selected === quizQuestion.answer}
				<Fa icon={faThumbsUp} size='2x' class='text-green-500' />
				<div class='text-green-500 ml-2 text-4xl'>Correct!</div>
			{:else if selected}
				<Fa icon={faThumbsDown} size='2x' class='text-red-500' />
				<div class='text-red-500 ml-2 text-4xl'>Incorrect!</div>
			{:else}
				<Fa icon={faThumbsDown} size='2x' class='opacity-0' />
				<div class='ml-2 text-4xl opacity-0'>Incorrect!</div>
			{/if}
		</div>
	</div>
</div>