<script>
  import Hero from "./Hero.svelte";
  import HowItWorks from "./HowItWorks.svelte";
  import Popular from "./Popular.svelte";
  import Testimonials from "./Testimonials.svelte";
	import FAQ from './FAQ.svelte';


</script>
<style lang="postcss">
    .landing-section {
        @apply py-5 even:bg-surface-700/70 ;
    }
</style>
<div class="landing-section">
  <Hero />
</div>
<div class="landing-section">
  <HowItWorks />
</div>
<div class="landing-section">
	<FAQ/>
</div>
<div class="landing-section">
  <Testimonials />
</div>
<div class="landing-section">
  <Popular />
</div>