<style lang='postcss'>

    h1 {
        @apply text-4xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-bold;
    }

    .section {
        @apply mt-3 mb-12 mx-2
    }

    hr {
        @apply my-4;
    }

    p {
        @apply text-surface-300 my-3;
    }

    ul {
        @apply list-disc list-inside m-3 text-surface-300;
    }

</style>

<div class='px-6 max-w-6xl mx-auto ' id='FAQ'>
	<h1>FAQ</h1>
	<div class='section'>
		<h3>Searching for Clips</h3>
		<hr />
		<h4>How do I search for specific clips</h4>
		<p>The app uses a semantic search engine, meaning you can search using natural language. Simply type what you
			remember from the scene, and the app will return clips with similar meaning. You can also refine your searches
			using filters:</p>
		<ul>
			<li><span class='code'>series:"Series Name"</span>: Searches only within a specific series</li>
			<li><span class='code'>+keyword</span>: Requires the keyword to appear in the results</li>
		</ul>
		<p>For a complete guide to search syntax click the <a href='/search?showHelp' class='text-primary-500 underline'>search
			help link</a></p>
	</div>
	<div class='section'>
		<h3>Filtering Search Results</h3>
		<hr />
		<h4>Can I filter my search results?</h4>
		<p>Yes, you can filter your search results using specific syntax in the search bar. For example, to search for clips
			from "Naruto" that include the word "believe," you would type <span class='code'>show:"Naruto" +believe.</span>
		</p>
		<p>For more advanced filtering options, refer to the documentation located <a href='/search?showHelp'
																																									class='text-primary-500 underline'>here</a>
		</p>
	</div>
	<div class='section'>
		<h3>Clips</h3>
		<hr/>
		<h4>How long are the video clips</h4>
		<p>Video clips are short, typically lasting 1-3 seconds. These are similar to high-quality GIFs with audio.</p>
		<h4>Can I pause or rewind the video clips?</h4>
		<p>Due to the short duration of the clip, playback controls like pause and rewind are not available</p>
	</div>
	<div class='section'>
		<h3>Saved Clips</h3>
		<hr/>
		<h4>Can I save clips?</h4>
		<p>Yes, if you're logged in you can click the Save button under a clip to save it to your collection for later viewing</p>
		<h4>Can I personalize my saved Clips?</h4>
		<p>Yes, you can add titles and annotations to your saved clips. Annotations can include text or emojis, allowing you to add commentary or highlight specific moments.</p>
	</div>
	<div class='section'>
		<h3>Sharing Clips</h3>
		<hr/>
		<h4>Can I share my saved clips with others?</h4>
		<p>Yes, you can generate a public link for any saved clip and share it with others. People who have the link can view the clip and leave comments.</p>
		<h4>What are teh different ways I can share a clip?</h4>
		<p>You can share a clip in a few ways:</p>
		<ul>
			<li>Individual Clip Page: Copy and share the link to a clip's dedicated page.</li>
			<li>Direct Video Link: Share a direct link to the video file.</li>
			<li>Image Link: Share a link to a static image of the clip</li>
		</ul>
		<p>You can access these sharing options from the clip drawer or by using the Share button within search results</p>
	</div>
</div>