<script>
  import SearchInput from "../search/SearchInput.svelte";
</script>
<style lang="postcss">
    .gradient-shape {
        @apply transform -translate-x-1/2  bg-gradient-to-tr from-[rgb(var(--color-primary-500))] to-[rgb(var(--color-tertiary-600))] opacity-30;
        animation: 60s  shape-movement  linear infinite alternate;
    }

    @keyframes shape-movement {
        0% {
            clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
            transform: rotate(30deg);
        }

        25% {
            clip-path: polygon(84.1% 24.1%, 100% 91.6%, 100% 96.9%, 85.5% 10.1%, 80.7% 2%, 72.5% 32.5%, 20.2% 62.4%, 22.4% 28.1%, 37.5% 28.3%, 25.2% 104.5%, 27.5% 26.7%, 40.1% 34.9%, 27.9% 100%, 27.6% 76.8%, 76.1% 77.7%, 84.1% 24.1%);
        }

        50% {
            clip-path: polygon(84.1% 24.1%, 100% 34.35%, 100% 96.9%, 88.48% 7.83%, 76.93% 7.83%, 64.75% 26.65%, 13.39% 36.88%, 20.08% 70.46%, 27.5% 64.75%, 27.5% 84.22%, 40.1% 64.75%, 52.02% 69.04%, 55.21% 81.3%, 67.92% 84.22%, 76.1% 77.7%, 84.1% 49.17%);
        }

        75%{
            clip-path: polygon(88.26% 44.07%, 100% 2.38%, 89.04% 95.65%, 82.12% 11.02%, 50% 17.7%, 50.73% 90.17%, 37.24% 17.7%, 0% 50.71%, 34.13% 28.18%, 50% 73.81%, 39.41% 56.2%, 69.65% 52.7%, 53.67% 70.21%, 100% 91.88%, 69.6% 74.45%, 84.1% 49.17%);
        }

        100% {
            clip-path: polygon(100% 50.27%, 83.95% 1.77%, 47.26% 49.86%, 83.58% 30.85%, 96.74% 20.99%, 82.12% 97.92%, 11.97% 50.71%, 0% 50.71%, 21.77% 45.54%, 40.01% 67.12%, 68.27% 10.91%, 29.29% 44.07%, 39.47% 74.45%, 45.25% 100%, 69.6% 74.45%, 72.82% 50.27%);
            transform: rotate(50deg);
        }
    }
</style>
<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem]  sm:left-[calc(50%-30rem)] sm:w-[72.1875rem] gradient-shape"></div>
  </div>
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-surface-50 sm:text-6xl">Find Your Favorite TV/Anime Moments</h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">Find that unforgettable scene or uncover moments you missed.
        Aniclips ensures you locate exactly what you're looking for. Your favorite TV memories, just a search away.</p>
      <div class="mt-10">
        <SearchInput placeholder="Start Searching" isSearchPage={false}/>
      </div>
    </div>
  </div>
</div>