<script>
  import { Fa } from 'svelte-fa';
  import { faArrowRight } from "@fortawesome/pro-solid-svg-icons";
</script>

<style lang="postcss">
    img {
        @apply rounded-lg object-contain w-[500px] border-surface-400 border;
    }

    .step-description {
        @apply space-y-4;
    }

    .step-description p {
        @apply max-w-[500px] text-surface-300;
    }

    h3 {
      @apply text-2xl font-bold;
    }

    h1 {
      @apply text-4xl font-bold;
    }

</style>

<div class="max-w-6xl mx-auto pt-10 px-6 md:px-8">
  <h1 class="text-center">How it works</h1>
  <div class="grid grid-cols-1 md:grid-cols-[1fr_auto] mt-14 gap-y-8">
    <!-- region make a search-->
    <div class="step-description">
      <h3>Perform a search</h3>
      <p>Start by typing in a specific show title, character name, or even a memorable quote.
        Our powerful AI enriched search engine will sift through our vast database in seconds.</p>
    </div>
    <img src='/how-it-works/make-a-search_small.png' alt="A screen shot of typing in the search bar">
    <!-- endregion -->
    <!-- region browse results -->
    <div class="step-description">
      <h3>Browse results</h3>
      <p>Get a curated list of clips that match your search.
        View brief previews to help you select the perfect moment.</p>
    </div>
    <img src='/how-it-works/browse-results_small.png' alt="A screen shot of the search results">
    <!-- endregion -->
    <!-- understand the context -->
    <div class="step-description">
      <h3>Understand the context</h3>
      <p>Dive deeper into any clip.
        We provide the encompassing scene, ensuring you grasp the full context of each moment.</p>
    </div>
    <img src='/how-it-works/understand-the-context_small.png' alt="A screen shot of the clip details">
    <!-- region -->
    <!-- region share with friends -->
    <div class="step-description">
      <h3>Save or Share</h3>
      <p>Found a clip you love? Share your favorite moments with friends and family.
        We provide a link to the exact moment, so you can share it anywhere. Or save
        the clip to your personal collection for easy access later</p>
    </div>
    <div class="space-y-2">
      <img src='/how-it-works/save-or-share_small.png' alt="A screen shot of the share modal">
      <img src='/how-it-works/save-or-share-2_small.png' alt="A screen shot of the save modal">
    </div>
    <!-- endregion -->
  </div>
  <div class="text-center pt-14">
    <a class="btn variant-filled-primary" href="/search">Try it out <Fa class="ml-3 mt-1" icon={faArrowRight}/></a>
  </div>
</div>
