<script lang="ts">

  import { onMount } from "svelte";
  import { SERVER_URL } from "$lib/constants";
  import SubtitleCard from '$lib/client/SubtitleCard/SubtitleCard.svelte';
  import { DEFAULT_CONFIGURATION, SubtitleData, SubtitleDataExtractor } from '$lib/client/SubtitleCard/types';
  import type { Subtitle } from '$lib/types';

  let popularClipsPromise: Promise<Subtitle[]> = $state(new Promise(r => r([])));
  let containerElement: HTMLElement = $state();
  let isNearViewport = $state(false);
  onMount(() => {
    popularClipsPromise = fetch(`${SERVER_URL}/v1/landing/popular`,{credentials:"include"}).then(r => r.json());
    const observer = new IntersectionObserver((entries) => {
      if (!isNearViewport)
        isNearViewport = entries.some(e => e.isIntersecting);
    }, { rootMargin: "0px 0px 100% 0px" });
    observer.observe(containerElement);
    return () => observer.disconnect();
  })
  ;
</script>
<style>
  h1 {
    @apply text-4xl font-bold;
  }
</style>
<div class="max-w-6xl mx-auto pt-24 md:pt-36 px-6 md:px-8" bind:this={containerElement}>
  <h1 class="text-center">Popular Clips</h1>
  {#if isNearViewport}
    {#await popularClipsPromise then popularClips}
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 mt-10 -mx-6 md:mx-0">
        {#each popularClips as clip}
          {#key clip.id}
            <SubtitleCard subtitleData={new SubtitleData(clip,SubtitleDataExtractor)} configuration={DEFAULT_CONFIGURATION} />
          {/key}
        {/each}
      </div>
    {/await}
  {/if}
</div>
