<script lang="ts">
  import { SERVER_URL } from "$lib/constants";
  import { faArrowRight } from "@fortawesome/pro-solid-svg-icons";
  import {Fa} from 'svelte-fa';

  const encodedQuery = encodeURIComponent("what type of woman is your type series:\"Jujutsu Kaisen\"");
</script>
<style lang="postcss">
    img, video {
        @apply md:max-w-[300px];
    }

    h1 {
      @apply text-4xl font-bold;
    }
</style>
<div class="max-w-6xl mx-auto pt-32 px-6 mx:px-8">
  <h1 class="text-center">Testimonials</h1>
  <div class="md:grid  md:grid-cols-[1fr_auto] gap-x-8 gap-y-14 pt-10 leading-7 space-y-14 md:space-y-0">
    <!-- region Testimonial 1 -->
    <div>
      <p class="unstyled text-lg">" Before using this app, I would often get lost in the intricate details
        of long-running shows. But when Yuki Tsukumo appeared in season 2 of Jujutsu Kaisen,
        I was stumped trying to remember her previous involvement. Thanks to this incredible platform,
        I was quickly able to connect the dots and recall her vital role in Toudou's backstory from
        season 1. It not only enriched my viewing experience but also reignited my appreciation for
        the series' depth and character development. This app is a game-changer for TV enthusiasts
        like me! "</p>
      <p class="text-right font-bold mt-2">- Anonymous</p>
      <p class="text-right ">September 2023</p>
    </div>
    <div class="md:grid md:grid-cols-2 md:gap-3 space-y-3 md:space-y-0 ">
      <div>
        <video autoplay loop muted playsinline>
          <source src="{SERVER_URL}/v1/content/subtitle/Jujutsu%20Kaisen-Season%201-20-10.mp4" />
        </video>
      </div>
      <div class="space-y-3">
        <video autoplay loop muted playsinline>
          <source src="{SERVER_URL}/v1/content/subtitle/Jujutsu%20Kaisen-Season%202-5-96.mp4" />
        </video>
        <video autoplay loop muted playsinline>
          <source src="{SERVER_URL}/v1/content/subtitle/Jujutsu%20Kaisen-Season%202-5-78.mp4" />
        </video>
      </div>
    </div>
    <div class="text-center col-span-2">
      <a class="btn variant-filled-primary " href="/search?q={encodedQuery}">See for yourself
        <Fa class="ml-3 mt-1" icon={faArrowRight} />
      </a>
    </div>
    <!-- endregion -->
    <!-- region Testimonial 2 -->
    <div>
      <p class="unstyled text-lg">" As a dedicated 'One Piece' fan, I've consumed the series in all
        its forms. When the live-action series depicted Zoro's battle with Mr.7 from Baroque Works,
        I found myself questioning: Had Zoro really not encountered Baroque Works before the Alabasta events
        in the anime? Racking my brain, I turned to this app for clarity. Within moments, I discovered that my
        doubts were misplaced, with the platform showcasing the subtleties and differences between the adaptations.
        For 'One Piece' enthusiasts like me, this app is an indispensable companion, ensuring every memory is
        accurate and every detail is crystal clear. "
      </p>
      <p class="text-right font-bold">- Anonymous</p>
      <p class="text-right">September 2023</p>
    </div>
    <div class="ml-auto space-y-3">
      <video autoplay loop muted playsinline>
        <source
          src="{SERVER_URL}/v1/content/subtitle/ONE%20PIECE%20%282023%29-Season%201-1-224.mp4?plus=2669&minus=4880">
      </video>
      <video autoplay loop muted playsinline>
        <source
          src="{SERVER_URL}/v1/content/subtitle/One%20Piece-Season%207-25-146.mp4?plus=1670&minus=5670">
      </video>
    </div>
    <div class="text-center col-span-2">
      <a class="btn variant-filled-primary " href="/subtitle/One%20Piece-Season%207-25-146">Check the reference
        <Fa class="ml-3 mt-1" icon={faArrowRight} />
      </a>
    </div>
    <!-- endregion -->
    <!-- region Testimonial 3 -->
    <div>
      <p class="unstyled text-lg">" Was on a hunt for Anya's wildest shocked face from 'SPY x FAMILY'.
        Jumped on this app, and boom! Found it. Seriously, this app's a lifesaver! "</p>
      <p class="text-right font-bold">- Anonymous</p>
      <p class="text-right">June 2023</p>
    </div>
    <div class="ml-auto">
      <video autoplay loop muted playsinline>
        <source src="{SERVER_URL}/v1/content/subtitle/SPY%20x%20FAMILY-Season%201-17-203.mp4">
      </video>
    </div>
    <div class="text-center col-span-2">
      <a class="btn variant-filled-primary " href="/subtitle/SPY%20x%20FAMILY-Season%201-17-203">Check the reference
        <Fa class="ml-3 mt-1" icon={faArrowRight} />
      </a>
    </div>
    <!-- endregion -->
  </div>
</div>