<script lang='ts'>
  import { run } from 'svelte/legacy';


  import { getContext, onMount } from 'svelte';
  import ShowCard from './ShowCard.svelte';
  import { loadStateFromUrl } from '../search/searchUtilities';
  import { page } from '$app/stores';
  import type { HeadData, Show } from '$lib/types';
  import type { PageData } from './$types';
  import type { Writable } from 'svelte/store';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();

  type Stats = { shows: number, episodes: number }

  let shows: Show[] = data.shows as Show[]
  let loading = false;
  let filteredShows: Show[] = $state([]);
  let popularTags: string[] = $state([]);
	let totalStats: Stats = getStats(shows);
  let filteredStats: Stats = $state(totalStats);
  const head:Writable<HeadData> = getContext('head');


  onMount(() => {
    $head.title = 'Shows';
    const navigationSubscription = page.subscribe((page) => {
      searchInput = loadStateFromUrl(page.url).q || '';
    });
    return () => {
      navigationSubscription();
    };
  });

  function getStats(shows: Show[]): Stats {
    return {
      shows: shows.length,
      episodes: shows.reduce((acc, show) => acc + show.indexedEpisodeCount, 0)
    };
  }


  function getPopularTags(shows: Show[], limit: number = 3): string[] {
    const tags = shows.flatMap(s => s.tags);
    const tagCounts = tags.reduce((acc, tag) => {
      acc[tag] = (acc[tag] || 0) + 1;
      return acc;
    }, {} as Record<string, number>);
    return Object.entries(tagCounts)
      .sort((a, b) => b[1] - a[1])
      .slice(0, limit)
      .map(([tag]) => tag);
  }


  function range(count: number): Array<number> {
    const numbers = [];
    for (let i = 0; i < count; i++) numbers.push(i);
    return numbers;
  }

  function filterFunction(query: string): (show: Show) => boolean {
    if (!query) return () => true;
    const queryWords = query.toLowerCase().split(' ');
    return (show: Show) => {
      const showWords = show.show.toLowerCase().split(' ');
      showWords.push(...show.tags.map(t => t.toLowerCase()));
      return queryWords.every(queryWord => showWords.some(showWord => showWord.includes(queryWord)));
    };
  }

  let searchInput: string = $state();
  run(() => {
    filteredShows = shows.filter(filterFunction(searchInput));
    popularTags = getPopularTags(filteredShows);
		filteredStats = getStats(filteredShows);
  });
</script>

<div class='mx-2'>
	{#if !loading}
		<div class='flex justify-between items-center text-lg px-2 mb-2'>
			<div class='flex gap-x-3'>
			<p>Shows: {filteredStats.shows}/{totalStats.shows}</p>
				<p>Episodes: {filteredStats.episodes}/{totalStats.episodes}</p>
			</div>
			<div class='hidden lg:flex gap-x-3'>
				<p>Popular Tags</p>
				{#each popularTags as tag}
					<a href='/shows?q={encodeURIComponent(tag)}' class='underline'>#{tag}</a>
				{/each}
			</div>
		</div>
	{/if}
	<div class='grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-4'>
		{#if loading}
			{#each range(30) as _}
				<div class='card p-4 lg:p-2 flex flex-col justify-between gap-y-3'>
					<div class='bg-surface-600  rounded-lg ' style='width: 100%;aspect-ratio: 19 / 29'>
					</div>
					<p class='unstyled text-2xl lg:text-lg placeholder'></p>
				</div>
			{/each}
		{:else}
			{#each filteredShows as show (show.show)}
				<ShowCard {show} />
			{/each}
		{/if}
	</div>
</div>
