<script lang='ts'>
  import type { Show } from '../admin/shows/[showId]/showState';
  import { Fa } from 'svelte-fa';
  import { faClapperboardPlay, faSearch } from '@fortawesome/pro-solid-svg-icons';
  import { SERVER_URL } from '$lib/constants';
  import { showPosterUrl } from '$lib/client/content';

	interface Props {
		show: Show;
	}

	let { show }: Props = $props();
</script>
<style lang='postcss'>
    .show-link {
        @apply cursor-pointer text-center flex-grow hover:bg-surface-600 pt-2 p-4 lg:p-2;
    }

    .show-link span {
        @apply pr-1
    }
</style>
<div class='card p-4 lg:p-2 card-hover pb-2 lg:pb-0 flex flex-col overflow-x-clip'>
	<a href='/shows/{encodeURIComponent(show.show)}' class='flex flex-col justify-between flex-grow'>
		<div class='flex justify-center mb-3' style='aspect-ratio: 19/29'>
			<img src='{showPosterUrl(show)}?height=600' class='max-h-[600px]' loading='lazy' alt='{show.show}' />
		</div>
		<p class='unstyled text-2xl lg:text-lg line-clamp-2 lg:line-clamp-1 font-bold'>{show.show}</p>
		<p class='unstyled text-sm text-surface-400'>
			{#each show.tags as tag}
				<a href='/search?q={encodeURIComponent("#"+tag)}' class='mr-1 hover:underline'>#{tag}</a>
			{/each}
		</p>
	</a>
	<div class='mt-1    border-t border-surface-400/40 -mx-4 lg:-mx-2 flex divide-x divide-surface-400/40 '>
		<a class='show-link unstyled' href='search/show/{encodeURIComponent(show.show)}?show={show.show}'>
			<span>Search</span>
			<Fa icon={faSearch} class='inline-block' />
		</a>
		<a class='show-link unstyled' href='/shows/{encodeURIComponent(show.show)}/episodes'>
			<span>Episodes</span>
			<Fa icon={faClapperboardPlay} class='inline-block' />
		</a>
	</div>
</div>