<script lang="ts">

  import { onMount } from "svelte";
  interface Props {
    children?: import('svelte').Snippet;
  }

  let { children }: Props = $props();

  const BoardToken = "d98b0644-0b94-f28c-2c74-7bd487ab02c4";

  onMount(() => {
    Canny("render", {
      boardToken: BoardToken,
      basePath: "/feedback/request", // See step 2
      ssoToken: null, // See step 3
      theme: "dark" // options: light [default], dark, auto
    });
  });
</script>
<svelte:head>
  <title>Feature Requests</title>
</svelte:head>
  <div class="mb-3">
    <h1>Feature Requests</h1>
  </div>
  <div data-canny></div>
{@render children?.()}