<script lang="ts">
  import { onMount } from "svelte";
  import { page } from "$app/stores";
  import { type ModalComponent, type ModalSettings, getModalStore } from "@skeletonlabs/skeleton";
  import EditActorRoleModal from "../../EditActorRoleModal.svelte";
  import type { EditOutcome } from "../../types";
  import { SERVER_URL } from "$lib/constants";

  const modalStore = getModalStore();

  type ActorRole = { show: string, actor: string, character: string, characterRole: string };

  let actorRoles = $state([]);
  onMount(() => {
    fetch(`${SERVER_URL}/v1/actor/actor/${$page.params.actor}`, { headers: { accept: "application/json" },credentials:'include' }).then(r => r.json())
      .then((sameActors: Array<ActorRole>) => {
        actorRoles = sameActors;
      });
  });

  function getCharacterImageUrl(showName, characterName): string {
    return `${SERVER_URL}/v1/content/character/${encodeURIComponent(showName)}/${encodeURIComponent(characterName)}.png`;
  }

  async function editRole(actorRole: ActorRole, show, character) {
    const actorName = actorRole.actor;
    const component: ModalComponent = {
      ref: EditActorRoleModal,
      props: { actor: actorName, character, show, characterRole: actorRole.characterRole }
    };

    const settings: ModalSettings = {
      type: "component",
      component,
      response(r: EditOutcome) {
        switch (r.type) {
          case "delete":
            actorRoles = actorRoles.filter(a => a !== actorRole);
            break;
          case "renameCharacter":
            actorRole.character = r.newName;
            break;
          case "setCharacterRole":
            actorRole.characterRole = r.newRole;
            break;
        }
        actorRoles = [...actorRoles];
      }

    };
    modalStore.trigger(settings);
  }

  function getTitleClass(actorRole: ActorRole) {
    if (!actorRole.characterRole)
      return "bg-surface-700";
    switch (actorRole.characterRole.toLowerCase()) {
      case "main":
        return "bg-primary-700";
      case "major":
        return "bg-secondary-700";
      case "supporting":
        return "bg-tertiary-700";
    }
  }
</script>
<div class="container mx-auto">
  <h1 class="text-tertiary-300-600-token">{$page.params.actor}</h1>
  {#each actorRoles as a}
    <div class="my-3">
      <h3 class="{getTitleClass(a)} inline-block rounded px-1 mb-1">{a.show} - {a.character}</h3>
      <div class="flex flex-wrap gap-2">
        <div>
          <img loading="lazy" style="height:300px" class="mx-auto"
               src={getCharacterImageUrl(a.show,a.character)}>
          <div class="pt-2 flex justify-around items-center">
            <b>{a.character}</b>
            <button class="btn variant-ghost-tertiary" onclick={()=>editRole(a,a.show,a.character)}>Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  {/each}
</div>